<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <link rel="icon" type="image/png" href="img/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="img/favicon/favicon.svg" />
    <link rel="shortcut icon" href="img/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon.png" />
    <link rel="manifest" href="img/favicon/site.webmanifest" />
    
    <link href="css/swiper-bundle.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css" />
    <link href="css/style.css" rel="stylesheet" />
    <title>Document</title>
</head>

<body>
    <div class="wrapper">
        <header class="header">
            <div class="header__inner">
                <a class="header__logo" href="#">
                    <img alt="logo" src="img/header/logo.svg" />
                </a>
                <nav class="header__nav-wrapper">
                    <div class="header__nav">
                        <div class="header__nav-menu">
                            Меню

                            <button class="header__nav-close">
                                <img alt="close" src="img/header/close.svg" />
                            </button>
                        </div>
                        <a class="header__link item" href="#">
                            <img alt="icon" class="mobile-show" src="img/header/app.svg" />
                            Приложения
                        </a>
                        <a class="header__link item" href="#">
                            <img alt="icon" class="mobile-show" src="img/header/games.svg" />
                            Игры
                        </a>
                        <a class="header__link item" href="#">
                            <img alt="icon" class="mobile-show" src="img/header/kiosk.svg" />
                            Киоск
                        </a>
                        <a class="header__link item" href="#">
                            <img alt="icon" class="mobile-show" src="img/header/blog.svg" />
                            Блог
                        </a>
                        <a class="header__link item" href="#">
                            <img alt="icon" class="mobile-show" src="img/header/dev.svg" />
                            Разработчикам
                        </a>
                        <a class="header__link item" href="#">
                            <img alt="icon" class="mobile-show" src="img/header/help.svg" />
                            Помощь
                        </a>
                    </div>
                </nav>
                <div class="header__btns">
                    <!-- TODO: язык? -->
                    <button class="header__btn item">
                        <img alt="icon" src="img/header/search.svg" />
                        <span class="mobile-hide">Найти</span>
                    </button>
                    <a class="header__btn header__btn_download" href="#">
                        <span>Скачать<span class="mobile-hide"> RuStore</span></span>
                    </a>
                    <button class="header__btn mobile-show burger-btn">
                        <img width="24" alt="burger" src="img/header/burger.svg" class="burger-btn__open" />
                        <img width="24" alt="close" src="img/header/close.svg" class="burger-btn__close" />
                    </button>
                </div>
            </div>
        </header>

        <section class="article first-section">
            <div class="article__container container">
                <div class="inner">
                    <ul class="breadcrumbs">
                        <li class="breadcrumbs__item">
                            <a href="#" class="breadcrumbs__link">Главная</a>
                        </li>
                        <li class="item">
                            <svg width="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                                class="_4ZMDVVH_">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M17.7364 14.7365C17.3849 15.088 16.8151 15.088 16.4636 14.7365L12 10.2729L7.53639 14.7365C7.18492 15.088 6.61507 15.088 6.2636 14.7365C5.91213 14.385 5.91213 13.8152 6.2636 13.4637L11.3636 8.3637C11.7151 8.01223 12.285 8.01223 12.6364 8.3637L17.7364 13.4637C18.0879 13.8152 18.0879 14.385 17.7364 14.7365Z"
                                    fill="currentColor"></path>
                            </svg>
                        </li>
                        <li class="breadcrumbs__item">
                            <a href="#" class="breadcrumbs__link">Блог RuStore</a>
                        </li>
                    </ul>

                    <div class="blog__head">
                        <div class="article__labels">
                            <a href="#" class="article__label">Приложения</a>
                            <a href="#" class="article__label">Обзоры</a>
                        </div>
                        <div class="blog-article__date">
                            16 фев 2026
                            <div class="item">
                                <img src="img/blog/clock.svg" alt="clock">
                                9 мин.
                            </div>
                        </div>
                    </div>

                    <h1 class="title">Обзор приложения «Авито»: поиск товаров, услуг, жилья и работы</h1>

                    <p class="article__text article__text_bold">«Авито» — это популярная российская онлайн-платформа для частных (и не
                        только) объявлений в самых
                        разных категориях. Здесь можно продать, купить и обменять что угодно: от детских ботиночек до
                        квартиры. А ещё есть возможность приобрести или продать автомобиль, забронировать номер в отеле,
                        снять квартиру и найти мастера любого профиля. Рассказываем, как работает и что умеет приложение
                        «Авито».</p>

                    <a href="img/article/1.webp" class="article__img ibg" data-fancybox="gallery">
                        <img src="img/article/1.webp" alt="pic">
                    </a>

                    <p class="article__sub-title">Что такое «Авито»</p>

                    <p class="article__text">«Авито» — онлайн-платформа, которая позволяет обычным людям и компаниям
                        <a href="#" class="article__link">размещать объявления о продаже</a> товаров, услуг и
                        недвижимости. Сервис является крупнейшей
                        российской площадкой такого профиля — им ежемесячно пользуются миллионы людей.
                    </p>

                    <p class="article__text">На «Авито» можно найти почти всё: <a href="#" class="article__link">от
                            одежды и мебели</a> до автомобилей с
                        пробегом и недвижимости. Платформа охватывает все регионы России, и на ней размещаются
                        предложения как от частных лиц, так и бизнеса.</p>

                    <p class="article__sub-title">Как установить и настроить приложение «Авито»</p>

                    <p class="article__text">Приложение «Авито» доступно в магазине RuStore. Его можно найти в поиске
                        магазина или перейти по <a href="#" class="article__link">этой ссылке</a>. Утилита работает на
                        всех Android-устройствах и не требует
                        настройки.</p>

                    <p class="article__text">
                        После установки можно создать на площадке свой профиль, если у вас его ещё нет, в том числе
                        зайти на сайт <a href="#" class="article__link">через свой VK-аккаунт</a>. В профиле можно будет
                        настроить уведомления, добавить
                        адреса для доставки товаров и указать контакты.
                    </p>

                    <p class="article__sub-title">Поиск недвижимости на «Авито»</p>

                    <p class="article__text">«Авито» — одна из самых популярных платформ для поиска недвижимости. Здесь
                        можно найти объявления о <a href="#" class="article__link">продаже и аренде жилья</a> в любом
                        регионе страны — от крупных городов до
                        небольших населённых пунктов. В категории «Недвижимость» представлены как квартиры и дома, так и
                        земельные участки, дачи, коммерческая недвижимость и даже помещения для бизнеса.</p>

                    <div class="article__group article__text">
                        <p>Для удобства поиска в приложении доступны различные фильтры:</p>

                        <ul class="article__list">
                            <li class="article__item">Регион и город: вы можете выбрать нужный город или район, чтобы
                                ограничить поиск, либо искать нужный вариант сразу на карте.</li>
                            <li class="article__item">Тип недвижимости: квартиры, дома, комнаты, дачи и т. д.
                            </li>
                            <li class="article__item">Цена: можно установить минимальную и максимальную.
                            </li>
                            <li class="article__item">Этажность и другие параметры, среди которых количество комнат,
                                площадь жилья.
                            </li>
                        </ul>
                    </div>

                    <a href="img/article/3.webp" class="article__img ibg" data-fancybox="gallery">
                        <img src="img/article/3.webp" alt="pic">
                    </a>

                    <p class="article__text">Кроме того, на карте можно увидеть расположение объектов и оценить,
                        насколько удобен район для проживания, есть ли <a href="#" class="article__link">рядом
                            магазины</a>, остановки транспорта и другие
                        объекты инфраструктуры.</p>

                    <p class="article__text">Для тех, кто хочет не купить недвижимость, а арендовать, в поиске также
                        предусмотрены фильтры по типу аренды (посуточно или на длительный срок) и категориям (без
                        посредников или с агентом).</p>

                    <p class="article__sub-title">Часто задаваемые вопросы</p>

                    <div class="article-faq">
                        <div class="article-faq__item">
                            <button class="article-faq__btn">
                                Как скачать приложение «Авито» на Android?
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="lucide lucide-chevron-down-icon lucide-chevron-down">
                                    <path d="m6 9 6 6 6-6" />
                                </svg>
                            </button>
                            <div class="article-faq__content">
                                <p class="article__text">Чтобы скачать приложение «Авито» на Android, откройте <a
                                        href="#" class="article__link">
                                        магазин
                                        приложений RuStore
                                    </a> на своём устройстве. В поисковой строке введите «Авито» и выберите
                                    соответствующее приложение из результатов. Нажмите кнопку «Установить», и через пару
                                    минут приложение будет загружено и готово к использованию.</p>
                            </div>
                        </div>
                        <div class="article-faq__item">
                            <button class="article-faq__btn">
                                Как скачать приложение «Авито» на Android?
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="lucide lucide-chevron-down-icon lucide-chevron-down">
                                    <path d="m6 9 6 6 6-6" />
                                </svg>
                            </button>
                            <div class="article-faq__content">
                                <p class="article__text">Чтобы скачать приложение «Авито» на Android, откройте <a
                                        href="#" class="article__link">
                                        магазин
                                        приложений RuStore
                                    </a> на своём устройстве. В поисковой строке введите «Авито» и выберите
                                    соответствующее приложение из результатов. Нажмите кнопку «Установить», и через пару
                                    минут приложение будет загружено и готово к использованию.</p>
                            </div>
                        </div>
                    </div>

                    <p class="article__sub-title">Интересные статьи</p>

                    <div class="slider-wrapper">
                        <div class="blog-slider swiper">
                            <div class="swiper-wrapper">
                                <a class="blog-slider__slide swiper-slide" href="#">
                                    <div class="blog-slider__img ibg">
                                        <img alt="pic" src="img/blog/1.webp" />
                                    </div>
                                    <p class="blog-slider__title">10 игр об автомобилях из RuStore: от погонь до
                                        истребления зомби</p>
                                </a>
                                <a class="blog-slider__slide swiper-slide" href="#">
                                    <div class="blog-slider__img ibg">
                                        <img alt="pic" src="img/blog/1.webp" />
                                    </div>
                                    <p class="blog-slider__title">10 игр об автомобилях из RuStore: от погонь до
                                        истребления зомби</p>
                                </a>
                                <a class="blog-slider__slide swiper-slide" href="#">
                                    <div class="blog-slider__img ibg">
                                        <img alt="pic" src="img/blog/1.webp" />
                                    </div>
                                    <p class="blog-slider__title">10 игр об автомобилях из RuStore: от погонь до
                                        истребления зомби</p>
                                </a>
                                <a class="blog-slider__slide swiper-slide" href="#">
                                    <div class="blog-slider__img ibg">
                                        <img alt="pic" src="img/blog/1.webp" />
                                    </div>
                                    <p class="blog-slider__title">10 игр об автомобилях из RuStore: от погонь до
                                        истребления зомби</p>
                                </a>
                            </div>
                        </div>
                        <button class="slider-btn slider-btn_prev blog-slider__btn_prev">
                            <svg class="ArrowButton_icon__wIZUM" fill="none" height="32" viewbox="0 0 32 32" width="32"
                                xmlns="http://www.w3.org/2000/svg">
                                <path clip-rule="evenodd"
                                    d="M19.7071 8.29289C20.0976 8.68342 20.0976 9.31658 19.7071 9.70711L13.4142 16L19.7071 22.2929C20.0976 22.6834 20.0976 23.3166 19.7071 23.7071C19.3166 24.0976 18.6834 24.0976 18.2929 23.7071L11.6464 17.0607C11.0606 16.4749 11.0606 15.5251 11.6464 14.9393L18.2929 8.29289C18.6834 7.90237 19.3166 7.90237 19.7071 8.29289Z"
                                    fill="currentColor" fill-rule="evenodd"></path>
                            </svg>
                        </button>
                        <button class="slider-btn slider-btn_next blog-slider__btn_next">
                            <svg class="ArrowButton_icon__wIZUM" fill="none" height="32" viewbox="0 0 32 32" width="32"
                                xmlns="http://www.w3.org/2000/svg">
                                <path clip-rule="evenodd"
                                    d="M19.7071 8.29289C20.0976 8.68342 20.0976 9.31658 19.7071 9.70711L13.4142 16L19.7071 22.2929C20.0976 22.6834 20.0976 23.3166 19.7071 23.7071C19.3166 24.0976 18.6834 24.0976 18.2929 23.7071L11.6464 17.0607C11.0606 16.4749 11.0606 15.5251 11.6464 14.9393L18.2929 8.29289C18.6834 7.90237 19.3166 7.90237 19.7071 8.29289Z"
                                    fill="currentColor" fill-rule="evenodd"></path>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </section>

        <footer class="footer">
            <div class="footer__container container">
                <div class="footer__inner">
                    <div class="footer__column footer__column_small">
                        <img alt="logo" class="footer__logo" src="img/footer/logo.svg" />
                        <div class="footer__qr">
                            <img alt="qr" src="img/footer/qr.svg" />
                            Наведите камеру<br />для загрузки RuStore<br />и следуйте инструкции
                        </div>
                        <div class="footer__communication">
                            <img alt="digital" class="footer__digital" src="img/footer/digital.svg" />
                            <div class="footer__social">
                                <a class="item" href="#">
                                    <img alt="social" src="img/footer/vk.svg" />
                                </a>
                                <a class="item" href="#">
                                    <img alt="social" src="img/footer/ok.svg" />
                                </a>
                                <a class="item" href="#">
                                    <img alt="social" src="img/footer/max.svg" />
                                </a>
                                <a class="item" href="#">
                                    <img alt="social" src="img/footer/tg.svg" />
                                </a>
                                <a class="item" href="#">
                                    <img alt="social" src="img/footer/dzen.svg" />
                                </a>
                            </div>
                            <div class="footer__btns">
                                <button class="footer__btn">Предложить приложение</button>
                                <button class="footer__btn">Обратиться в поддержку</button>
                            </div>
                            <p class="footer__copy">
                                © VK 2022–2026 RuStore —<br />приложения и игры для Андроид
                            </p>
                        </div>
                    </div>
                    <div class="footer__column">
                        <div class="footer-dropdown active">
                            <button class="footer-dropdown__btn">
                                RuStore магазин приложений
                                <img alt="arrow" class="footer-dropdown__arrow" src="img/footer/arrow.svg" />
                            </button>
                            <div class="footer-dropdown__links">
                                <a class="footer-dropdown__link" href="#">О RuStore</a>
                                <a class="footer-dropdown__link" href="#">Карьера в RuStore</a>
                                <a class="footer-dropdown__link" href="#">RuStore для TV</a>
                                <a class="footer-dropdown__link" href="#">RuStore для телефона</a>
                                <a class="footer-dropdown__link" href="#">RuStore для ОС Аврора</a>
                                <a class="footer-dropdown__link" href="#">Медиа-кит (для СМИ и блогеров)</a>
                                <a class="footer-dropdown__link" href="#">Нашли уязвимость? (программа Bug Bounty)</a>
                                <a class="footer-dropdown__link" href="#">Пользовательское соглашение</a>
                                <a class="footer-dropdown__link" href="#">Конфиденциальность для пользователей</a>
                                <a class="footer-dropdown__link" href="#">Дистрибутив для производителей</a>
                            </div>
                        </div>
                        <div class="footer-dropdown">
                            <button class="footer-dropdown__btn">
                                Популярные категории
                                <img alt="arrow" class="footer-dropdown__arrow" src="img/footer/arrow.svg" />
                            </button>
                            <div class="footer-dropdown__links">
                                <a class="footer-dropdown__link" href="#">Игры для Android</a>
                                <a class="footer-dropdown__link" href="#">Приложения банков</a>
                                <a class="footer-dropdown__link" href="#">Государственные</a>
                                <a class="footer-dropdown__link" href="#">Родителям</a>
                                <a class="footer-dropdown__link" href="#">Приложения для шопинга</a>
                                <a class="footer-dropdown__link" href="#">Приложения для ТВ</a>
                                <a class="footer-dropdown__link" href="#">Топ бесплатных игр</a>
                                <a class="footer-dropdown__link" href="#">Лучшие платные игры</a>
                            </div>
                        </div>
                    </div>
                    <div class="footer__column">
                        <div class="footer-dropdown">
                            <button class="footer-dropdown__btn">
                                Помощь
                                <img alt="arrow" class="footer-dropdown__arrow" src="img/footer/arrow.svg" />
                            </button>
                            <div class="footer-dropdown__links">
                                <a class="footer-dropdown__link" href="#">Установка RuStore на TV</a>
                                <a class="footer-dropdown__link" href="#">Установка RuStore на телефон</a>
                                <a class="footer-dropdown__link" href="#">Установка RuStore в машину</a>
                                <a class="footer-dropdown__link" href="#">Помощь пользователям RuStore</a>
                                <a class="footer-dropdown__link" href="#">Покупки и возвраты</a>
                                <a class="footer-dropdown__link" href="#">Авторизация в RuStore</a>
                                <a class="footer-dropdown__link" href="#">Сбой обновления приложений</a>
                                <a class="footer-dropdown__link" href="#">Детский режим</a>
                                <a class="footer-dropdown__link" href="#">Автообновление приложений</a>
                                <a class="footer-dropdown__link" href="#">Как написать отзыв к приложению</a>
                            </div>
                        </div>
                        <div class="footer-dropdown">
                            <button class="footer-dropdown__btn">
                                Блог RuStore
                                <img alt="arrow" class="footer-dropdown__arrow" src="img/footer/arrow.svg" />
                            </button>
                            <div class="footer-dropdown__links">
                                <a class="footer-dropdown__link" href="#">Обзоры игр для Android 2025</a>
                                <a class="footer-dropdown__link" href="#">Обзоры мобильных приложений 2025</a>
                                <a class="footer-dropdown__link" href="#">Лайфхаки и советы для
                                    Android-пользователей</a>
                                <a class="footer-dropdown__link" href="#">Обзоры и инструкции по установке игр и
                                    программ</a>
                                <a class="footer-dropdown__link" href="#">Материалы RuStore: инструкции, обзоры,
                                    новости</a>
                                <a class="footer-dropdown__link" href="#">Детальные разборы приложений и игр</a>
                                <a class="footer-dropdown__link" href="#">Топ приложений для Android TV</a>
                                <a class="footer-dropdown__link" href="#">Приложения для мам и детей</a>
                                <a class="footer-dropdown__link" href="#">Последние новости RuStore</a>
                            </div>
                        </div>
                    </div>
                    <div class="footer__column">
                        <div class="footer-dropdown">
                            <button class="footer-dropdown__btn">
                                Разработчикам
                                <img alt="arrow" class="footer-dropdown__arrow" src="img/footer/arrow.svg" />
                            </button>
                            <div class="footer-dropdown__links">
                                <a class="footer-dropdown__link" href="#">Зарабатывать с RuStore</a>
                                <a class="footer-dropdown__link" href="#">Стать разработчиком</a>
                                <a class="footer-dropdown__link" href="#">Доступ к RuStore Консоль</a>
                                <a class="footer-dropdown__link" href="#">RuStore SDK (документация)</a>
                                <a class="footer-dropdown__link" href="#">Блог RuStore для разработчиков</a>
                                <a class="footer-dropdown__link" href="#">Соглашение о распространении</a>
                                <a class="footer-dropdown__link" href="#">Регистрация иностранной компании</a>
                                <a class="footer-dropdown__link" href="#">Конфиденциальность для разработчиков</a>
                            </div>
                        </div>
                        <div class="footer-dropdown">
                            <button class="footer-dropdown__btn">
                                Подборки
                                <img alt="arrow" class="mobile-show" src="img/footer/arrow.svg" />
                            </button>
                            <div class="footer-dropdown__links">
                                <a class="footer-dropdown__link" href="#">Игровой набор</a>
                                <a class="footer-dropdown__link" href="#">Финансы</a>
                                <a class="footer-dropdown__link" href="#">Самое необходимое</a>
                                <a class="footer-dropdown__link" href="#">Полезные инструменты</a>
                                <a class="footer-dropdown__link" href="#">Приложения для часов</a>
                                <a class="footer-dropdown__link" href="#">Высокий рейтинг</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- <script src="js/jquery-3.6.1.min.js"></script> -->
    <script src="js/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.umd.js"></script>
    <script src="js/script.js"></script>
</body>

</html>