<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <link rel="icon" type="image/png" href="img/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="img/favicon/favicon.svg" />
    <link rel="shortcut icon" href="img/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon.png" />
    <link rel="manifest" href="img/favicon/site.webmanifest" />

    <link href="css/swiper-bundle.min.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />
    <title>Document</title>
</head>

<body>
    <div class="wrapper">
        <header class="header">
            <div class="header__inner">
                <a class="header__logo" href="#">
                    <img alt="logo" src="img/header/logo.svg" />
                </a>
                <nav class="header__nav-wrapper">
                    <div class="header__nav">
                        <div class="header__nav-menu">
                            Меню

                            <button class="header__nav-close">
                                <img alt="close" src="img/header/close.svg" />
                            </button>
                        </div>
                        <a class="header__link item" href="#">
                            <img alt="icon" class="mobile-show" src="img/header/app.svg" />
                            Приложения
                        </a>
                        <a class="header__link item" href="#">
                            <img alt="icon" class="mobile-show" src="img/header/games.svg" />
                            Игры
                        </a>
                        <a class="header__link item" href="#">
                            <img alt="icon" class="mobile-show" src="img/header/kiosk.svg" />
                            Киоск
                        </a>
                        <a class="header__link item" href="#">
                            <img alt="icon" class="mobile-show" src="img/header/blog.svg" />
                            Блог
                        </a>
                        <a class="header__link item" href="#">
                            <img alt="icon" class="mobile-show" src="img/header/dev.svg" />
                            Разработчикам
                        </a>
                        <a class="header__link item" href="#">
                            <img alt="icon" class="mobile-show" src="img/header/help.svg" />
                            Помощь
                        </a>
                    </div>
                </nav>
                <div class="header__btns">
                    <!-- TODO: язык? -->
                    <button class="header__btn item">
                        <img alt="icon" src="img/header/search.svg" />
                        <span class="mobile-hide">Найти</span>
                    </button>
                    <a class="header__btn header__btn_download" href="#">
                        <span>Скачать<span class="mobile-hide"> RuStore</span></span>
                    </a>
                    <button class="header__btn mobile-show burger-btn">
                        <img width="24" alt="burger" src="img/header/burger.svg" class="burger-btn__open" />
                        <img width="24" alt="close" src="img/header/close.svg" class="burger-btn__close" />
                    </button>
                </div>
            </div>
        </header>

        <section class="game-category first-section">
            <div class="container">
                <div class="inner">
                    <h1 class="title">Игры: Экшен</h1>

                    <div class="slider-wrapper start">
                        <div class="game-category__categories">
                            <div class="game-category__row">
                                <a href="#" class="game-category__item item">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none" stroke="var(--mainColor)" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round">
                                        <path
                                            d="M11.017 2.814a1 1 0 0 1 1.966 0l1.051 5.558a2 2 0 0 0 1.594 1.594l5.558 1.051a1 1 0 0 1 0 1.966l-5.558 1.051a2 2 0 0 0-1.594 1.594l-1.051 5.558a1 1 0 0 1-1.966 0l-1.051-5.558a2 2 0 0 0-1.594-1.594l-5.558-1.051a1 1 0 0 1 0-1.966l5.558-1.051a2 2 0 0 0 1.594-1.594z" />
                                    </svg>
                                    Интересное
                                </a>

                                <a href="#" class="game-category__item item">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none" stroke="var(--mainColor)" stroke-width="1.5" stroke-linecap="round"
                                        stroke-linejoin="round" class="lucide lucide-boxes-icon lucide-boxes">
                                        <path
                                            d="M2.97 12.92A2 2 0 0 0 2 14.63v3.24a2 2 0 0 0 .97 1.71l3 1.8a2 2 0 0 0 2.06 0L12 19v-5.5l-5-3-4.03 2.42Z" />
                                        <path d="m7 16.5-4.74-2.85" />
                                        <path d="m7 16.5 5-3" />
                                        <path d="M7 16.5v5.17" />
                                        <path
                                            d="M12 13.5V19l3.97 2.38a2 2 0 0 0 2.06 0l3-1.8a2 2 0 0 0 .97-1.71v-3.24a2 2 0 0 0-.97-1.71L17 10.5l-5 3Z" />
                                        <path d="m17 16.5-5-3" />
                                        <path d="m17 16.5 4.74-2.85" />
                                        <path d="M17 16.5v5.17" />
                                        <path
                                            d="M7.97 4.42A2 2 0 0 0 7 6.13v4.37l5 3 5-3V6.13a2 2 0 0 0-.97-1.71l-3-1.8a2 2 0 0 0-2.06 0l-3 1.8Z" />
                                        <path d="M12 8 7.26 5.15" />
                                        <path d="m12 8 4.74-2.85" />
                                        <path d="M12 13.5V8" />
                                    </svg>
                                    Все игры
                                </a>

                                <a href="#" class="game-category__item active item">
                                    <img src="img/games/action.svg" alt="icon">
                                    Экшен
                                </a>

                                <a href="#" class="game-category__item item">
                                    <img src="img/categories/puzzle.svg" alt="icon">
                                    Головоломки
                                </a>

                                <a href="#" class="game-category__item item">
                                    <img src="img/categories/shooter.svg" alt="icon"
                                        style="filter: brightness(0) saturate(100%) invert(56%) sepia(33%) saturate(6153%) hue-rotate(333deg) brightness(96%) contrast(97%);">
                                    Шутеры
                                </a>

                                <a href="#" class="game-category__item item">
                                    <img src="img/categories/simulator.svg" alt="icon"
                                        style="filter: brightness(0) saturate(100%) invert(57%) sepia(54%) saturate(497%) hue-rotate(71deg) brightness(94%) contrast(90%);">
                                    Симуляторы
                                </a>

                                <a href="#" class="game-category__item item">
                                    <img src="img/categories/strategy.svg" alt="icon"
                                        style="filter: brightness(0) saturate(100%) invert(53%) sepia(72%) saturate(5559%) hue-rotate(231deg) brightness(93%) contrast(94%);">
                                    Стратегии
                                </a>

                                <a href="#" class="game-category__item item">
                                    <img src="img/categories/role.svg" alt="icon"
                                        style="filter: brightness(0) saturate(100%) invert(53%) sepia(72%) saturate(5559%) hue-rotate(231deg) brightness(93%) contrast(94%);">
                                    Ролевые
                                </a>

                                <a href="#" class="game-category__item item">
                                    <img src="img/categories/arcade.svg" alt="icon"
                                        style="filter: brightness(0) saturate(100%) invert(76%) sepia(76%) saturate(3938%) hue-rotate(0deg) brightness(104%) contrast(103%);">
                                    Аркады
                                </a>

                                <a href="#" class="game-category__item item">
                                    <img src="img/categories/adventure.svg" alt="icon"
                                        style="filter: brightness(0) saturate(100%) invert(56%) sepia(33%) saturate(6153%) hue-rotate(333deg) brightness(96%) contrast(97%);">
                                    Приключения
                                </a>

                                <a href="#" class="game-category__item item">
                                    <img src="img/categories/BoardAndCard.svg" alt="icon"
                                        style="filter: brightness(0) saturate(100%) invert(36%) sepia(95%) saturate(2405%) hue-rotate(296deg) brightness(93%) contrast(88%);">
                                    Настольные и карточные
                                </a>

                                <a href="#" class="game-category__item item">
                                    <img src="img/categories/casual.svg" alt="icon">
                                    Казуальные
                                </a>

                                <a href="#" class="game-category__item item">
                                    <img src="img/categories/children.svg" alt="icon"
                                        style="filter: brightness(0) saturate(100%) invert(76%) sepia(76%) saturate(3938%) hue-rotate(0deg) brightness(104%) contrast(103%);">
                                    Детские
                                </a>
                            </div>

                            <div class="game-category__row">
                                <a href="#" class="game-category__item item">
                                    <img src="img/categories/race.svg" alt="icon"
                                        style="filter: brightness(0) saturate(100%) invert(36%) sepia(95%) saturate(2405%) hue-rotate(296deg) brightness(93%) contrast(88%);">
                                    Гоночные
                                </a>

                                <a href="#" class="game-category__item item">
                                    <img src="img/categories/word.svg" alt="icon">
                                    Словесные
                                </a>

                                <a href="#" class="game-category__item item">
                                    <img src="img/categories/quiz.svg" alt="icon"
                                        style="filter: brightness(0) saturate(100%) invert(57%) sepia(54%) saturate(497%) hue-rotate(71deg) brightness(94%) contrast(90%);">
                                    Викторины
                                </a>

                                <a href="#" class="game-category__item item">
                                    <img src="img/categories/sports.svg" alt="icon">
                                    Спортивные
                                </a>

                                <a href="#" class="game-category__item item">
                                    <img src="img/categories/utilities.svg" alt="icon"
                                        style="filter: brightness(0) saturate(100%) invert(53%) sepia(72%) saturate(5559%) hue-rotate(231deg) brightness(93%) contrast(94%);">
                                    Утилиты
                                </a>

                                <a href="#" class="game-category__item item">
                                    <img src="img/categories/paid.svg" alt="icon">
                                    Платные
                                </a>

                                <a href="#" class="game-category__item item">
                                    <img src="img/categories/casino.svg" alt="icon"
                                        style="filter: brightness(0) saturate(100%) invert(56%) sepia(33%) saturate(6153%) hue-rotate(333deg) brightness(96%) contrast(97%);">
                                    Казино
                                </a>

                                <a href="#" class="game-category__item item">
                                    <img src="img/categories/music.svg" alt="icon">
                                    Музыкальные
                                </a>

                                <a href="#" class="game-category__item item">
                                    <img src="img/categories/ar.svg" alt="icon"
                                        style="filter: brightness(0) saturate(100%) invert(76%) sepia(76%) saturate(3938%) hue-rotate(0deg) brightness(104%) contrast(103%);">
                                    Игры с AR
                                </a>

                                <a href="#" class="game-category__item item">
                                    <img src="img/categories/indie.svg" alt="icon">
                                    Инди
                                </a>

                                <a href="#" class="game-category__item item">
                                    <img src="img/categories/card.svg" alt="icon"
                                        style="filter: brightness(0) saturate(100%) invert(36%) sepia(95%) saturate(2405%) hue-rotate(296deg) brightness(93%) contrast(88%);">
                                    Карточные
                                </a>

                                <a href="#" class="game-category__item item">
                                    <img src="img/categories/board.svg" alt="icon">
                                    Настольные игры
                                </a>

                                <a href="#" class="game-category__item item">
                                    <img src="img/categories/family.svg" alt="icon"
                                        style="filter: brightness(0) saturate(100%) invert(57%) sepia(54%) saturate(497%) hue-rotate(71deg) brightness(94%) contrast(90%);">
                                    Семейные
                                </a>
                            </div>
                        </div>

                        <button class="slider-btn slider-btn_prev game-category__btn_prev">
                            <svg class="ArrowButton_icon__wIZUM" fill="none" height="32" viewbox="0 0 32 32" width="32"
                                xmlns="http://www.w3.org/2000/svg">
                                <path clip-rule="evenodd"
                                    d="M19.7071 8.29289C20.0976 8.68342 20.0976 9.31658 19.7071 9.70711L13.4142 16L19.7071 22.2929C20.0976 22.6834 20.0976 23.3166 19.7071 23.7071C19.3166 24.0976 18.6834 24.0976 18.2929 23.7071L11.6464 17.0607C11.0606 16.4749 11.0606 15.5251 11.6464 14.9393L18.2929 8.29289C18.6834 7.90237 19.3166 7.90237 19.7071 8.29289Z"
                                    fill="currentColor" fill-rule="evenodd"></path>
                            </svg>
                        </button>
                        <button class="slider-btn slider-btn_next game-category__btn_next">
                            <svg class="ArrowButton_icon__wIZUM" fill="none" height="32" viewbox="0 0 32 32" width="32"
                                xmlns="http://www.w3.org/2000/svg">
                                <path clip-rule="evenodd"
                                    d="M19.7071 8.29289C20.0976 8.68342 20.0976 9.31658 19.7071 9.70711L13.4142 16L19.7071 22.2929C20.0976 22.6834 20.0976 23.3166 19.7071 23.7071C19.3166 24.0976 18.6834 24.0976 18.2929 23.7071L11.6464 17.0607C11.0606 16.4749 11.0606 15.5251 11.6464 14.9393L18.2929 8.29289C18.6834 7.90237 19.3166 7.90237 19.7071 8.29289Z"
                                    fill="currentColor" fill-rule="evenodd"></path>
                            </svg>
                        </button>
                    </div>

                    <div class="game-category__content">
                        <div class="game-category__filters">
                            <button class="game-category__filter item">
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M13.75 4C13.9489 4 14.1397 4.07902 14.2803 4.21967L16.7803 6.71967C17.0732 7.01256 17.0732 7.48744 16.7803 7.78033C16.4874 8.07322 16.0126 8.07322 15.7197 7.78033L14.5 6.56066V15.25C14.5 15.6642 14.1642 16 13.75 16C13.3358 16 13 15.6642 13 15.25V6.56066L11.7803 7.78033C11.4874 8.07322 11.0126 8.07322 10.7197 7.78033C10.4268 7.48744 10.4268 7.01256 10.7197 6.71967L13.2197 4.21967C13.3603 4.07902 13.5511 4 13.75 4ZM6.25 4C6.66421 4 7 4.33579 7 4.75L7 13.4393L8.21967 12.2197C8.51256 11.9268 8.98744 11.9268 9.28033 12.2197C9.57322 12.5126 9.57322 12.9874 9.28033 13.2803L6.78033 15.7803C6.63968 15.921 6.44891 16 6.25 16C6.05109 16 5.86032 15.921 5.71967 15.7803L3.21967 13.2803C2.92678 12.9874 2.92678 12.5126 3.21967 12.2197C3.51256 11.9268 3.98744 11.9268 4.28033 12.2197L5.5 13.4393L5.5 4.75C5.5 4.33579 5.83579 4 6.25 4Z"
                                        fill="#222222"></path>
                                </svg>
                                По популярности
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                    xmlns="http://www.w3.org/2000/svg" class="NjJN7ciM">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M4.23214 7.20749C3.93252 7.49349 3.92148 7.96823 4.20748 8.26786L9.45749 13.7679C9.59901 13.9161 9.79504 14 10 14C10.205 14 10.401 13.9161 10.5425 13.7679L15.7925 8.26786C16.0785 7.96823 16.0675 7.49349 15.7679 7.20748C15.4682 6.92148 14.9935 6.93252 14.7075 7.23214L10 12.1638L5.29252 7.23214C5.00651 6.93252 4.53177 6.92148 4.23214 7.20749Z"
                                        fill="#222222"></path>
                                </svg>
                            </button>
                            <button class="game-category__filter">
                                Бесплатные
                            </button>
                            <button class="game-category__filter">
                                Платные
                            </button>
                        </div>

                        <div class="game-category__list">
                            <a href="#" class="game-category__game game">
                                <div class="game__icon ibg">
                                    <img alt="app" src="img/apps/avito.webp" />
                                </div>
                                <div class="game__content">
                                    <p class="game__title">Авито – услуги, работа, авто</p>
                                    <p class="game__text">Объявления: услуги, товары, недвижимость, отели
                                        и
                                        гостиницы для путешествия.</p>
                                    <div class="game__rating item">
                                        <svg fill="none" height="13" viewbox="0 0 14 13" width="14"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M9.23418 4.38299L12.1872 4.66631C13.2148 4.76489 13.5299 5.76861 12.7364 6.42804L10.4245 8.34948L11.2828 11.4797C11.5646 12.5076 10.6902 13.1299 9.81434 12.5113L7.00521 10.527L4.19608 12.5113C3.32378 13.1274 2.44575 12.5078 2.72764 11.4797L3.5859 8.34948L1.27399 6.42804C0.477216 5.76584 0.791105 4.76534 1.82304 4.66631L4.77555 4.38299L6.07635 1.3839C6.48371 0.444699 7.52696 0.44517 7.93398 1.38399L9.23418 4.38299Z"
                                                fill="currentColor"></path>
                                        </svg>
                                        4.7
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="game-category__game game">
                                <div class="game__icon ibg">
                                    <img alt="app" src="img/apps/avito.webp" />
                                </div>
                                <div class="game__content">
                                    <p class="game__title">Авито – услуги, работа, авто</p>
                                    <p class="game__text">Объявления: услуги, товары, недвижимость, отели
                                        и
                                        гостиницы для путешествия.</p>
                                    <div class="game__rating item">
                                        <svg fill="none" height="13" viewbox="0 0 14 13" width="14"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M9.23418 4.38299L12.1872 4.66631C13.2148 4.76489 13.5299 5.76861 12.7364 6.42804L10.4245 8.34948L11.2828 11.4797C11.5646 12.5076 10.6902 13.1299 9.81434 12.5113L7.00521 10.527L4.19608 12.5113C3.32378 13.1274 2.44575 12.5078 2.72764 11.4797L3.5859 8.34948L1.27399 6.42804C0.477216 5.76584 0.791105 4.76534 1.82304 4.66631L4.77555 4.38299L6.07635 1.3839C6.48371 0.444699 7.52696 0.44517 7.93398 1.38399L9.23418 4.38299Z"
                                                fill="currentColor"></path>
                                        </svg>
                                        4.7
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="game-category__game game">
                                <div class="game__icon ibg">
                                    <img alt="app" src="img/apps/avito.webp" />
                                </div>
                                <div class="game__content">
                                    <p class="game__title">Авито – услуги, работа, авто</p>
                                    <p class="game__text">Объявления: услуги, товары, недвижимость, отели
                                        и
                                        гостиницы для путешествия.</p>
                                    <div class="game__rating item">
                                        <svg fill="none" height="13" viewbox="0 0 14 13" width="14"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M9.23418 4.38299L12.1872 4.66631C13.2148 4.76489 13.5299 5.76861 12.7364 6.42804L10.4245 8.34948L11.2828 11.4797C11.5646 12.5076 10.6902 13.1299 9.81434 12.5113L7.00521 10.527L4.19608 12.5113C3.32378 13.1274 2.44575 12.5078 2.72764 11.4797L3.5859 8.34948L1.27399 6.42804C0.477216 5.76584 0.791105 4.76534 1.82304 4.66631L4.77555 4.38299L6.07635 1.3839C6.48371 0.444699 7.52696 0.44517 7.93398 1.38399L9.23418 4.38299Z"
                                                fill="currentColor"></path>
                                        </svg>
                                        4.7
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="game-category__game game">
                                <div class="game__icon ibg">
                                    <img alt="app" src="img/apps/avito.webp" />
                                </div>
                                <div class="game__content">
                                    <p class="game__title">Авито – услуги, работа, авто</p>
                                    <p class="game__text">Объявления: услуги, товары, недвижимость, отели
                                        и
                                        гостиницы для путешествия.</p>
                                    <div class="game__rating item">
                                        <svg fill="none" height="13" viewbox="0 0 14 13" width="14"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M9.23418 4.38299L12.1872 4.66631C13.2148 4.76489 13.5299 5.76861 12.7364 6.42804L10.4245 8.34948L11.2828 11.4797C11.5646 12.5076 10.6902 13.1299 9.81434 12.5113L7.00521 10.527L4.19608 12.5113C3.32378 13.1274 2.44575 12.5078 2.72764 11.4797L3.5859 8.34948L1.27399 6.42804C0.477216 5.76584 0.791105 4.76534 1.82304 4.66631L4.77555 4.38299L6.07635 1.3839C6.48371 0.444699 7.52696 0.44517 7.93398 1.38399L9.23418 4.38299Z"
                                                fill="currentColor"></path>
                                        </svg>
                                        4.7
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="game-category__game game">
                                <div class="game__icon ibg">
                                    <img alt="app" src="img/apps/avito.webp" />
                                </div>
                                <div class="game__content">
                                    <p class="game__title">Авито – услуги, работа, авто</p>
                                    <p class="game__text">Объявления: услуги, товары, недвижимость, отели
                                        и
                                        гостиницы для путешествия.</p>
                                    <div class="game__rating item">
                                        <svg fill="none" height="13" viewbox="0 0 14 13" width="14"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M9.23418 4.38299L12.1872 4.66631C13.2148 4.76489 13.5299 5.76861 12.7364 6.42804L10.4245 8.34948L11.2828 11.4797C11.5646 12.5076 10.6902 13.1299 9.81434 12.5113L7.00521 10.527L4.19608 12.5113C3.32378 13.1274 2.44575 12.5078 2.72764 11.4797L3.5859 8.34948L1.27399 6.42804C0.477216 5.76584 0.791105 4.76534 1.82304 4.66631L4.77555 4.38299L6.07635 1.3839C6.48371 0.444699 7.52696 0.44517 7.93398 1.38399L9.23418 4.38299Z"
                                                fill="currentColor"></path>
                                        </svg>
                                        4.7
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="game-category__game game">
                                <div class="game__icon ibg">
                                    <img alt="app" src="img/apps/avito.webp" />
                                </div>
                                <div class="game__content">
                                    <p class="game__title">Авито – услуги, работа, авто</p>
                                    <p class="game__text">Объявления: услуги, товары, недвижимость, отели
                                        и
                                        гостиницы для путешествия.</p>
                                    <div class="game__rating item">
                                        <svg fill="none" height="13" viewbox="0 0 14 13" width="14"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M9.23418 4.38299L12.1872 4.66631C13.2148 4.76489 13.5299 5.76861 12.7364 6.42804L10.4245 8.34948L11.2828 11.4797C11.5646 12.5076 10.6902 13.1299 9.81434 12.5113L7.00521 10.527L4.19608 12.5113C3.32378 13.1274 2.44575 12.5078 2.72764 11.4797L3.5859 8.34948L1.27399 6.42804C0.477216 5.76584 0.791105 4.76534 1.82304 4.66631L4.77555 4.38299L6.07635 1.3839C6.48371 0.444699 7.52696 0.44517 7.93398 1.38399L9.23418 4.38299Z"
                                                fill="currentColor"></path>
                                        </svg>
                                        4.7
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="game-category__separator"></div>

                        <div class="game-category__nav">
                            <div class="game-category__pagination">
                                <a href="#" class="game-category__page active">1</a>
                                <a href="#" class="game-category__page">2</a>
                                <a href="#" class="game-category__page">3</a>
                                <a href="#" class="game-category__page">...</a>
                                <a href="#" class="game-category__page">100</a>
                            </div>

                            <a href="#" class="game-category__next item">
                                Вперед
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="U0_KyO2D">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M14.736 17.736a.9.9 0 0 0 0-1.272L10.273 12l4.463-4.464a.9.9 0 0 0-1.272-1.272l-5.1 5.1a.9.9 0 0 0 0 1.272l5.1 5.1a.9.9 0 0 0 1.272 0Z"
                                        fill="currentColor"></path>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer class="footer">
            <div class="footer__container container">
                <div class="footer__inner">
                    <div class="footer__column footer__column_small">
                        <img alt="logo" class="footer__logo" src="img/footer/logo.svg" />
                        <div class="footer__qr">
                            <img alt="qr" src="img/footer/qr.svg" />
                            Наведите камеру<br />для загрузки RuStore<br />и следуйте инструкции
                        </div>
                        <div class="footer__communication">
                            <img alt="digital" class="footer__digital" src="img/footer/digital.svg" />
                            <div class="footer__social">
                                <a class="item" href="#">
                                    <img alt="social" src="img/footer/vk.svg" />
                                </a>
                                <a class="item" href="#">
                                    <img alt="social" src="img/footer/ok.svg" />
                                </a>
                                <a class="item" href="#">
                                    <img alt="social" src="img/footer/max.svg" />
                                </a>
                                <a class="item" href="#">
                                    <img alt="social" src="img/footer/tg.svg" />
                                </a>
                                <a class="item" href="#">
                                    <img alt="social" src="img/footer/dzen.svg" />
                                </a>
                            </div>
                            <div class="footer__btns">
                                <button class="footer__btn">Предложить приложение</button>
                                <button class="footer__btn">Обратиться в поддержку</button>
                            </div>
                            <p class="footer__copy">
                                © VK 2022–2026 RuStore —<br />приложения и игры для Андроид
                            </p>
                        </div>
                    </div>
                    <div class="footer__column">
                        <div class="footer-dropdown active">
                            <button class="footer-dropdown__btn">
                                RuStore магазин приложений
                                <img alt="arrow" class="footer-dropdown__arrow" src="img/footer/arrow.svg" />
                            </button>
                            <div class="footer-dropdown__links">
                                <a class="footer-dropdown__link" href="#">О RuStore</a>
                                <a class="footer-dropdown__link" href="#">Карьера в RuStore</a>
                                <a class="footer-dropdown__link" href="#">RuStore для TV</a>
                                <a class="footer-dropdown__link" href="#">RuStore для телефона</a>
                                <a class="footer-dropdown__link" href="#">RuStore для ОС Аврора</a>
                                <a class="footer-dropdown__link" href="#">Медиа-кит (для СМИ и блогеров)</a>
                                <a class="footer-dropdown__link" href="#">Нашли уязвимость? (программа Bug Bounty)</a>
                                <a class="footer-dropdown__link" href="#">Пользовательское соглашение</a>
                                <a class="footer-dropdown__link" href="#">Конфиденциальность для пользователей</a>
                                <a class="footer-dropdown__link" href="#">Дистрибутив для производителей</a>
                            </div>
                        </div>
                        <div class="footer-dropdown">
                            <button class="footer-dropdown__btn">
                                Популярные категории
                                <img alt="arrow" class="footer-dropdown__arrow" src="img/footer/arrow.svg" />
                            </button>
                            <div class="footer-dropdown__links">
                                <a class="footer-dropdown__link" href="#">Игры для Android</a>
                                <a class="footer-dropdown__link" href="#">Приложения банков</a>
                                <a class="footer-dropdown__link" href="#">Государственные</a>
                                <a class="footer-dropdown__link" href="#">Родителям</a>
                                <a class="footer-dropdown__link" href="#">Приложения для шопинга</a>
                                <a class="footer-dropdown__link" href="#">Приложения для ТВ</a>
                                <a class="footer-dropdown__link" href="#">Топ бесплатных игр</a>
                                <a class="footer-dropdown__link" href="#">Лучшие платные игры</a>
                            </div>
                        </div>
                    </div>
                    <div class="footer__column">
                        <div class="footer-dropdown">
                            <button class="footer-dropdown__btn">
                                Помощь
                                <img alt="arrow" class="footer-dropdown__arrow" src="img/footer/arrow.svg" />
                            </button>
                            <div class="footer-dropdown__links">
                                <a class="footer-dropdown__link" href="#">Установка RuStore на TV</a>
                                <a class="footer-dropdown__link" href="#">Установка RuStore на телефон</a>
                                <a class="footer-dropdown__link" href="#">Установка RuStore в машину</a>
                                <a class="footer-dropdown__link" href="#">Помощь пользователям RuStore</a>
                                <a class="footer-dropdown__link" href="#">Покупки и возвраты</a>
                                <a class="footer-dropdown__link" href="#">Авторизация в RuStore</a>
                                <a class="footer-dropdown__link" href="#">Сбой обновления приложений</a>
                                <a class="footer-dropdown__link" href="#">Детский режим</a>
                                <a class="footer-dropdown__link" href="#">Автообновление приложений</a>
                                <a class="footer-dropdown__link" href="#">Как написать отзыв к приложению</a>
                            </div>
                        </div>
                        <div class="footer-dropdown">
                            <button class="footer-dropdown__btn">
                                Блог RuStore
                                <img alt="arrow" class="footer-dropdown__arrow" src="img/footer/arrow.svg" />
                            </button>
                            <div class="footer-dropdown__links">
                                <a class="footer-dropdown__link" href="#">Обзоры игр для Android 2025</a>
                                <a class="footer-dropdown__link" href="#">Обзоры мобильных приложений 2025</a>
                                <a class="footer-dropdown__link" href="#">Лайфхаки и советы для
                                    Android-пользователей</a>
                                <a class="footer-dropdown__link" href="#">Обзоры и инструкции по установке игр и
                                    программ</a>
                                <a class="footer-dropdown__link" href="#">Материалы RuStore: инструкции, обзоры,
                                    новости</a>
                                <a class="footer-dropdown__link" href="#">Детальные разборы приложений и игр</a>
                                <a class="footer-dropdown__link" href="#">Топ приложений для Android TV</a>
                                <a class="footer-dropdown__link" href="#">Приложения для мам и детей</a>
                                <a class="footer-dropdown__link" href="#">Последние новости RuStore</a>
                            </div>
                        </div>
                    </div>
                    <div class="footer__column">
                        <div class="footer-dropdown">
                            <button class="footer-dropdown__btn">
                                Разработчикам
                                <img alt="arrow" class="footer-dropdown__arrow" src="img/footer/arrow.svg" />
                            </button>
                            <div class="footer-dropdown__links">
                                <a class="footer-dropdown__link" href="#">Зарабатывать с RuStore</a>
                                <a class="footer-dropdown__link" href="#">Стать разработчиком</a>
                                <a class="footer-dropdown__link" href="#">Доступ к RuStore Консоль</a>
                                <a class="footer-dropdown__link" href="#">RuStore SDK (документация)</a>
                                <a class="footer-dropdown__link" href="#">Блог RuStore для разработчиков</a>
                                <a class="footer-dropdown__link" href="#">Соглашение о распространении</a>
                                <a class="footer-dropdown__link" href="#">Регистрация иностранной компании</a>
                                <a class="footer-dropdown__link" href="#">Конфиденциальность для разработчиков</a>
                            </div>
                        </div>
                        <div class="footer-dropdown">
                            <button class="footer-dropdown__btn">
                                Подборки
                                <img alt="arrow" class="mobile-show" src="img/footer/arrow.svg" />
                            </button>
                            <div class="footer-dropdown__links">
                                <a class="footer-dropdown__link" href="#">Игровой набор</a>
                                <a class="footer-dropdown__link" href="#">Финансы</a>
                                <a class="footer-dropdown__link" href="#">Самое необходимое</a>
                                <a class="footer-dropdown__link" href="#">Полезные инструменты</a>
                                <a class="footer-dropdown__link" href="#">Приложения для часов</a>
                                <a class="footer-dropdown__link" href="#">Высокий рейтинг</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- <script src="js/jquery-3.6.1.min.js"></script> -->
    <script src="js/swiper-bundle.min.js"></script>
    <script src="js/script.js"></script>
</body>

</html>