@font-face {
  font-family: vkFont;
  src: url(..//fonts/vkfont_normal.woff2) format("woff2");
  font-display: swap;
  font-weight: 400;
}
@font-face {
  font-family: vkFont;
  src: url(..//fonts/vkfont_medium.woff2) format("woff2");
  font-display: swap;
  font-weight: 500;
}
@font-face {
  font-family: vkFont;
  src: url(..//fonts/vkfont_bold.woff2) format("woff2");
  font-display: swap;
  font-weight: 600;
}
:root {
  --mainColor: #0077ff;
  --secondaryBg: #f2f3f5;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::-webkit-scrollbar,
*::before::-webkit-scrollbar,
*::after::-webkit-scrollbar {
  display: none;
}
*,
*::before,
*::after {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

a {
  text-decoration: none;
  color: inherit;
  transition: 0.3s;
}

@media (any-hover: hover) {
  a:hover {
    opacity: 0.75;
  }
}
svg {
  flex-shrink: 0;
}

ul,
ol,
li {
  list-style: none;
}

body {
  font-family: vkFont, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  background-color: #fff;
  color: #222;
}
body.lock {
  overflow: hidden;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  border: 0;
  outline: 0;
}

textarea {
  resize: none;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: inherit;
}

input::placeholder,
textarea::placeholder {
  color: inherit;
}

button {
  cursor: pointer;
  background-color: transparent;
  transition: 0.3s;
}

@media (any-hover: hover) {
  button:hover {
    opacity: 0.75;
  }
}
.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 1224px;
  padding: 0 20px;
  margin: 0 auto;
}

.ibg {
  position: relative;
}
.ibg > img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.video {
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
}
.video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.text {
  line-height: normal;
}

.item {
  display: flex;
  align-items: center;
  gap: 5px;
}

.dim {
  opacity: 0.5;
}

.main-color {
  color: var(--mainColor);
}

.bold {
  font-weight: 700;
}

.btn {
  background-color: var(--mainColor);
  color: #fff;
  padding: 16px 24px;
  height: 64px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
}
@media (max-width: 992px) {
  .btn {
    font-size: 18px;
    padding: 12px 24px;
    height: 56px;
  }
}

.title {
  font-size: 48px;
  font-weight: 600;
}
@media (max-width: 992px) {
  .title {
    font-size: 32px;
  }
}
@media (max-width: 576px) {
  .title {
    font-size: 24px;
  }
}

.head {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
@media (max-width: 992px) {
  .head {
    padding: 0 20px;
  }
}

.slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.12);
  background: #fff;
  border-radius: 12px;
}
.slider-btn:hover {
  opacity: 1;
  transform: translateY(-50%) scale(1.1);
}
@media (max-width: 992px) {
  .slider-btn {
    display: none;
  }
}
.slider-btn.swiper-button-disabled {
  opacity: 0;
  visibility: hidden;
}
.slider-btn_prev {
  left: -16px;
}
.slider-btn_next {
  right: -16px;
}
.slider-btn_next svg {
  transform: rotate(-180deg);
}

.more-btn {
  font-size: 24px;
  font-weight: 500;
  color: var(--mainColor);
}
@media (max-width: 992px) {
  .more-btn {
    padding: 0 20px;
    font-size: 20px;
  }
}
@media (max-width: 576px) {
  .more-btn {
    font-size: 16px;
  }
}

.separated-section {
  background-color: #fff;
  border-radius: 48px;
  padding: 64px 0;
}
@media (max-width: 768px) {
  .separated-section {
    padding: 48px 0;
  }
}
@media (max-width: 576px) {
  .separated-section {
    padding: 32px 0;
  }
}

.inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}
@media (max-width: 992px) {
  .inner {
    gap: 24px;
  }
}
@media (max-width: 576px) {
  .inner {
    gap: 20px;
  }
}

.burger-btn {
  flex: 0 0 40px;
  height: 24px;
  position: relative;
  display: none;
}
@media (max-width: 768px) {
  .burger-btn {
    display: flex;
  }
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.popup__container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100% - 40px);
  margin: 20px auto;
}
.popup__inner {
  width: 100%;
  background-color: #fff;
  transform: scale(0.8);
  transition: 0.3s;
}
.popup.active {
  opacity: 1;
  visibility: visible;
}
.popup.active .popup__inner {
  transform: scale(1);
}

.header {
  width: 100%;
  padding: 24px 48px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 2;
  transition: 0.3s;
}
.header.sticky {
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.0784313725);
}
.header.sticky .header__btn_download {
  background-color: var(--mainColor);
  color: #fff;
}
@media (max-width: 992px) {
  .header {
    padding: 8px 20px;
  }
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  width: 144px;
  display: flex;
}
@media (max-width: 992px) {
  .header__logo {
    width: 112px;
  }
}
.header__logo img {
  width: 100%;
}
.header__nav-wrapper {
  display: flex;
  z-index: 1;
}
@media (max-width: 992px) {
  .header__nav-wrapper {
    justify-content: flex-end;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.25);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
  }
  .header__nav-wrapper.active {
    opacity: 1;
    visibility: visible;
  }
  .header__nav-wrapper.active .header__nav {
    transform: translateX(0);
  }
}
.header__nav {
  display: flex;
  align-items: center;
  gap: 24px;
  transition: 0.3s;
}
@media (max-width: 1200px) {
  .header__nav {
    gap: 16px;
  }
}
@media (max-width: 992px) {
  .header__nav {
    gap: 0;
    width: 100%;
    max-width: 360px;
    background-color: #fff;
    flex-direction: column;
    align-items: flex-start;
    transform: translateX(100%);
    overflow-y: auto;
  }
}
.header__nav-menu {
  display: none;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  font-size: 24px;
  font-weight: 500;
  padding: 16px;
}
@media (max-width: 992px) {
  .header__nav-menu {
    display: flex;
  }
}
.header__nav-close {
  width: 44px;
  height: 44px;
  border-radius: 12px;
  border: 1px solid #e1e3e6;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__link {
  font-weight: 500;
}
@media (max-width: 992px) {
  .header__link {
    width: 100%;
    padding: 16px;
  }
}
.header__btns {
  display: flex;
  align-items: center;
  gap: 16px;
}
@media (max-width: 992px) {
  .header__btns {
    gap: 12px;
  }
}
.header__btn {
  padding: 12px 16px;
  border-radius: 12px;
  background-color: #ebedf0;
  height: 48px;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
}
@media (max-width: 992px) {
  .header__btn {
    padding: 10px 16px;
    height: 40px;
  }
}

.intro {
  padding-top: 152px;
}
@media (max-width: 992px) {
  .intro {
    padding-top: 72px;
  }
}
.intro__inner {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.intro__title {
  font-size: 56px;
  font-weight: 600;
}
@media (max-width: 992px) {
  .intro__title {
    font-size: 28px;
  }
}
.intro__line {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .intro__line {
    flex-direction: column;
    align-items: stretch;
    gap: 24px;
  }
}
.intro__subtitle {
  font-size: 24px;
  width: 100%;
  max-width: 400px;
}
@media (max-width: 768px) {
  .intro__subtitle {
    max-width: unset;
  }
}
@media (max-width: 992px) {
  .intro__subtitle {
    font-size: 16px;
  }
}

.marquees {
  display: flex;
  position: relative;
  overflow: hidden;
  flex-flow: column;
  margin: 0 auto;
  padding: 64px 0;
  max-width: 1920px;
}

@media screen and (max-width: 1023px) {
  .marquees {
    padding: 32px 0 0;
  }
}
@media screen and (min-width: 1920px) {
  .marquees:before {
    left: 0;
    background: var(--leftSideGradient);
  }
  .marquees:after,
  .marquees:before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    width: 96px;
    height: 100%;
  }
  .marquees:after {
    right: 0;
    background: var(--rightSideGradient);
  }
}
.marquee__item {
  margin: 0 12px;
  width: 72px;
  height: 72px;
  background-size: cover;
  transition: transform 0.2s linear;
}

@media screen and (max-width: 719px) {
  .marquee__item {
    margin: 0 10px;
    width: 56px;
    height: 56px;
  }
}
.marquee__item :active,
.marquee__item:hover {
  transform: scale(1.33);
  cursor: pointer;
}

@keyframes Marquee_scrollToLeft__QSayg {
  0% {
    transform: translateZ(0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}
.marquee {
  --marquee-period: 10s;
  margin-bottom: 24px;
  width: 100%;
  height: -moz-max-content;
  height: max-content;
}

@media screen and (max-width: 719px) {
  .marquee {
    margin-bottom: 20px;
  }
}
.marquee .marquee__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.marquee .marquee__wrapper:hover .marquee__list {
  animation-play-state: paused;
}

.marquee .marquee__list {
  display: flex;
  flex-direction: row;
  animation: Marquee_scrollToLeft__QSayg var(--marquee-period) linear infinite;
  will-change: transform;
}

.marquee.Marquee_marqueeSpeed0__0GtsQ {
  --marquee-period: 10s;
}

.marquee.marquee__slow {
  --marquee-period: 9s;
}

.marquee.marquee__medium {
  --marquee-period: 8s;
}

.marquee.marquee__fast {
  --marquee-period: 7s;
}

.marquee.Marquee_marqueeSpeed10__PSaqp {
  --marquee-period: 10s;
}

.marquee.Marquee_marqueeSpeed20__l47Hq {
  --marquee-period: 20s;
}

.marquee.Marquee_marqueeSpeed30__fHIIE {
  --marquee-period: 30s;
}

.marquee.Marquee_marqueeSpeed-1__i20vi {
  --marquee-period: 0;
}

.grey-wrapper {
  padding: 0 24px;
  background-color: var(--secondaryBg);
  border-radius: 48px 48px 0 0;
  flex-grow: 1;
}
@media (max-width: 992px) {
  .grey-wrapper {
    padding: 0;
  }
}

.advantages {
  padding: 48px 0;
}
@media (max-width: 992px) {
  .advantages {
    overflow-x: auto;
  }
}
@media (max-width: 992px) {
  .advantages__container {
    padding: 0;
    padding-left: 20px;
  }
}
.advantages__inner {
  display: flex;
  gap: 24px;
}
@media (max-width: 992px) {
  .advantages__inner {
    gap: 16px;
  }
}

.advantages-item {
  width: calc(33.3333333333% - 16px);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 12px;
  padding: 24px;
  border-radius: 24px;
  height: 232px;
  color: #fff;
}
@media (max-width: 992px) {
  .advantages-item {
    min-width: 310px;
    height: 180px;
    gap: 8px;
  }
}
.advantages-item_first {
  background-color: #00b594;
}
.advantages-item_second {
  background-color: var(--mainColor);
}
.advantages-item_third {
  background-color: #9339d1;
}
.advantages-item__label {
  width: 107px;
  position: absolute;
  top: 24px;
  left: 24px;
}
.advantages-item__pic {
  position: absolute;
  top: -20px;
  right: -30px;
  width: 137px;
}
.advantages-item__title {
  font-size: 24px;
  font-weight: 500;
}
@media (max-width: 992px) {
  .advantages-item__title {
    font-size: 18px;
  }
}
.advantages-item__text {
  opacity: 0.8;
}

.find__container {
  padding: 0;
}

.find-search {
  width: 100%;
  max-width: 584px;
  display: flex;
  position: relative;
}
.find-search__icon {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}
@media (max-width: 576px) {
  .find-search__icon {
    left: 12px;
  }
}
.find-search__input {
  height: 56px;
  background-color: var(--secondaryBg);
  border-radius: 16px 0 0 16px;
  flex-grow: 1;
  padding-left: 56px;
  font-size: 20px;
  font-weight: 500;
}
@media (max-width: 992px) {
  .find-search__input {
    font-size: 16px;
    height: 48px;
  }
}
@media (max-width: 576px) {
  .find-search__input {
    padding-left: 40px;
  }
}
.find-search__input::-moz-placeholder {
  opacity: 0.5;
}
.find-search__input::placeholder {
  opacity: 0.5;
}
.find-search__btn {
  background-color: var(--mainColor);
  color: #fff;
  border-radius: 0 16px 16px 0;
  padding: 0 20px;
  font-size: 20px;
  font-weight: 500;
}
@media (max-width: 992px) {
  .find-search__btn {
    font-size: 18px;
  }
}

.find-slider-wrapper {
  width: 100%;
  display: flex;
  position: relative;
}

.find-slider {
  width: 100%;
}
.find-slider__slide {
  display: flex;
  gap: 16px;
  padding: 12px 16px;
  border-radius: 24px;
  transition: 0.3s;
}
.find-slider__slide:hover {
  opacity: 1;
  background-color: #f7f7f7;
}
.find-slider__icon {
  width: 70px;
  height: 70px;
  flex-shrink: 0;
  border: 1px solid #e1e3e6;
  border-radius: 18.5px;
  overflow: hidden;
}
@media (max-width: 992px) {
  .find-slider__icon {
    width: 60px;
    height: 60px;
  }
}
.find-slider__content {
  width: calc(100% - 70px - 16px);
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.find-slider__title {
  font-size: 20px;
  font-weight: 500;
}
@media (max-width: 992px) {
  .find-slider__title {
    font-size: 16px;
  }
}
.find-slider__title, .find-slider__text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}
@media (max-width: 992px) {
  .find-slider__text, .find-slider__rating {
    font-size: 14px;
  }
}
.find-slider__rating {
  color: #6d7885;
}

.categories {
  padding: 64px 0;
}
@media (max-width: 768px) {
  .categories {
    padding: 48px 0;
  }
}
@media (max-width: 576px) {
  .categories {
    padding: 32px 0;
  }
}
@media (max-width: 992px) {
  .categories__container {
    padding: 0;
  }
}
.categories__wrapper {
  width: 100%;
  display: flex;
  position: relative;
}
.categories__wrapper.start .categories__btn_prev {
  opacity: 0;
  visibility: hidden;
}
.categories__wrapper.end .categories__btn_next {
  opacity: 0;
  visibility: hidden;
}
.categories__list {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(2, auto);
  gap: 16px;
  overflow-x: auto;
}
@media (max-width: 992px) {
  .categories__list {
    padding: 0 20px;
  }
}
.categories__item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px 16px;
  border-radius: 12px;
  background-color: #fff;
  font-size: 20px;
  font-weight: 500;
}
@media (max-width: 992px) {
  .categories__item {
    font-size: 18px;
  }
}
@media (max-width: 576px) {
  .categories__item {
    font-size: 16px;
  }
}
@media (max-width: 992px) {
  .games__container {
    padding: 0;
  }
}

.games-slider-wrapper {
  width: 100%;
  position: relative;
}

.games-slider {
  width: 100%;
}
@media (max-width: 992px) {
  .games-slider {
    padding: 0 20px;
  }
}
.games-slider__slide {
  height: 348px;
  border-radius: 20px;
  padding: 16px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.games-slider__slide img {
  transition: 0.3s;
}
.games-slider__slide:hover {
  opacity: 1;
}
.games-slider__slide:hover > img {
  transform: scale(1.05);
}
.games-slider__content {
  position: relative;
  display: flex;
  align-items: center;
  gap: 12px;
}
.games-slider__icon {
  width: 52px;
  height: 52px;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid #fff;
}
.games-slider__info {
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
@media (max-width: 576px) {
  .games-slider__info {
    gap: 6px;
  }
}
.games-slider__name {
  font-size: 20px;
  font-weight: 500;
}
@media (max-width: 992px) {
  .games-slider__name {
    font-size: 18px;
  }
}
@media (max-width: 576px) {
  .games-slider__name {
    font-size: 16px;
  }
}
.games-categories {
  width: 100%;
  display: flex;
  position: relative;
}
.games-categories__list {
  overflow-x: auto;
  display: flex;
  gap: 24px;
}
@media (max-width: 992px) {
  .games-categories__list {
    padding: 0 20px;
    gap: 16px;
  }
}
@media (max-width: 576px) {
  .games-categories__list {
    gap: 8px;
  }
}
.games-categories__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
@media (max-width: 576px) {
  .games-categories__item {
    font-size: 14px;
  }
}
.games-categories__icon {
  width: 110px;
  height: 110px;
  background-color: var(--secondaryBg);
  border-radius: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 992px) {
  .games-categories__icon {
    width: 100px;
    height: 100px;
  }
}
@media (max-width: 576px) {
  .games-categories__icon {
    width: 90px;
    height: 90px;
  }
}
.games-categories__icon img {
  width: 64px;
  filter: brightness(0) saturate(100%) invert(56%) sepia(33%) saturate(6153%) hue-rotate(333deg) brightness(96%) contrast(97%);
}
@media (max-width: 992px) {
  .games-categories__icon img {
    width: 56px;
  }
}
@media (max-width: 576px) {
  .games-categories__icon img {
    width: 48px;
  }
}
.games-categories.start .games-categories__btn_prev {
  opacity: 0;
  visibility: hidden;
}
.games-categories.end .games-categories__btn_next {
  opacity: 0;
  visibility: hidden;
}

.mobile-show {
  display: none;
}
@media (max-width: 992px) {
  .mobile-show {
    display: flex;
  }
}

@media (max-width: 992px) {
  .mobile-hide {
    display: none;
  }
}