@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;0,500;1,600&display=swap");
.burger-btn {
  flex: 0 0 27px;
  height: 14px;
  position: relative;
  display: none;
}
@media (max-width: 767px) {
  .burger-btn {
    display: block;
  }
}

.burger-btn::before,
.burger-btn::after {
  content: "";
}

.burger-btn::before,
.burger-btn::after,
.burger-btn span {
  position: absolute;
  width: 100%;
  background-color: #000;
  height: 2px;
  border-radius: 1px;
  transition: 0.3s;
}

.burger-btn::before {
  left: 0;
  top: 0;
}

.burger-btn::after {
  left: 0;
  bottom: 0;
}

.burger-btn span {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.menu-popup {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transition: left 0.3s;
  overflow: auto;
  padding: 100px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.menu-popup.active {
  left: 0;
}
.menu-popup .close-btn {
  display: inline-flex;
  position: absolute;
  flex: 0 0 40px;
  height: 40px;
  top: 20px;
  right: 20px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

body {
  font-family: "Libre Franklin", sans-serif;
  background-color: #fff;
  line-height: 1;
}
body.lock {
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100vh;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1160px;
  padding: 0 20px;
  box-sizing: content-box;
  margin: 0 auto;
}

.ibg {
  position: relative;
}
.ibg > img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

input,
button,
textarea {
  font-family: inherit;
  border: 0;
  outline: 0;
}

button {
  cursor: pointer;
}

.label {
  font-weight: 200;
  font-size: 17px;
  color: #8A8A8A;
}

.title {
  font-weight: 200;
  font-size: 50px;
  color: #323232;
  text-transform: uppercase;
}
@media (max-width: 1440px) {
  .title {
    font-size: calc(50px - (22.6666666667px - 1.5740740741vw));
  }
}
@media (max-width: 360px) {
  .title {
    font-size: 33px;
  }
}

.text {
  font-weight: 300;
  font-size: 20px;
  color: #615363;
  line-height: 1.25;
  letter-spacing: 0.03em;
  font-size: 20px;
}
@media (max-width: 1440px) {
  .text {
    font-size: calc(20px - (5.3333333333px - 0.3703703704vw));
  }
}
@media (max-width: 360px) {
  .text {
    font-size: 16px;
  }
}

.left-offset {
  padding-left: 60px;
}
@media (max-width: 1440px) {
  .left-offset {
    padding-left: calc(60px - (128.3803863299px - 8.9153046062vw));
  }
}
@media (max-width: 767px) {
  .left-offset {
    padding-left: 0px;
  }
}

.separator {
  background-color: #fff;
}
.separator_1 {
  height: 200px;
}
@media (max-width: 992px) {
  .separator_1 {
    height: 175px;
  }
}
@media (max-width: 767px) {
  .separator_1 {
    height: 145px;
  }
}
@media (max-width: 700px) {
  .separator_1 {
    height: 25px;
  }
}
.separator_2 {
  height: 144px;
}
@media (max-width: 700px) {
  .separator_2 {
    height: 168px;
  }
}
.separator_3 {
  height: 80px;
}
@media (max-width: 992px) {
  .separator_3 {
    height: 60px;
  }
}
@media (max-width: 767px) {
  .separator_3 {
    height: 40px;
  }
}

.border {
  position: relative;
}
.border::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  width: calc(100% + 4px);
  height: 100%;
  border: 2px solid #B496AC;
  border-bottom: 0;
  border-radius: 50px 50px 0px 0px;
  z-index: -1;
}

.header {
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
}
@media (max-width: 576px) {
  .header {
    top: 16px;
  }
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  display: flex;
  justify-content: flex-start;
}
@media (min-width: 992px) {
  .header__logo {
    flex-basis: 25%;
  }
}
.header__logo a {
  display: flex;
}
@media (max-width: 576px) {
  .header__logo a img {
    width: 128px;
    height: auto;
  }
}
@media (min-width: 767px) {
  .header__nav {
    padding: 0 20px;
  }
}
@media (min-width: 992px) {
  .header__nav {
    flex-basis: 50%;
  }
}
.header__nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px 30px;
}
@media (max-width: 992px) {
  .header__nav ul {
    gap: 10px 20px;
  }
}
@media (max-width: 767px) {
  .header__nav ul {
    flex-direction: column;
    margin-bottom: 40px;
    gap: 15px;
  }
}
.header__nav a {
  font-weight: 400;
  font-size: 16px;
  color: #323232;
  transition: 0.3s;
}
.header__nav a:hover {
  color: #8C798F;
}
@media (max-width: 767px) {
  .header__nav a {
    font-size: 32px;
  }
}
.header__btn {
  display: flex;
  justify-content: flex-end;
  flex-shrink: 0;
}
@media (min-width: 992px) {
  .header__btn {
    flex-basis: 25%;
  }
}
@media (max-width: 767px) {
  .header__btn {
    justify-content: center;
  }
}
.header__btn a {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #615363;
  border-radius: 20px;
  padding: 7.5px 10px;
  font-weight: 500;
  font-size: 17px;
  color: #615363;
  width: 100%;
  max-width: 134px;
  transition: 0.3s;
}
.header__btn a:hover {
  color: #8C798F;
  border: 2px solid #8C798F;
}
@media (max-width: 767px) {
  .header__btn a {
    font-size: 32px;
    max-width: 280px;
    padding: 8.5px 10px;
    border-radius: 30px;
  }
}

.main-block {
  padding: 195px 0 60px;
}
@media (max-width: 767px) {
  .main-block {
    padding: 165px 0 100px;
  }
}
@media (max-width: 992px) {
  .main-block {
    padding: 145px 0 70px;
  }
}
@media (max-width: 576px) {
  .main-block {
    padding: 125px 0 45px;
  }
}
.main-block__inner {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 700px) {
  .main-block__inner {
    justify-content: flex-start;
    gap: 14px;
    flex-direction: column;
  }
}
.main-block__content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 3px;
}
@media (min-width: 700px) {
  .main-block__content {
    padding-top: 25px;
  }
}
.main-block__title {
  font-weight: 100;
  font-size: 100px;
  line-height: 1.02;
  text-transform: unset;
}
@media (max-width: 1440px) {
  .main-block__title {
    font-size: calc(100px - (85.5869242199px - 5.9435364042vw));
  }
}
@media (max-width: 767px) {
  .main-block__title {
    font-size: 60px;
  }
}
.main-block__image-block {
  width: 100%;
  max-width: 600px;
  gap: 15px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1440px) {
  .main-block__image-block {
    gap: calc(15px - (9.3333333333px - 0.6481481481vw));
  }
}
@media (max-width: 360px) {
  .main-block__image-block {
    gap: 8px;
  }
}
@media (max-width: 700px) {
  .main-block__image-block {
    max-width: unset;
  }
}
.main-block__image {
  padding-bottom: 81%;
}
@media (max-width: 992px) {
  .main-block__image {
    padding-bottom: 93.182%;
  }
}
@media (max-width: 700px) {
  .main-block__image {
    padding-bottom: 73.44%;
  }
}
.main-block__text {
  font-weight: 400;
  font-size: 15px;
  color: #616161;
  text-transform: uppercase;
}
@media (max-width: 1440px) {
  .main-block__text {
    font-size: calc(15px - (2.6666666667px - 0.1851851852vw));
  }
}
@media (max-width: 360px) {
  .main-block__text {
    font-size: 13px;
  }
}

.about-us {
  padding: 75px 0 80px;
  background: #8C798F;
  border-radius: 40px 40px 0px 0px;
  color: #fff;
  position: relative;
}
@media (max-width: 992px) {
  .about-us {
    padding: 70px 0 55px;
  }
}
@media (max-width: 767px) {
  .about-us {
    padding: 60px 0 30px;
  }
}
@media (max-width: 576px) {
  .about-us {
    padding: 60px 0 20px;
  }
}
.about-us__inner {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}
@media (max-width: 767px) {
  .about-us__inner {
    gap: 35px;
  }
}
@media (max-width: 700px) {
  .about-us__inner {
    gap: 25px;
  }
}
.about-us__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}
@media (max-width: 700px) {
  .about-us__content {
    justify-content: flex-start;
    flex-direction: column;
    gap: 25px;
  }
}
.about-us__title {
  width: 100%;
  max-width: 400px;
  color: inherit;
  position: relative;
  letter-spacing: -0.04em;
  line-height: 1.12;
}
.about-us__column {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 40px;
  width: 45%;
}
.about-us__column_big {
  width: 50%;
}
@media (max-width: 767px) {
  .about-us__column {
    gap: 25px;
  }
}
@media (max-width: 700px) {
  .about-us__column {
    width: unset;
  }
}
.about-us__text {
  color: inherit;
}
.about-us__image-block {
  position: relative;
  width: 100%;
}
.about-us__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
@media (max-width: 700px) {
  .about-us__image {
    position: static;
    height: unset !important;
    padding-bottom: 62.5%;
  }
}
.about-us__label {
  position: absolute;
  top: 0;
  white-space: nowrap;
  min-width: 75px;
  right: 100%;
  font-weight: 500;
  font-size: 17px;
  transform: translateX(-64px);
  text-transform: none;
  letter-spacing: normal;
  line-height: 1;
}
@media (max-width: 1360px) {
  .about-us__label {
    transform: translateX(-32px);
  }
}
@media (max-width: 1300px) {
  .about-us__label {
    display: none;
  }
}

.team {
  padding: 60px 0 80px;
}
@media (max-width: 992px) {
  .team {
    padding: 60px 0 70px;
  }
}
@media (max-width: 767px) {
  .team {
    padding: 55px 0 60px;
  }
}
@media (max-width: 576px) {
  .team {
    padding: 55px 0 20px;
  }
}
.team__inner {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 30px;
}
@media (max-width: 767px) {
  .team__inner {
    gap: 24px;
  }
}
.team__title {
  position: relative;
}
.team__label {
  position: absolute;
  left: 100%;
  bottom: 5px;
  font-weight: 200;
  font-size: 17px;
  color: #8A8A8A;
  width: 100%;
}
@media (max-width: 1440px) {
  .team__label {
    font-size: calc(17px - (2.6666666667px - 0.1851851852vw));
  }
}
@media (max-width: 360px) {
  .team__label {
    font-size: 15px;
  }
}
.team__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  width: 100%;
}
@media (max-width: 700px) {
  .team__content {
    flex-direction: column;
    justify-content: flex-start;
    gap: 35px;
  }
}
.team__text {
  width: 100%;
  max-width: 602px;
}
@media (max-width: 700px) {
  .team__text {
    max-width: unset;
  }
}
.team__image {
  width: 100%;
  max-width: 332px;
  min-height: 314px;
}
@media (max-width: 700px) {
  .team__image {
    max-width: unset;
    min-height: unset;
    padding-bottom: 75.317%;
  }
}

.slider-block {
  padding: 70px 0 50px;
  background-color: #8C798F;
  position: relative;
}
@media (max-width: 992px) {
  .slider-block {
    padding: 70px 0 40px;
  }
}
@media (max-width: 767px) {
  .slider-block {
    padding: 70px 0 35px;
  }
}
@media (max-width: 576px) {
  .slider-block {
    padding: 70px 0 45px;
  }
}
.slider-block::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  top: 0;
  right: 100%;
  transform: translateX(246px);
}
@media (max-width: 1440px) {
  .slider-block::before {
    transform: translateX(calc(246px - (240px - 16.667vw)));
  }
}
@media (max-width: 700px) {
  .slider-block::before {
    display: none;
  }
}
.slider-block::after {
  content: "";
  position: absolute;
  width: 91.1111111111%;
  top: 28px;
  bottom: 28px;
  right: 0;
  border: 1px solid rgba(217, 217, 217, 0.7);
  border-right: 0;
}
@media (max-width: 1440px) {
  .slider-block::after {
    top: calc(28px - (6.4190193165px - 0.4457652303vw));
  }
}
@media (max-width: 767px) {
  .slider-block::after {
    top: 25px;
  }
}
@media (max-width: 1440px) {
  .slider-block::after {
    bottom: calc(28px - (6.4190193165px - 0.4457652303vw));
  }
}
@media (max-width: 767px) {
  .slider-block::after {
    bottom: 25px;
  }
}
@media (max-width: 700px) {
  .slider-block::after {
    width: 100%;
    border-left: 0;
  }
}
.slider-block__image {
  position: absolute;
  width: 100%;
  z-index: 2;
  top: 40px;
  left: 0;
  max-width: 500px;
  min-height: 353px;
}
@media (max-width: 1440px) {
  .slider-block__image {
    max-width: calc(500px - (502.0540540541px - 34.8648648649vw));
  }
}
@media (max-width: 700px) {
  .slider-block__image {
    max-width: 242px;
  }
}
@media (max-width: 1440px) {
  .slider-block__image {
    min-height: calc(353px - (64.2162162162px - 4.4594594595vw));
  }
}
@media (max-width: 700px) {
  .slider-block__image {
    min-height: 320px;
  }
}
@media (max-width: 700px) {
  .slider-block__image {
    max-width: 265px;
    min-height: 124px;
    top: 100%;
    transform: translateY(-35px);
  }
}
.slider-slider-block {
  width: 100%;
  max-width: 764px;
  margin: unset;
  margin-left: auto;
  max-width: 764px;
}
@media (max-width: 1440px) {
  .slider-slider-block {
    max-width: calc(764px - (688.8648648649px - 47.8378378378vw));
  }
}
@media (max-width: 700px) {
  .slider-slider-block {
    max-width: 410px;
  }
}
@media (max-width: 700px) {
  .slider-slider-block {
    max-width: unset;
  }
}
.slider-slider-block__wrapper {
  margin-bottom: 48px;
}
.slider-slider-block__title {
  font-weight: 200;
  font-size: 40px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 2px;
}
@media (max-width: 1440px) {
  .slider-slider-block__title {
    font-size: calc(40px - (20px - 1.3888888889vw));
  }
}
@media (max-width: 360px) {
  .slider-slider-block__title {
    font-size: 25px;
  }
}
.slider-slider-block__subtitle {
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 0.02em;
  color: #d9d9d9;
  margin-bottom: 25px;
}
@media (max-width: 1440px) {
  .slider-slider-block__subtitle {
    font-size: calc(18px - (5.3333333333px - 0.3703703704vw));
  }
}
@media (max-width: 360px) {
  .slider-slider-block__subtitle {
    font-size: 14px;
  }
}
@media (max-width: 700px) {
  .slider-slider-block__subtitle {
    margin-bottom: 20px;
  }
}
.slider-slider-block__text {
  font-weight: 400;
  font-size: 20px;
  color: #fff;
  line-height: 1.2;
}
@media (max-width: 1440px) {
  .slider-slider-block__text {
    font-size: calc(20px - (6.6666666667px - 0.462962963vw));
  }
}
@media (max-width: 360px) {
  .slider-slider-block__text {
    font-size: 15px;
  }
}
.slider-slider-block__controls {
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider-slider-block__pagination {
  width: unset !important;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
}
.slider-slider-block__pagination .swiper-pagination-bullet {
  background: rgba(217, 217, 217, 0.4);
  margin: unset !important;
}
.slider-slider-block__pagination .swiper-pagination-bullet-active {
  background: rgba(217, 217, 217, 0.9);
}
.slider-slider-block__btn {
  cursor: pointer;
  transition: 0.3s;
}
.slider-slider-block__btn_prev {
  margin-left: auto;
  margin-right: 20px;
}
.slider-slider-block__btn:hover {
  opacity: 0.7;
}

.marketplace {
  padding: 60px 0 90px;
}
@media (max-width: 992px) {
  .marketplace {
    padding: 55px 0 85px;
  }
}
@media (max-width: 767px) {
  .marketplace {
    padding: 50px 0 80px;
  }
}
@media (max-width: 576px) {
  .marketplace {
    padding: 50px 0 40px;
  }
}
.marketplace__inner {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 30px;
}
.marketplace__title {
  max-width: 350px;
}
.marketplace__content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 32px;
}
.marketplace__text-block {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}
@media (max-width: 700px) {
  .marketplace__text-block {
    gap: 25px;
  }
}
.marketplace__text-column {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
}
@media (max-width: 700px) {
  .marketplace__text-column {
    flex-direction: column;
    gap: 25px;
  }
}
.marketplace__article {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}
.marketplace__label {
  font-weight: 600;
}
.marketplace__link {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  color: #323232;
  padding-bottom: 2px;
  border-bottom: 1px solid #323232;
  transition: 0.3s;
}
.marketplace__link:hover {
  color: #8C798F;
  border-bottom: 1px solid #8C798F;
}
.marketplace__image {
  width: 100%;
  max-width: 400px;
  min-height: 780px;
  flex-shrink: 0;
}
@media (max-width: 992px) {
  .marketplace__image {
    max-width: 268px;
    min-height: 464px;
  }
}
@media (max-width: 700px) {
  .marketplace__image {
    max-width: unset;
    min-height: unset;
    padding-bottom: 108.75%;
  }
}

.contact {
  background: #8C798F;
  border-radius: 40px 40px 0px 0px;
  color: #fff;
  padding: 70px 0 65px;
}
@media (max-width: 576px) {
  .contact {
    padding: 50px 0 30px;
  }
}
.contact__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 100px;
  position: relative;
}
.contact__inner::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  height: 100%;
  width: 1px;
  background-color: #D9D9D9;
}
@media (max-width: 700px) {
  .contact__inner::before {
    display: none;
  }
}
@media (max-width: 700px) {
  .contact__inner {
    justify-content: flex-start;
    flex-direction: column;
    gap: unset;
  }
}
.contact__title {
  font-weight: 200;
  font-size: 40px;
  text-transform: uppercase;
}
@media (max-width: 1440px) {
  .contact__title {
    font-size: calc(40px - (21.396731055px - 1.485884101vw));
  }
}
@media (max-width: 767px) {
  .contact__title {
    font-size: 30px;
  }
}
.contact__form {
  width: 100%;
  max-width: 460px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 26px;
}
@media (max-width: 700px) {
  .contact__form {
    max-width: unset;
    border-bottom: 1px solid #D9D9D9;
    padding-bottom: 35px;
  }
}

.form-contact {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 40px;
}
.form-contact__items {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
.form-contact__item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 6px;
  width: 100%;
}
.form-contact__label {
  font-weight: 300;
  font-size: 16px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.form-contact__input, .form-contact__textarea {
  font-weight: 300;
  font-size: 15px;
  color: #fff;
  width: 100%;
  min-height: 55px;
  padding: 0 24px;
  border: 1px solid #D9D9D9;
  background-color: transparent;
}
@media (max-width: 767px) {
  .form-contact__input, .form-contact__textarea {
    padding: 0 12px;
  }
}
.form-contact__input::-moz-placeholder, .form-contact__textarea::-moz-placeholder {
  color: rgba(217, 217, 217, 0.6);
}
.form-contact__input::placeholder, .form-contact__textarea::placeholder {
  color: rgba(217, 217, 217, 0.6);
}
.form-contact__textarea {
  min-height: 148px;
  padding: 18px 24px;
  resize: none;
  line-height: 1.2;
}
@media (max-width: 767px) {
  .form-contact__textarea {
    padding: 18px 12px;
  }
}
.form-contact__btn {
  font-weight: 400;
  font-size: 15px;
  text-transform: uppercase;
  color: #000000;
  min-height: 38px;
  width: 100%;
  max-width: 200px;
  background-color: #fff;
  padding: 8px;
  transition: 0.3s;
}
.form-contact__btn:hover {
  opacity: 0.7;
}

.info-contact {
  width: 100%;
  max-width: 460px;
  align-self: end;
}
@media (max-width: 700px) {
  .info-contact {
    max-width: unset;
    padding-top: 35px;
  }
}
.info-contact__item {
  margin-bottom: 9px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
@media (max-width: 700px) {
  .info-contact__item {
    margin-bottom: 12px;
    gap: 6px;
  }
}
.info-contact__item:first-child {
  margin-bottom: 14px;
}
@media (max-width: 767px) {
  .info-contact__item:first-child {
    margin-bottom: 9px;
  }
}
@media (max-width: 700px) {
  .info-contact__item:first-child {
    margin-bottom: 20px;
  }
}
.info-contact__label {
  font-weight: 400;
  font-size: 25px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.info-contact__label.small {
  font-size: 22px;
  text-transform: none;
}
.info-contact__text {
  font-weight: 200;
  font-size: 20px;
  line-height: 1.2;
  color: #FFFFFF;
}
.info-contact__map {
  margin-top: 42px;
  min-height: 217px;
  position: relative;
}
@media (max-width: 767px) {
  .info-contact__map {
    margin-top: 30px;
  }
}
@media (max-width: 700px) {
  .info-contact__map {
    margin-top: 25px;
    min-height: unset;
    padding-bottom: 67.815%;
  }
}
.info-contact__map > * {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.partners {
  padding: 60px 0 100px;
}
@media (max-width: 992px) {
  .partners {
    padding: 60px 0 85px;
  }
}
@media (max-width: 767px) {
  .partners {
    padding: 60px 0 70px;
  }
}
@media (max-width: 576px) {
  .partners {
    padding: 40px 0 45px;
  }
}
.partners__title {
  text-align: center;
  margin-bottom: 64px;
}
@media (max-width: 992px) {
  .partners__title {
    margin-bottom: 50px;
  }
}
@media (max-width: 767px) {
  .partners__title {
    margin-bottom: 36px;
  }
}
.partners__marquee {
  display: flex;
  overflow: hidden;
}
.partners__items {
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 100%;
  animation: scrollDesktop 15s linear infinite;
}
@media (max-width: 992px) {
  .partners__items {
    animation: scrollTablet 15s linear infinite;
  }
}
@media (max-width: 767px) {
  .partners__items {
    animation: scrollMobile 15s linear infinite;
  }
}
.partners__marquee, .partners__items {
  gap: 76px;
}
@media (max-width: 576px) {
  .partners__marquee, .partners__items {
    gap: 56px;
  }
}
@media (max-width: 767px) {
  .partners__marquee, .partners__items {
    gap: 36px;
  }
}
.partners__item {
  display: flex;
}
@media (max-width: 576px) {
  .partners__item {
    max-width: 100px;
  }
}
.partners__item img {
  width: 100%;
}

@keyframes scrollDesktop {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(calc(-100% - 76px));
  }
}
@keyframes scrollTablet {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(calc(-100% - 50px));
  }
}
@keyframes scrollMobile {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(calc(-100% - 36px));
  }
}
.footer {
  padding: 18px 0;
  background-color: #685B6A;
}
.footer__inner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__text {
  font-weight: 200;
  font-size: 13px;
  line-height: 29px;
  color: #fff;
  padding: 0 32px;
}
.footer__text:not(:last-child) {
  border-right: 1px solid #C9C9C9;
}
@media (max-width: 576px) {
  .footer__text {
    max-width: 142px;
    line-height: 15px;
  }
}
.footer a {
  transition: 0.3s;
}
.footer a:hover {
  color: rgba(255, 255, 255, 0.7);
}

.form-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: auto;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 100;
  padding: 60px 20px 20px;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.form-popup.active {
  opacity: 1;
  visibility: visible;
}
.form-popup.active .form-popup__inner {
  transform: scale(1);
}
.form-popup__close-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
}
@media (max-width: 660px) {
  .form-popup__close-btn {
    position: absolute;
  }
}
.form-popup__inner {
  background-color: #8C798F;
  display: inline-block;
  width: 100%;
  max-width: 460px;
  color: #fff;
  padding: 40px;
  border-radius: 20px;
  box-sizing: content-box;
  position: relative;
  transform: scale(0);
  transition: 0.3s;
}
@media (max-width: 700px) {
  .form-popup .contact__form {
    padding: 0;
    border: 0;
  }
}