.tournament-members {
    position: absolute;
    left: 0;
    top: 0;
    right: -1px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 3.3333333333rem;
    background-color: rgba(0, 0, 0, .8)
}

@media(min-width:769px)and (max-width:1024px) {
    .tournament-members {
        padding-top: 9rem
    }
}

@media(min-width:1025px) {
    .tournament-members {
        padding-top: 5rem
    }
}

.tournament-members--game {
    background-color: rgba(46, 58, 71, .9)
}

.tournament-members--game:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    width: 100%
}

@media(min-width:769px)and (max-width:1024px) {
    .tournament-members--game {
        padding-top: 7rem
    }

    .tournament-members--game:before {
        height: 4rem;
        background-image: linear-gradient(180deg, rgba(46, 58, 71, 0), rgba(46, 58, 71, .78) 72%, #2e3a47)
    }
}

@media(min-width:1025px) {
    .tournament-members--game {
        padding-top: 5.5555555556rem
    }

    .tournament-members--game:before {
        height: 2.2222222222rem;
        background-image: linear-gradient(180deg, rgba(46, 58, 71, 0), rgba(46, 58, 71, .78) 72%, #2e3a47)
    }
}

.tournament-members__close-wr {
    position: absolute;
    right: 1.3333333333rem;
    top: 1.3333333333rem;
    z-index: 1;
    font-size: 0;
    line-height: 0;
    letter-spacing: -4px;
    cursor: pointer
}

@media(min-width:769px)and (max-width:1024px) {
    .tournament-members__close-wr {
        right: 2rem;
        top: 3rem
    }

    .play .tournament-members__close-wr {
        right: 1rem;
        top: 1.6rem
    }
}

@media(min-width:1025px) {
    .tournament-members__close-wr {
        right: 1.1111111111rem;
        top: 1.6666666667rem
    }
}

.tournament-members__close {
    width: 1.2rem;
    height: auto;
    color: #fff;
    letter-spacing: normal
}

@media(min-width:769px)and (max-width:1024px) {
    .tournament-members__close {
        width: 2rem
    }

    .play .tournament-members__close {
        width: 1.3888888889rem
    }
}

@media(min-width:1025px) {
    .tournament-members__close {
        width: 1rem
    }
}

.tournament-members__header {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    margin-bottom: .6666666667rem;
    font-style: italic;
    font-weight: 700;
    font-size: .8666666667rem;
    line-height: 1;
    color: #fff;
    letter-spacing: normal;
    text-transform: uppercase
}

@media(min-width:769px)and (max-width:1024px) {
    .tournament-members__header {
        padding: 0 2.1rem;
        margin-bottom: 3rem;
        font-size: 1.6rem
    }

    .play .tournament-members__header {
        padding: 0 1rem;
        margin-bottom: 1.5rem;
        font-size: 1.4rem
    }
}

@media(min-width:1025px) {
    .tournament-members__header {
        padding: 0 1.1666666667rem;
        margin-bottom: 1.6666666667rem;
        font-size: .8888888889rem
    }
}

.tournament-members__table-wr {
    flex: 1 1 auto;
    display: flex;
    height: 8.3333333333rem
}

@media(min-width:769px)and (max-width:1024px) {
    .tournament-members__table-wr {
        height: 20rem
    }
}

@media(min-width:1025px) {
    .tournament-members__table-wr {
        height: 18.8888888889rem
    }
}

.tournament-members__table {
    flex-shrink: 0;
    display: flex;
    margin-left: 1px
}

.tournament-members__rows {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 1.3333333333rem;
    margin-left: -1px
}

@media(min-width:769px)and (max-width:1024px) {
    .tournament-members__rows {
        padding-bottom: 1rem
    }
}

@media(min-width:1025px) {
    .tournament-members__rows {
        padding-bottom: 1.1111111111rem
    }
}

.tournament-members__row-wrap {
    padding: 0 1rem
}

.tournament-members__row-wrap.current {
    background-color: #1183ff
}

@media(min-width:769px)and (max-width:1024px) {
    .tournament-members__row-wrap {
        padding: 0 1rem
    }
}

@media(min-width:1025px) {
    .tournament-members__row-wrap {
        padding: 0 1.1666666667rem
    }
}

.tournament-members__row {
    display: flex;
    align-items: center;
    padding: .4rem 0;
    border-bottom: 1px solid #657381
}

.tournament-members__row:first-child {
    border-top: 1px solid #657381
}

.current .tournament-members__row {
    border: 0
}

@media(min-width:769px)and (max-width:1024px) {
    .tournament-members__row {
        padding: 1.6rem 0
    }

    .play .tournament-members__row {
        padding: .9rem 0
    }
}

@media(min-width:1025px) {
    .tournament-members__row {
        padding: .8888888889rem 0
    }
}

.tournament-members__row-num {
    min-width: 2.0666666667rem;
    padding-right: .3333333333rem;
    font-style: italic;
    font-weight: 700;
    font-size: .9333333333rem;
    line-height: 1;
    color: #fff;
    letter-spacing: -.0646666667rem
}

@media(min-width:769px)and (max-width:1024px) {
    .tournament-members__row-num {
        min-width: 3.4444444444rem;
        padding-right: .5555555556rem;
        font-size: 1.8666666667rem;
        letter-spacing: -.1022222222rem
    }

    .play .tournament-members__row-num {
        min-width: 2.2222222222rem;
        padding-right: .2777777778rem;
        font-size: 1.4rem;
        letter-spacing: -.0555555556rem
    }
}

@media(min-width:1025px) {
    .tournament-members__row-num {
        min-width: 1.7222222222rem;
        padding-right: .2777777778rem;
        letter-spacing: -.0538888889rem
    }
}

.tournament-members__row-name {
    overflow: hidden;
    flex: 1 1 auto;
    max-width: 7.6666666667rem;
    padding-left: .0666666667rem;
    font-style: italic;
    font-weight: 700;
    font-size: .8rem;
    line-height: 1.4;
    color: hsla(0, 0%, 100%, .97);
    letter-spacing: normal;
    white-space: nowrap;
    text-overflow: ellipsis
}

@media(min-width:769px)and (max-width:1024px) {
    .tournament-members__row-name {
        max-width: 11.5rem;
        font-size: 1.8rem
    }

    .play .tournament-members__row-name {
        max-width: 10rem;
        font-size: 1.4rem
    }
}

@media(min-width:1025px) {
    .tournament-members__row-name {
        max-width: 6.3888888889rem;
        font-size: 1rem
    }
}

.tournament-members__row-score {
    flex: 1 1 auto;
    font-style: italic;
    font-weight: 700;
    font-size: 1.0666666667rem;
    line-height: 1;
    color: #dce7f3;
    letter-spacing: -.0646666667rem;
    text-align: right
}

@media(min-width:769px)and (max-width:1024px) {
    .tournament-members__row-score {
        font-size: 2.2222222222rem;
        letter-spacing: -.1077777778rem
    }

    .play .tournament-members__row-score {
        font-size: 2rem;
        letter-spacing: -.1rem
    }
}

@media(min-width:1025px) {
    .tournament-members__row-score {
        font-size: 1.1111111111rem;
        letter-spacing: -.0538888889rem
    }
}

.promotions-slider {
    position: relative;
    margin-top: 1.3333333333rem;
    margin-bottom: 1.6666666667rem
}

.promotions-slider:last-child {
    margin-bottom: 0
}

.container-sidebar__sidebar--calendar .promotions-slider {
    margin-left: -10px;
    margin-right: -10px
}

@media(min-width:1025px) {
    .container-sidebar__sidebar--calendar .promotions-slider {
        margin-left: 0;
        margin-right: 0
    }
}

.promotions-slider__title {
    position: relative;
    padding-left: 2.9333333333rem;
    margin: 0 10px .8666666667rem
}

@media(min-width:769px)and (max-width:1024px) {
    .promotions-slider__title {
        padding-left: 5.4rem;
        margin-bottom: 1.6666666667rem
    }
}

@media(min-width:1025px) {
    .promotions-slider__title {
        padding-left: 3.7777777778rem;
        margin: 0 0 1.6666666667rem
    }
}

.promotions-slider__title-ic {
    position: absolute;
    left: .4rem;
    top: 50%;
    transform: translate3d(0, -50%, 0);
    width: auto;
    height: 1.3333333333rem;
    color: #4aa1ff
}

@media(min-width:769px)and (max-width:1024px) {
    .promotions-slider__title-ic {
        left: .8rem;
        height: 2.8rem
    }
}

@media(min-width:1025px) {
    .promotions-slider__title-ic {
        left: 1.2777777778rem;
        height: 1.5555555556rem
    }
}

.promotions-slider__title-text {
    font-style: italic;
    font-weight: 600;
    font-size: .8666666667rem;
    line-height: 1;
    color: #fff;
    letter-spacing: normal;
    text-transform: uppercase
}

@media(min-width:769px)and (max-width:1024px) {
    .promotions-slider__title-text {
        font-size: 2rem
    }
}

@media(min-width:1025px) {
    .promotions-slider__title-text {
        font-size: 1rem
    }
}

.promotions-slider__slider {
    overflow: hidden;
    padding: .9333333333rem 10px 0 !important
}

.promotions-slider__slider .swiper-wrapper {
    display: flex
}

@media(min-width:769px)and (max-width:1024px) {
    .promotions-slider__slider {
        padding: 2rem 10px 0 !important
    }
}

@media(min-width:1025px) {
    .promotions-slider__slider {
        padding: 1rem 0 0 !important;
    }
}

.promotions-slider__next,
.promotions-slider__prev {
    position: absolute;
    bottom: 0;
    display: none;
    width: 30%;
    height: 100%;
    cursor: pointer;
    z-index: 1
}

@media(min-width:769px) {

    .promotions-slider__next,
    .promotions-slider__prev {
        display: flex;
        justify-content: center;
        align-items: center
    }
}

@media(min-width:769px)and (max-width:1024px) {

    .promotions-slider__next,
    .promotions-slider__prev {
        width: 9vw;
        height: 30.5555555556rem
    }
}

@media(min-width:1025px) {

    .promotions-slider__next,
    .promotions-slider__prev {
        width: 2.7777777778rem;
        height: 24.5555555556rem
    }
}

.promotions-slider__prev {
    left: 0
}

.promotions-slider__next {
    right: 0
}

@media(max-width:768px) {
    .promotions-slider__next {
        display: block;
        width: 1.3333333333rem;
        height: 12.6666666667rem
    }
}

.promotions-slider__next-ic,
.promotions-slider__prev-ic {
    width: auto;
    height: 2.4rem;
    color: #fff;
    letter-spacing: normal
}

@media(max-width:768px) {

    .promotions-slider__next-ic,
    .promotions-slider__prev-ic {
        display: none
    }
}

.no-touch .promotions-slider__next-ic,
.no-touch .promotions-slider__prev-ic {
    transition: color .2s ease-in-out
}

.no-touch .promotions-slider__next:hover .promotions-slider__next-ic,
.no-touch .promotions-slider__next:hover .promotions-slider__prev-ic,
.no-touch .promotions-slider__prev:hover .promotions-slider__next-ic,
.no-touch .promotions-slider__prev:hover .promotions-slider__prev-ic {
    color: #dce7f3
}

@media(min-width:769px) {

    .promotions-slider__next-ic,
    .promotions-slider__prev-ic {
        height: 2rem
    }
}

@media(min-width:769px)and (max-width:1024px) {

    .promotions-slider__next-ic,
    .promotions-slider__prev-ic {
        margin-bottom: 5.5555555556rem
    }
}

@media (max-width: 576px) {

    .promotions-slider__next,
    .promotions-slider__prev {
        display: none;
    }
}

.promotions-slider__slider-item {
    position: relative;
    transform: translateZ(0);
    flex-shrink: 0;
    height: 12.6666666667rem !important
}

.promotions-slider__slider-item:last-child {
    margin-right: 0
}

@media(min-width:769px)and (max-width:1024px) {
    .promotions-slider__slider-item {
        height: 30.5555555556rem !important
    }
}

@media(min-width:1025px) {
    .promotions-slider__slider-item {
        height: 24.5555555556rem !important
    }
}

.promotions-slider__slider-item-wr {
    position: relative;
    height: 100%;
}

.promotions-slider__slider-item-img-wr {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%
}

.promotions-slider__slider-item-img-wr:before {
    left: 0;
    transform: skew(-15deg, 0) translate3d(-16.6666666667rem, 0, 0);
    width: 11.8rem
}

.promotions-slider__slider-item-img-wr:after,
.promotions-slider__slider-item-img-wr:before {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
    opacity: 0;
    transition: all .2s cubic-bezier(.4, 0, .2, 1)
}

.promotions-slider__slider-item-img-wr:after {
    right: 0;
    transform: skew(-15deg, 0) translate3d(10rem, 0, 0);
    width: 6.6666666667rem
}

.swiper-slide-active .promotions-slider__slider-item-img-wr:after,
.swiper-slide-active .promotions-slider__slider-item-img-wr:before {
    opacity: 1
}

.swiper-slide-active .promotions-slider__slider-item-img-wr:before {
    transform: skew(-15deg, 0) translate3d(-2rem, 0, 0);
    opacity: 1
}

.swiper-slide-active .promotions-slider__slider-item-img-wr:after {
    transform: skew(-15deg, 0) translate3d(2rem, 0, 0);
    opacity: 1
}

@media(min-width:451px)and (max-width:768px) {
    .promotions-slider__slider-item-img-wr:before {
        transform: skew(-15deg, 0) translate3d(-2rem, 0, 0);
        opacity: 1
    }

    .promotions-slider__slider-item-img-wr:after {
        transform: skew(-15deg, 0) translate3d(2rem, 0, 0);
        opacity: 1
    }

    .swiper-slide-active+.swiper-slide-next .promotions-slider__slider-item-img-wr:before {
        transform: skew(-15deg, 0) translate3d(-2rem, 0, 0)
    }

    .swiper-slide-active+.swiper-slide-next .promotions-slider__slider-item-img-wr:after {
        transform: skew(-15deg, 0) translate3d(2rem, 0, 0)
    }
}

@media(min-width:769px)and (max-width:1024px) {
    .promotions-slider__slider-item-img-wr:before {
        transform: skew(-15deg, 0) translate3d(-4.4444444444rem, 0, 0);
        width: 25rem;
        opacity: 1
    }

    .promotions-slider__slider-item-img-wr:after {
        transform: skew(-15deg, 0) translate3d(2.7777777778rem, 0, 0);
        width: 16.6666666667rem;
        opacity: 1
    }

    .swiper-slide-active+.swiper-slide-next .promotions-slider__slider-item-img-wr:before,
    .swiper-slide-active .promotions-slider__slider-item-img-wr:before {
        transform: skew(-15deg, 0) translate3d(-4.4444444444rem, 0, 0)
    }

    .swiper-slide-active+.swiper-slide-next .promotions-slider__slider-item-img-wr:after,
    .swiper-slide-active .promotions-slider__slider-item-img-wr:after {
        transform: skew(-15deg, 0) translate3d(2.7777777778rem, 0, 0)
    }
}

@media(min-width:1025px) {
    .promotions-slider__slider-item-img-wr:before {
        transform: skew(-15deg, 0) translate3d(-31.1111111111rem, 0, 0);
        width: 12.2222222222rem
    }

    .promotions-slider__slider-item-img-wr:after {
        transform: skew(-15deg, 0) translate3d(25rem, 0, 0);
        width: 7.7777777778rem
    }

    .swiper-slide-active .promotions-slider__slider-item-img-wr:before {
        transform: skew(-15deg, 0) translate3d(-3.3333333333rem, 0, 0)
    }

    .swiper-slide-active .promotions-slider__slider-item-img-wr:after {
        transform: skew(-15deg, 0) translate3d(2.7777777778rem, 0, 0)
    }
}

.promotions-slider__slider-item-img-wr--members-open:before {
    transform: skew(-15deg, 0) translate3d(-31.1111111111rem, 0, 0) !important
}

.promotions-slider__slider-item-img-wr--members-open:after {
    transform: skew(-15deg, 0) translate3d(25rem, 0, 0) !important
}

.promotions-slider__slider-item-inner {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%
}

.promotions-slider__slider-item-top {
    margin-top: -.9333333333rem;
    font-size: 0;
    line-height: 0;
    letter-spacing: -4px
}

@media(min-width:769px)and (max-width:1024px) {
    .promotions-slider__slider-item-top {
        margin-top: -2rem
    }
}

@media(min-width:1025px) {
    .promotions-slider__slider-item-top {
        margin-top: -1rem
    }
}

.promotions-slider__slider-item-title-wr {
    position: relative;
    z-index: 2;
    transform: translate3d(0, 45px, 0);
    display: inline-block;
    max-width: 85%;
    margin: 0 1rem;
    padding: .4rem .6666666667rem;
    font-style: italic;
    font-weight: 600;
    font-size: .9333333333rem;
    line-height: 1.14;
    color: #fff;
    letter-spacing: normal;
    text-transform: uppercase;
    white-space: nowrap;
    text-overflow: ellipsis;
    opacity: 0;
    transition: all .4s cubic-bezier(.4, 0, .2, 1);
    transition-delay: .1s
}

.promotions-slider__slider-item-title-wr:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    transform: skew(-15deg, 0);
    width: 100%;
    height: 100%;
    background-color: #394755;
    border-radius: 2px
}

.swiper-slide-active .promotions-slider__slider-item-title-wr {
    transform: translateZ(0);
    opacity: 1
}

@media(min-width:451px)and (max-width:768px) {
    .promotions-slider__slider-item-title-wr {
        transform: translateZ(0);
        opacity: 1
    }
}

@media(min-width:769px)and (max-width:1024px) {
    .promotions-slider__slider-item-title-wr {
        transform: translateZ(0);
        padding: .8888888889rem 1.3333333333rem;
        margin: 0 2.7777777778rem;
        font-size: 2rem;
        line-height: 1.14;
        letter-spacing: -.0855555556rem;
        opacity: 1
    }
}

@media(min-width:1025px) {
    .promotions-slider__slider-item-title-wr {
        padding: .4444444444rem .6666666667rem;
        margin: 0 1.3888888889rem;
        font-size: 1rem;
        line-height: 1.14;
        letter-spacing: -.0427777778rem
    }
}

.promotions-slider__slider-item-type-wr {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.promotions-slider__slider-item-jackpot {
    position: relative;
    z-index: 2;
    transform: translate3d(0, 10px, 0);
    display: inline-block;
    min-width: 5rem;
    padding: 0 .6666666667rem;
    margin: -.2666666667rem 0 0 1.3333333333rem;
    border-radius: 1px;
    font-style: italic;
    font-weight: 600;
    font-size: .8666666667rem;
    line-height: 1.8666666667rem;
    color: #fff;
    letter-spacing: normal;
    text-align: center;
    pointer-events: none;
    opacity: 0;
    transition: all .4s cubic-bezier(.4, 0, .2, 1);
    transition-delay: .15s
}

.promotions-slider__slider-item-jackpot:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    transform: skew(-15deg, 0);
    width: 100%;
    height: 100%;
    background-image: linear-gradient(270deg, #a53eeb, #6d3eeb)
}

.swiper-slide-active .promotions-slider__slider-item-jackpot {
    transform: translateZ(0);
    opacity: 1
}

@media(min-width:451px)and (max-width:768px) {
    .promotions-slider__slider-item-jackpot {
        transform: translateZ(0);
        opacity: 1
    }
}

@media(min-width:769px)and (max-width:1024px) {
    .promotions-slider__slider-item-jackpot {
        transform: translateZ(0);
        padding: 0 1.5rem;
        margin: -.2rem 0 0 2.5rem;
        font-size: 2.1rem;
        line-height: 4rem;
        opacity: 1;
        letter-spacing: -.09rem
    }

    .promotions-slider__slider-item-jackpot:before {
        border-radius: .3rem
    }
}

@media(min-width:1025px) {
    .promotions-slider__slider-item-jackpot {
        padding: 0 .8333333333rem;
        margin: -.1111111111rem 0 0 1.3888888889rem;
        font-size: 1.1666666667rem;
        line-height: 2.2222222222rem;
        letter-spacing: -.05rem
    }

    .promotions-slider__slider-item-jackpot:before {
        border-radius: .1666666667rem
    }
}

.promotions-slider__slider-item-type {
    transform: translate3d(0, 30px, 0);
    margin: 0 1rem;
    font-style: italic;
    font-weight: 700;
    font-size: .8666666667rem;
    line-height: 1;
    color: #fff;
    letter-spacing: normal;
    text-transform: uppercase;
    opacity: 0;
    transition: all .4s cubic-bezier(.4, 0, .2, 1);
    transition-delay: .15s
}

.swiper-slide-active .promotions-slider__slider-item-type {
    transform: translateZ(0);
    opacity: 1
}

@media(min-width:451px)and (max-width:768px) {
    .promotions-slider__slider-item-type {
        transform: translateZ(0);
        opacity: 1
    }
}

@media(min-width:769px)and (max-width:1024px) {
    .promotions-slider__slider-item-type {
        transform: translateZ(0);
        margin: 0 2.1111111111rem;
        font-size: 1.7777777778rem;
        opacity: 1
    }
}

@media(min-width:1025px) {
    .promotions-slider__slider-item-type {
        margin: 0 1.0555555556rem;
        font-size: .8888888889rem
    }
}

.promotions-slider__timer-wr {
    padding: 0 0 1.6666666667rem 1rem;
    margin-bottom: -1.6rem
}

@media(min-width:769px)and (max-width:1024px) {
    .promotions-slider__timer-wr {
        padding: 0 0 5.3rem 2.5rem;
        margin-bottom: -3.8rem
    }
}

@media(min-width:1025px) {
    .promotions-slider__timer-wr {
        position: relative;
        display: inline-block;
        padding: .8333333333rem 1.9444444444rem 2.9444444444rem 1.3888888889rem;
        margin-bottom: -2.1111111111rem
    }

    .promotions-slider__timer-wr:before {
        content: "";
        position: absolute;
        left: -1.1111111111rem;
        bottom: 0;
        transform: translate3d(0, 30px, 0) skew(-15deg, 0);
        opacity: 0;
        transition: all .4s cubic-bezier(.4, 0, .2, 1);
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .7)
    }

    .swiper-slide-active .promotions-slider__timer-wr:before {
        transform: translateZ(0) skew(-15deg, 0);
        opacity: 1
    }
}

.promotions-slider__timer {
    transform: translate3d(0, 30px, 0);
    opacity: 0;
    transition: all .4s cubic-bezier(.4, 0, .2, 1);
    transition-delay: .2s
}

.swiper-slide-active .promotions-slider__timer {
    transform: translateZ(0);
    opacity: 1
}

@media(min-width:451px)and (max-width:768px) {
    .promotions-slider__timer {
        transform: translateZ(0);
        opacity: 1
    }
}

@media(min-width:769px)and (max-width:1024px) {
    .promotions-slider__timer {
        transform: translateZ(0);
        opacity: 1
    }
}

.promotions-slider__slider-item-bottom {
    overflow: hidden;
    transform: translateZ(0)
}

.promotions-slider__timer-title {
    position: relative;
    z-index: 1;
    transform: translate3d(0, 2rem, 0);
    margin-bottom: .0666666667rem;
    font-style: italic;
    font-weight: 600;
    font-size: .6rem;
    line-height: .8rem;
    letter-spacing: -.0286666667rem;
    color: #fff;
    opacity: 0;
    transition: all .4s cubic-bezier(.4, 0, .2, 1)
}

.swiper-slide-active .promotions-slider__timer-title {
    transform: translateZ(0);
    opacity: 1
}

@media(min-width:451px)and (max-width:768px) {
    .promotions-slider__timer-title {
        transform: translateZ(0);
        opacity: 1
    }
}

@media(min-width:769px)and (max-width:1024px) {
    .promotions-slider__timer-title {
        transform: translateZ(0);
        margin-bottom: .4rem;
        font-size: 1.4rem;
        line-height: 2.1rem;
        letter-spacing: -.069rem;
        opacity: 1
    }
}

@media(min-width:1025px) {
    .promotions-slider__timer-title {
        transform: translate3d(0, 1.6666666667rem, 0);
        margin-bottom: .2222222222rem;
        font-size: .7777777778rem;
        line-height: 1.1666666667rem;
        letter-spacing: -.0383333333rem
    }
}

.promotions-slider__slider-item-links {
    overflow: hidden;
    display: flex;
    justify-content: flex-end
}

@media(min-width:769px)and (max-width:1024px) {
    .promotions-slider__slider-item-links {
        margin-right: -.2777777778rem
    }
}

.promotions-slider__slider-item-link-wr {
    position: relative;
    transform: translate3d(0, 30px, 0) skew(-15deg, 0);
    margin-right: -.0666666667rem;
    border-radius: .1333333333rem;
    opacity: 0;
    cursor: pointer;
    transition: all .4s cubic-bezier(.4, 0, .2, 1)
}

.swiper-slide-active .promotions-slider__slider-item-link-wr {
    transform: translateZ(0) skew(-15deg, 0);
    opacity: 1
}

.promotions-slider__slider-item-link-wr:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    transform: translateZ(0);
    width: 100%;
    height: 100%;
    background-image: linear-gradient(90deg, #232e39, rgba(35, 46, 57, 0) 90%), linear-gradient(180deg, #232e39, rgba(35, 46, 57, .79), rgba(35, 46, 57, .27) 51%, rgba(35, 46, 57, .71) 99%, #232e39), linear-gradient(90deg, #3c479d 0, #7159a6);
    filter: hue-rotate(0deg);
    transition: all .2s ease-in-out
}

.no-touch .promotions-slider__slider-item-link-wr:hover:before {
    filter: hue-rotate(15deg)
}

.promotions-slider__slider-item-link-wr:last-child {
    margin-right: -.3333333333rem
}

@media(min-width:451px)and (max-width:768px) {
    .promotions-slider__slider-item-link-wr {
        transform: translateZ(0) skew(-15deg, 0);
        opacity: 1
    }
}

@media(min-width:769px)and (max-width:1024px) {
    .promotions-slider__slider-item-link-wr {
        transform: translateZ(0) skew(-15deg, 0);
        opacity: 1
    }
}

.promotions-slider__slider-item-link-wr--about:before {
    background-image: linear-gradient(270deg, #a53eeb, #6d3eeb)
}

.promotions-slider__slider-item-link {
    display: block;
    transform: translateZ(0) skew(15deg, 0);
    padding: 0 .6666666667rem;
    font-style: italic;
    font-size: .7333333333rem;
    line-height: 1.6rem;
    color: #fff;
    letter-spacing: normal;
    text-transform: uppercase
}

.promotions-slider__slider-item-link-wr:last-child .promotions-slider__slider-item-link {
    padding-right: 1rem
}

@media(min-width:769px)and (max-width:1024px) {
    .promotions-slider__slider-item-link {
        padding: 0 2rem;
        font-size: 1.7777777778rem;
        line-height: 4.2222222222rem
    }

    .promotions-slider__slider-item-link-wr:last-child .promotions-slider__slider-item-link {
        padding-right: 2.7777777778rem
    }
}

@media(min-width:1025px) {
    .promotions-slider__slider-item-link {
        padding: 0 1rem;
        font-size: .8888888889rem;
        line-height: 2.1111111111rem
    }

    .promotions-slider__slider-item-link-wr:last-child .promotions-slider__slider-item-link {
        padding-right: 1.3888888889rem
    }
}

.promotions-slider__slider-item-stats {
    position: absolute;
    transform: translate3d(0, 30px, 0);
    right: 1rem;
    bottom: 2.5333333333rem;
    text-align: right;
    opacity: 0;
    transition: all .4s cubic-bezier(.4, 0, .2, 1);
    transition-delay: .2s
}

.swiper-slide-active .promotions-slider__slider-item-stats {
    transform: translateZ(0);
    opacity: 1
}

@media(min-width:451px)and (max-width:768px) {
    .promotions-slider__slider-item-stats {
        transform: translateZ(0);
        opacity: 1
    }
}

@media(min-width:769px)and (max-width:1024px) {
    .promotions-slider__slider-item-stats {
        right: 2.2222222222rem;
        bottom: 7.7777777778rem;
        transform: translateZ(0);
        opacity: 1
    }
}

@media(min-width:1025px) {
    .promotions-slider__slider-item-stats {
        right: 1.1111111111rem;
        bottom: 2.9444444444rem
    }
}

.promotions-slider__slider-item-stats-block {
    margin-bottom: 1.3333333333rem
}

.promotions-slider__slider-item-stats-block:last-child {
    margin-bottom: 0
}

@media(min-width:769px)and (max-width:1024px) {
    .promotions-slider__slider-item-stats-block {
        margin-bottom: 3.3333333333rem
    }
}

@media(min-width:1025px) {
    .promotions-slider__slider-item-stats-block {
        margin-bottom: 1.5rem
    }
}

.promotions-slider__slider-item-stats-block-title {
    margin-bottom: .2rem;
    font-style: italic;
    font-weight: 600;
    font-size: .9333333333rem;
    line-height: 1.14;
    color: #fff;
    letter-spacing: normal;
    text-transform: uppercase
}

@media(min-width:769px)and (max-width:1024px) {
    .promotions-slider__slider-item-stats-block-title {
        font-size: 2.3333333333rem;
        line-height: .98;
        letter-spacing: -.1rem
    }
}

@media(min-width:1025px) {
    .promotions-slider__slider-item-stats-block-title {
        margin-bottom: .3333333333rem;
        font-size: 1.1666666667rem;
        line-height: .98;
        letter-spacing: -.05rem
    }
}

.promotions-slider__slider-item-stats-block-text {
    font-style: italic;
    font-size: .6rem;
    line-height: 1.14;
    color: #b4c8db;
    letter-spacing: -.0293333333rem;
    text-transform: lowercase
}

@media(min-width:769px)and (max-width:1024px) {
    .promotions-slider__slider-item-stats-block-text {
        font-size: 1.4444444444rem;
        line-height: 1;
        letter-spacing: -.07rem
    }
}

@media(min-width:1025px) {
    .promotions-slider__slider-item-stats-block-text {
        font-size: .7222222222rem;
        line-height: 1;
        letter-spacing: -.035rem
    }
}