.table-winner-tabs {
    overflow: auto;
    display: flex;
    padding: 0 .6666666667rem;
    -ms-overflow-style: none;
    scrollbar-width: none
}

.table-winner-tabs::-webkit-scrollbar {
    display: none
}

@media(min-width:769px) {
    .table-winner-tabs {
        padding: 0
    }
}

.table-winner-tabs__item {
    position: relative;
    margin-right: 1.3333333333rem;
    padding: 0 0 .9333333333rem .2666666667rem;
    font-weight: 700;
    font-size: .8666666667rem;
    line-height: 1.2rem;
    color: #8c9ea8;
    white-space: nowrap;
    text-transform: uppercase;
    font-style: italic;
    cursor: pointer
}

.table-winner-tabs__item:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    height: .1333333333rem;
    background-image: linear-gradient(270deg, #a53eeb, #6d3eeb)
}

.table-winner-tabs__item.active {
    color: #fff;
    pointer-events: none
}

.table-winner-tabs__item.active:before {
    display: block
}

@media(max-width:768px) {
    .table-winner-tabs__item:last-child {
        margin-right: 0
    }
}

@media(min-width:769px)and (max-width:1024px) {
    .table-winner-tabs__item {
        margin-right: 2.4rem;
        padding: 0 0 1.2rem .4rem;
        font-size: 1.2rem;
        line-height: 1.6rem
    }

    .table-winner-tabs__item:before {
        height: .2rem
    }
}

@media(min-width:1025px) {
    .table-winner-tabs__item {
        margin-right: 1.3333333333rem;
        padding: 0 0 .6666666667rem .2222222222rem;
        font-size: 1rem;
        line-height: 1.3333333333rem
    }

    .table-winner-tabs__item:before {
        height: .1111111111rem
    }
}

.table-winner-head {
    display: grid;
    /* grid-template-columns: 25% 1fr 22% 1fr 1fr; */
    grid-template-columns: 26% 19% 1fr 1fr 1fr 0.25fr;
    margin-bottom: 1rem;
    padding: 0 .6666666667rem
}

@media(min-width:769px) {
    .table-winner-head {
        grid-template-columns: 26% 19% 1fr 1fr 1fr 1fr
    }
}

@media(min-width:769px)and (max-width:1024px) {
    .table-winner-head {
        padding: 0 2rem
    }
}

@media(min-width:1025px) {
    .table-winner-head {
        padding: 0 1.1111111111rem
    }
}

.table-winner-head__item {
    padding-right: .6666666667rem;
    font-size: .7333333333rem;
    line-height: .9333333333rem;
    color: #8c9ea8
}

.table-winner-head__item:last-child {
    text-align: right;
    padding-right: 0
}

.table-winner-head__item.active {
    color: #fff
}

@media(min-width:769px)and (max-width:1024px) {
    .table-winner-head__item {
        padding-right: 1rem;
        font-size: 1.4rem;
        line-height: 1.6rem
    }
}

@media(min-width:1025px) {
    .table-winner-head__item {
        padding-right: .5555555556rem;
        font-size: .7777777778rem;
        line-height: .8888888889rem
    }
}

@media(min-width:769px) {
    .table-winner-head__item--game {
        order: 1
    }
}

@media(min-width:769px) {
    .table-winner-head__item--player {
        order: 2
    }
}

@media(min-width:769px)and (max-width:1024px) {
    .table-winner-head__item--player {
        padding-left: .3rem
    }
}

@media(min-width:1025px) {
    .table-winner-head__item--player {
        padding-left: .1666666667rem
    }
}

@media(min-width:769px) {
    .table-winner-head__item--bet {
        order: 3
    }
}

@media(min-width:769px) {
    .table-winner-head__item--factor {
        order: 4
    }
}

@media(min-width:769px) {
    .table-winner-head__item--win {
        order: 5
    }
}

@media(min-width:769px) {
    .table-winner-head__item--time {
        order: 6
    }
}

.table-winner-select {
    position: relative;
    display: flex;
    align-items: center;
    background-color: #2e3a47;
    cursor: pointer
}

@media(min-width:769px)and (max-width:1024px) {
    .table-winner-select {
        width: 6.4rem;
        padding: .8rem 1.2rem;
        border-radius: .8rem
    }
}

@media(min-width:1025px) {
    .table-winner-select {
        width: 3.5555555556rem;
        padding: .4444444444rem .6666666667rem;
        border-radius: .4444444444rem
    }
}

.table-winner-select__value {
    font-weight: 400;
    color: #b4c8db;
    transition: all .2s ease-in-out
}

.open .table-winner-select__value {
    color: #dce7f3
}

@media(min-width:769px)and (max-width:1024px) {
    .table-winner-select__value {
        margin-right: .6rem;
        font-size: 1.6rem;
        line-height: 2rem
    }
}

@media(min-width:1025px) {
    .table-winner-select__value {
        margin-right: .3333333333rem;
        font-size: .8888888889rem;
        line-height: 1.1111111111rem
    }
}

.table-winner-select__value-wr {
    display: flex;
    align-items: center
}

.table-winner-select__chevron {
    width: 0;
    height: 0;
    transition: all .2s ease-in-out
}

.open .table-winner-select__chevron {
    transform: rotate(-180deg)
}

@media(min-width:769px)and (max-width:1024px) {
    .table-winner-select__chevron {
        border-left: .8rem solid transparent;
        border-right: .8rem solid transparent;
        border-top: .8rem solid #b4c8db
    }
}

@media(min-width:1025px) {
    .table-winner-select__chevron {
        border-left: .4444444444rem solid transparent;
        border-right: .4444444444rem solid transparent;
        border-top: .4444444444rem solid #b4c8db
    }
}

.table-winner-select__list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #2e3a47;
    overflow: hidden
}

@media(min-width:769px)and (max-width:1024px) {
    .table-winner-select__list {
        margin-top: .4rem;
        border-radius: .8rem;
        box-shadow: 0 .8rem 1.2rem rgba(0, 0, 0, .25)
    }
}

@media(min-width:1025px) {
    .table-winner-select__list {
        margin-top: .2222222222rem;
        border-radius: .4444444444rem;
        box-shadow: 0 .4444444444rem .6666666667rem rgba(0, 0, 0, .25)
    }
}

.table-winner-select__list-item {
    cursor: pointer;
    text-align: center;
    border-bottom: 1px solid #445565;
    transition: all .2s ease-in-out
}

.no-touch .table-winner-select__list-item:hover {
    background-color: #445565
}

.table-winner-select__list-item:last-child {
    border: 0
}

@media(min-width:769px)and (max-width:1024px) {
    .table-winner-select__list-item {
        padding: .8rem 0;
        font-size: 1.6rem;
        line-height: 2rem
    }
}

@media(min-width:1025px) {
    .table-winner-select__list-item {
        padding: .4444444444rem 0;
        font-size: .8888888889rem;
        line-height: 1.1111111111rem
    }
}