.table-winner-item {
    display: grid;
        grid-template-columns: 26% 19% 1fr 1fr 1fr 0.25fr;
    padding: .4666666667rem .6666666667rem;
    min-height: 2.5333333333rem;
    border-bottom: 1px solid #232e39
}

.table-winner-item:first-child {
    border: 1px solid transparent;
    border-bottom: 1px solid #232e39
}

.table-winner-item:last-child {
    border: 0
}

/* @media(min-width:769px) {
    .table-winner-item {
        grid-template-columns: 26% 19% 1fr 1fr 1fr 1fr
    }
} */

@media(min-width:769px)and (max-width:1024px) {
    .table-winner-item {
        min-height: 6.8rem;
        padding: .7rem 2rem
    }
}

@media(min-width:1025px) {
    .table-winner-item {
        min-height: 3.7777777778rem;
        padding: .3888888889rem 1.1111111111rem;
        background-color: #2e3a47
    }
}

@media(min-width:1025px) {
    .table-up__item {
        transition: transform .3s ease
    }

    .table-up__item:hover {
        transform: translateY(-4px)
    }
}

.table-winner-item--first {
    animation: fadeBorder 2s ease-in-out 0s 1 none
}

@keyframes fadeBorder {
    0% {
        border: 1px solid transparent
    }

    50% {
        border: 1px solid #fff
    }

    to {
        border: 1px solid transparent
    }
}

.table-winner-item_element__game-img-wr {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%)
}