@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Open+Sans:wght@400;600&family=Ruda:wght@400;500;600;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

body {
  font-family: "Open Sans";
  background: #232323;
  color: #fff;
}
body.lock {
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100vh;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1240px;
  padding: 0 20px;
  box-sizing: content-box;
  margin: 0 auto;
}

.ibg {
  position: relative;
}
.ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
}

.title {
  font-family: "Ruda";
  font-weight: 700;
  font-size: 48px;
  margin-bottom: 56px;
}
@media (max-width: 1280px) {
  .title {
    margin-bottom: 40px;
  }
}
@media (max-width: 767px) {
  .title {
    font-size: 43px;
    margin-bottom: 30px;
  }
}
@media (max-width: 576px) {
  .title {
    font-size: 38px;
    margin-bottom: 20px;
  }
}

.text {
  font-weight: 400;
  font-size: 16px;
}

.btn {
  background-size: 250% !important;
  background-position: 25% 50% !important;
  transition: background-position 0.3s !important;
}
.btn:hover {
  background-position: 75% 50% !important;
}

.circle {
  opacity: 0;
  visibility: hidden;
}

.circle.active {
  opacity: 1;
  visibility: visible;
}

.header {
  width: 100%;
  padding: 40px 0;
  left: 0;
}
@media (max-width: 1040px) {
  .header {
    padding: 30px 0;
  }
}
@media (max-width: 767px) {
  .header {
    padding: 10px 0;
  }
}
.header__body {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1040px) {
  .header__body {
    justify-content: space-between;
  }
}
.header__logo {
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
}
@media (max-width: 1040px) {
  .header__logo {
    flex-grow: 0;
  }
}
.header__logo .logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header__logo .logo__text {
  font-family: "Ruda";
  font-weight: 700;
  font-size: 24px;
  margin-left: 8px;
}
.header__menu {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
.header__menu .header__logo {
  display: none;
}
@media (max-width: 767px) {
  .header__menu .header__logo {
    display: flex;
    margin-bottom: 40px;
  }
}
.header__menu .header__btns {
  display: none;
}
@media (max-width: 767px) {
  .header__menu .header__btns {
    display: flex;
    margin-top: 16px;
  }
}
@media (max-width: 1040px) {
  .header__menu {
    flex-grow: 0;
  }
}
@media (max-width: 767px) {
  .header__menu {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 100%;
    left: 0;
    padding-top: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background: #232323;
    z-index: 50;
    overflow: auto;
  }
}
.header__menu.active {
  bottom: 0;
}
.header__link {
  font-weight: 400;
  font-size: 16px;
  transition: 0.3s;
  margin-right: 48px;
}
@media (max-width: 767px) {
  .header__link {
    font-size: 24px;
  }
}
.header__link:hover {
  color: #681BF2;
}
@media (max-width: 920px) {
  .header__link {
    margin-right: 24px;
  }
}
@media (max-width: 767px) {
  .header__link {
    margin-right: 0;
    margin-bottom: 24px;
  }
}
.header__link:last-child {
  margin-right: 0;
  margin-bottom: 0;
}
.header__btns {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media (max-width: 767px) {
  .header__btns {
    display: none;
  }
}
.header__btn {
  font-weight: 400;
  font-size: 16px;
  transition: 0.3s;
}
.header__btn:hover {
  color: #681BF2;
}
@media (max-width: 767px) {
  .header__btn {
    font-size: 24px;
  }
}
.header__btn.gradient {
  padding: 9px 24px;
  background: linear-gradient(101.9deg, rgba(201, 34, 227, 0.4) 7.67%, rgba(153, 30, 234, 0.4) 52.66%, rgba(73, 23, 246, 0.4) 93.7%);
  border-radius: 4px;
  margin-left: 24px;
}
@media (max-width: 920px) {
  .header__btn.gradient {
    margin-left: 16px;
  }
}
.header__btn.gradient:hover {
  color: inherit;
}
.header .burger-btn {
  width: 40px;
  height: 24px;
  position: relative;
  display: none;
  z-index: 100;
}
@media (max-width: 767px) {
  .header .burger-btn {
    display: block;
  }
}
.header .burger-btn::before,
.header .burger-btn::after {
  content: "";
}
.header .burger-btn::before,
.header .burger-btn::after,
.header .burger-btn span {
  position: absolute;
  width: 100%;
  background-color: #fff;
  height: 3px;
  transition: 0.3s;
}
.header .burger-btn::before {
  left: 0;
  top: 0;
}
.header .burger-btn span {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.header .burger-btn::after {
  left: 0;
  bottom: 0;
}
.header .burger-btn.active::before {
  transform: rotate(-45deg);
  top: 10px;
}
.header .burger-btn.active {
  position: fixed;
  right: 16px;
}
.header .burger-btn.active::after {
  transform: rotate(45deg);
  bottom: 11px;
}
.header .burger-btn.active span {
  opacity: 0;
}

.main-block {
  padding: 75px 0 205px;
  position: relative;
}
@media (max-width: 1280px) {
  .main-block {
    padding: 30px 0 100px;
  }
}
@media (max-width: 992px) {
  .main-block {
    padding: 10px 0 80px;
  }
}
@media (max-width: 767px) {
  .main-block {
    padding: 20px 0 60px;
  }
}
@media (max-width: 576px) {
  .main-block {
    padding: 10px 0 50px;
  }
}
.main-block__body {
  position: relative;
}
@media (max-width: 1440px) {
  .main-block__body {
    position: static;
  }
}
.main-block__content {
  width: 100%;
  max-width: 500px;
}
@media (max-width: 992px) {
  .main-block__content {
    max-width: 450px;
  }
}
@media (max-width: 767px) {
  .main-block__content {
    max-width: unset;
  }
}
.main-block__title {
  font-weight: 600;
  font-size: 64px;
  line-height: 128%;
  margin-bottom: 12px;
  max-width: 462px;
}
@media (max-width: 767px) {
  .main-block__title {
    font-size: 52px;
    margin-bottom: 8px;
    text-align: center;
    max-width: unset;
  }
}
@media (max-width: 576px) {
  .main-block__title {
    font-size: 38px;
  }
}
.main-block__title .text-gradient {
  background: linear-gradient(-135deg, rgb(175, 37, 211), rgb(151, 37, 214), rgb(94, 35, 217));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main-block__text {
  margin-bottom: 40px;
  line-height: 150%;
}
@media (max-width: 767px) {
  .main-block__text {
    margin-bottom: 20px;
    text-align: center;
  }
}
.main-block__btns {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 70px;
}
@media (max-width: 992px) {
  .main-block__btns {
    margin-bottom: 50px;
  }
}
@media (max-width: 767px) {
  .main-block__btns {
    margin-bottom: 30px;
    justify-content: center;
  }
}
@media (max-width: 390px) {
  .main-block__btns {
    justify-content: space-between;
  }
}
@media (max-width: 340px) {
  .main-block__btns {
    justify-content: center;
    flex-direction: column;
    margin-bottom: 16px;
  }
}
.main-block__btn {
  padding: 16px 32px;
  background: linear-gradient(101.9deg, rgba(201, 34, 227, 0.4) 7.67%, rgba(153, 30, 234, 0.4) 52.66%, rgba(73, 23, 246, 0.4) 93.7%);
  border-radius: 4px;
  margin-right: 24px;
}
@media (max-width: 390px) {
  .main-block__btn {
    margin-right: 0;
  }
}
@media (max-width: 340px) {
  .main-block__btn {
    width: 100%;
    text-align: center;
    margin-bottom: 16px;
  }
}
.main-block .play-tbn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.main-block .play-tbn__text {
  transition: 0.3s;
}
.main-block .play-tbn__text:hover {
  color: #681BF2;
}
.main-block .play-tbn__circle {
  margin-right: 16px;
  width: 56px;
  height: 56px;
  position: relative;
}
@media (max-width: 390px) {
  .main-block .play-tbn__circle {
    margin-right: 8px;
  }
}
.main-block .play-tbn__circle:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  border: 2px solid transparent;
  background: linear-gradient(90deg, rgba(192, 34, 229, 0.7), rgba(161, 31, 233, 0.6), rgba(98, 25, 243, 0.67)) border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}
.main-block .play-tbn__circle img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main-block__items {
  padding: 24px 48px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background: rgba(255, 255, 255, 0.13);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}
@media (max-width: 767px) {
  .main-block__items {
    max-width: 550px;
    margin: 0 auto;
  }
}
@media (max-width: 440px) {
  .main-block__items {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px 10px;
  }
}
.main-block__items .item-main-block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 440px) {
  .main-block__items .item-main-block {
    margin-bottom: 16px;
  }
}
.main-block__items .item-main-block__value {
  font-family: "Ruda";
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 6px;
}
@media (max-width: 576px) {
  .main-block__items .item-main-block__value {
    font-size: 30px;
    margin-bottom: 2px;
  }
}
.main-block__images {
  position: absolute;
  bottom: -60px;
  right: 60px;
}
@media (max-width: 1440px) {
  .main-block__images {
    right: 160px;
    bottom: 145px;
  }
}
@media (max-width: 1280px) {
  .main-block__images {
    transform: scale(0.9) translate(45px, 90px);
  }
}
@media (max-width: 1140px) {
  .main-block__images {
    transform: scale(0.8) translate(104px, 60px);
  }
}
@media (max-width: 1060px) {
  .main-block__images {
    transform: scale(0.7) translate(178px, 60px);
  }
}
@media (max-width: 992px) {
  .main-block__images {
    transform: scale(0.7) translate(178px, 105px);
  }
}
@media (max-width: 950px) {
  .main-block__images {
    transform: scale(0.6) translate(275px, 125px);
  }
}
@media (max-width: 880px) {
  .main-block__images {
    transform: scale(0.45) translate(510px, 30px);
  }
}
@media (max-width: 767px) {
  .main-block__images {
    display: none;
  }
}
.main-block__images::before {
  content: "";
  position: absolute;
  width: 72px;
  height: 72px;
  border-radius: 8px;
  background: #8A40FF;
  top: -220px;
  right: 207px;
}
.main-block__image {
  position: absolute;
}
.main-block__image_1 {
  position: static;
}
.main-block__image_2 {
  top: -220px;
  left: -70px;
}
.main-block__image_3 {
  right: -140px;
  top: -162px;
}
.main-block__image_4 {
  bottom: 80px;
  right: -180px;
}
.main-block__circle {
  position: absolute;
  border-radius: 50%;
  width: 514px;
  height: 514px;
  filter: blur(300px);
  z-index: -1;
}
.main-block__circle_1 {
  width: 326px;
  height: 326px;
  background: rgba(255, 214, 41, 0.2);
  top: -78px;
  right: 366px;
}
@media (max-width: 1440px) {
  .main-block__circle_1 {
    top: 11px;
    right: 466px;
  }
}
.main-block__circle_2 {
  background: #413651;
  top: -240px;
  right: 130px;
}
@media (max-width: 1400px) {
  .main-block__circle_2 {
    top: -130px;
    right: 231px;
  }
}
.main-block__circle_3 {
  background: #72339B;
  left: -60px;
  bottom: -360px;
}
@media (max-width: 1440px) {
  .main-block__circle_3 {
    left: 40px;
    bottom: -153px;
  }
}
.main-block__circle_4 {
  background: #72339B;
  left: 123px;
  top: -244px;
}
@media (max-width: 1440px) {
  .main-block__circle_4 {
    left: 233px;
    top: -155px;
  }
}
.main-block__circle_5 {
  width: 449px;
  height: 449px;
  background: #472C9F;
  right: -324px;
  bottom: -190px;
}
@media (max-width: 1440px) {
  .main-block__circle_5 {
    bottom: 20px;
    right: -224px;
  }
}

.learn {
  padding-bottom: 148px;
}
@media (max-width: 1280px) {
  .learn {
    padding-bottom: 100px;
  }
}
@media (max-width: 992px) {
  .learn {
    padding-bottom: 80px;
  }
}
@media (max-width: 767px) {
  .learn {
    padding-bottom: 60px;
  }
}
@media (max-width: 576px) {
  .learn {
    padding-bottom: 50px;
  }
}
.learn__body {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.learn__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 60px;
  width: 100%;
  max-width: 880px;
}
@media (max-width: 1280px) {
  .learn__content {
    margin-bottom: 40px;
  }
}
@media (max-width: 1080px) {
  .learn__content {
    max-width: 720px;
  }
}
@media (max-width: 500px) {
  .learn__content {
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 16px;
  }
}
.learn__title {
  margin-bottom: 0;
  font-size: 32px;
}
@media (max-width: 767px) {
  .learn__title {
    order: 1;
    width: 50%;
  }
}
@media (max-width: 500px) {
  .learn__title {
    order: 1;
    margin-bottom: 8px;
    width: 100%;
    font-size: 38px;
  }
}
.learn__text {
  width: 100%;
  max-width: 292px;
}
@media (max-width: 767px) {
  .learn__text {
    order: 3;
  }
}
@media (max-width: 500px) {
  .learn__text {
    order: 2;
    margin-bottom: 12px;
  }
}
.learn__btn {
  padding: 16px 32px;
  font-weight: 400;
  font-size: 18px;
  transition: 0.3s;
  position: relative;
}
@media (max-width: 767px) {
  .learn__btn {
    order: 2;
  }
}
@media (max-width: 500px) {
  .learn__btn {
    order: 3;
  }
}
.learn__btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 4px;
  border: 1.5px solid transparent;
  background: linear-gradient(135deg, rgb(234, 0, 173), rgb(138, 64, 255)) border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}
.learn__btn::before {
  content: "";
  background: url(../img/learn/arrow.svg);
  position: absolute;
  bottom: -57px;
  left: 50%;
  transform: translateX(-50%);
  width: 16px;
  height: 33px;
}
@media (max-width: 767px) {
  .learn__btn::before {
    display: none;
  }
}
.learn__btn:hover {
  color: #681BF2;
}
.learn .image-block {
  width: 100%;
  max-width: 614px;
  position: relative;
  min-height: 400px;
  background: linear-gradient(112.28deg, rgba(198, 34, 228, 0.4) 2.22%, rgba(109, 26, 241, 0.4) 96.94%);
}
@media (max-width: 1080px) {
  .learn .image-block {
    max-width: 460.5px;
    min-height: 300px;
  }
}
@media (max-width: 880px) {
  .learn .image-block {
    max-width: 368.4px;
    min-height: 240px;
  }
}
@media (max-width: 767px) {
  .learn .image-block {
    background: unset;
    max-width: unset;
    min-height: unset;
  }
}
.learn .image-block > img {
  position: absolute;
  bottom: 0;
  left: 0;
}
@media (max-width: 1080px) {
  .learn .image-block > img {
    width: 284.25px;
    height: 294.75px;
  }
}
@media (max-width: 880px) {
  .learn .image-block > img {
    width: 227.4px;
    height: 235.8px;
  }
}
@media (max-width: 767px) {
  .learn .image-block > img {
    display: none;
  }
}
.learn .image-block__label {
  position: absolute;
  width: 176px;
  height: 160px;
  background: #232323;
  border-radius: 80px 0px 0px 80px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
@media (max-width: 1080px) {
  .learn .image-block__label {
    width: 132px;
    height: 120px;
  }
}
@media (max-width: 880px) {
  .learn .image-block__label {
    width: 105.6px;
    height: 96px;
  }
}
@media (max-width: 767px) {
  .learn .image-block__label {
    display: none;
  }
}
.learn .image-block__circle {
  position: absolute;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
  width: 112px;
  height: 112px;
  border: 1px solid #fff;
  border-radius: 50%;
}
@media (max-width: 1080px) {
  .learn .image-block__circle {
    right: 30px;
    width: 84px;
    height: 84px;
  }
}
@media (max-width: 880px) {
  .learn .image-block__circle {
    right: 24px;
    width: 67.2px;
    height: 67.2px;
  }
}
.learn .image-block__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: rotate(-31.38deg) translate(-15%, -70%);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.learn .image-block_value {
  font-weight: 600;
  font-size: 20px;
  color: #D7D7D7;
}
@media (max-width: 1080px) {
  .learn .image-block_value {
    font-size: 15px;
  }
}
@media (max-width: 880px) {
  .learn .image-block_value {
    font-size: 12px;
  }
}
.learn .image-block__text {
  font-weight: 400;
  font-size: 14px;
  color: #D7D7D7;
}
@media (max-width: 1080px) {
  .learn .image-block__text {
    font-size: 10.5px;
  }
}
@media (max-width: 880px) {
  .learn .image-block__text {
    font-size: 10.5px;
  }
}
.learn .swiper {
  left: calc(100% + 60px);
  top: 92px;
  overflow: visible;
}
@media (max-width: 1080px) {
  .learn .swiper {
    left: calc(100% + 45px);
    top: 69px;
  }
}
@media (max-width: 880px) {
  .learn .swiper {
    left: calc(100% + 36px);
    top: 55.2px;
  }
}
@media (max-width: 767px) {
  .learn .swiper {
    top: 0;
    left: 0;
  }
}
.learn .swiper-slide {
  width: 100%;
  max-width: 240px;
}
@media (max-width: 1080px) {
  .learn .swiper-slide {
    max-width: 180px;
  }
}
@media (max-width: 880px) {
  .learn .swiper-slide {
    max-width: 144px;
  }
}
@media (max-width: 767px) {
  .learn .swiper-slide {
    max-width: 240px;
  }
}
.learn .swiper-slide__image {
  width: 100%;
  padding-bottom: 66.67%;
  margin-bottom: 32px;
}
@media (max-width: 1080px) {
  .learn .swiper-slide__image {
    margin-bottom: 24px;
  }
}
@media (max-width: 880px) {
  .learn .swiper-slide__image {
    margin-bottom: 19.2px;
  }
}
@media (max-width: 767px) {
  .learn .swiper-slide__image {
    margin-bottom: 20px;
  }
}
.learn .swiper-slide__stats {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
}
@media (max-width: 1080px) {
  .learn .swiper-slide__stats {
    font-size: 12px;
  }
}
@media (max-width: 880px) {
  .learn .swiper-slide__stats {
    font-size: 9.6px;
  }
}
@media (max-width: 767px) {
  .learn .swiper-slide__stats {
    font-size: 12px;
  }
}
.learn .swiper-slide__stats img {
  position: static;
  margin-right: 12px;
}
@media (max-width: 1080px) {
  .learn .swiper-slide__stats img {
    width: 15.75px;
    height: 12.75px;
  }
}
@media (max-width: 880px) {
  .learn .swiper-slide__stats img {
    width: 12.6px;
    height: 10.2px;
  }
}
@media (max-width: 440px) {
  .learn .swiper-slide__stats img {
    width: unset;
    height: unset;
  }
}

.create {
  padding-bottom: 148px;
  position: relative;
}
@media (max-width: 1280px) {
  .create {
    padding-bottom: 100px;
  }
}
@media (max-width: 992px) {
  .create {
    padding-bottom: 80px;
  }
}
@media (max-width: 767px) {
  .create {
    padding-bottom: 60px;
  }
}
@media (max-width: 576px) {
  .create {
    padding-bottom: 50px;
  }
}
.create__body {
  position: relative;
}
@media (max-width: 1440px) {
  .create__body {
    position: static;
  }
}
.create__title {
  margin-bottom: 104px;
  text-align: center;
}
@media (max-width: 1280px) {
  .create__title {
    margin-bottom: 88px;
  }
}
@media (max-width: 1060px) {
  .create__title {
    margin-bottom: 60px;
  }
}
@media (max-width: 960px) {
  .create__title {
    margin-bottom: 40px;
  }
}
@media (max-width: 767px) {
  .create__title {
    margin-bottom: 30px;
  }
}
@media (max-width: 476px) {
  .create__title {
    margin-bottom: 20px;
  }
}
.create__items {
  background: #211538;
  border-radius: 8px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
}
@media (max-width: 960px) {
  .create__items {
    justify-content: center;
    flex-direction: column;
  }
}
.create__circle {
  position: absolute;
  border-radius: 50%;
  z-index: -1;
}
.create__circle_1 {
  width: 411px;
  height: 411px;
  background: rgba(255, 214, 41, 0.2);
  filter: blur(300px);
  top: -27px;
  right: -193px;
}
@media (max-width: 1440px) {
  .create__circle_1 {
    right: -93px;
  }
}
.create__circle_2 {
  width: 514px;
  height: 514px;
  background: #72339B;
  filter: blur(400px);
  top: -200px;
  left: 50%;
  transform: translateX(-200px);
}

.item-create {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 48px 39px;
  border-radius: 8px;
  transition: transform 0.3s;
  position: relative;
  background: #211538;
  width: 100%;
  max-width: 340px;
  border: 2px solid transparent;
}
@media (max-width: 1060px) {
  .item-create {
    padding: 36px 24px;
  }
}
@media (max-width: 960px) {
  .item-create {
    padding: 24px 10px;
  }
}
@media (max-width: 420px) {
  .item-create {
    max-width: unset;
  }
}
.item-create__icon {
  margin-bottom: 24px;
}
@media (max-width: 420px) {
  .item-create__icon {
    margin-bottom: 12px;
  }
}
.item-create__title {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 24px;
}
@media (max-width: 420px) {
  .item-create__title {
    margin-bottom: 8px;
  }
}
.item-create__text {
  font-size: 14px;
  line-height: 150%;
}
.item-create:hover {
  transform: translateY(-48px);
  background: linear-gradient(#301C49, #301C49) padding-box, linear-gradient(135deg, rgba(197, 34, 228, 0.3), rgba(90, 25, 244, 0.3)) border-box;
}
@media (max-width: 1060px) {
  .item-create:hover {
    transform: translateY(-36px);
  }
}
@media (max-width: 960px) {
  .item-create:hover {
    transform: unset;
  }
}

.top {
  padding-bottom: 148px;
  position: relative;
}
@media (max-width: 1280px) {
  .top {
    padding-bottom: 100px;
  }
}
@media (max-width: 992px) {
  .top {
    padding-bottom: 80px;
  }
}
@media (max-width: 767px) {
  .top {
    padding-bottom: 60px;
  }
}
@media (max-width: 576px) {
  .top {
    padding-bottom: 50px;
  }
}
.top__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
@media (max-width: 1400px) {
  .top__body {
    position: static;
  }
}
.top__title {
  text-align: center;
}
.top__items {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 48px;
}
@media (max-width: 1280px) {
  .top__items {
    margin-bottom: 32px;
  }
}
@media (max-width: 1180px) {
  .top__items {
    max-width: 800px;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }
}
@media (max-width: 820px) {
  .top__items {
    max-width: 500px;
    justify-content: center;
    margin-bottom: 8px;
  }
}
.top__btn {
  font-weight: 500;
  font-size: 18px;
  padding: 16px 32px;
  border-radius: 4px;
  background: linear-gradient(107.64deg, rgba(200, 34, 228, 0.3) 19.89%, rgba(87, 25, 244, 0.3) 89.77%);
}
.top__circle {
  position: absolute;
  width: 588px;
  height: 588px;
  border-radius: 50%;
  background: #72339B;
  filter: blur(400px);
  top: -153px;
  left: -44px;
  z-index: -1;
}
@media (max-width: 1440px) {
  .top__circle {
    left: 100px;
  }
}

.item {
  width: 100%;
  max-width: 390px;
  padding: 24px 24px 40px;
  position: relative;
}
@media (max-width: 1280px) {
  .item {
    padding: 16px 16px 32px;
    max-width: 376px;
  }
}
@media (max-width: 1180px) {
  .item {
    margin-bottom: 38px;
  }
}
@media (max-width: 820px) {
  .item {
    margin-bottom: 24px;
  }
}
@media (max-width: 420px) {
  .item {
    padding: 8px 8px 16px;
  }
}

.item::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 4px;
  border: 1.5px solid transparent;
  background: linear-gradient(135deg, rgba(197, 34, 228, 0.71), rgba(90, 25, 244, 0.72)) border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}

.item-top__images {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}
@media (max-width: 1280px) {
  .item-top__images {
    margin-bottom: 16px;
  }
}
@media (max-width: 420px) {
  .item-top__images {
    flex-direction: column;
    margin-bottom: 6px;
  }
}
.item-top__main-image {
  width: 232px;
  padding-bottom: 87.72%;
}
@media (max-width: 420px) {
  .item-top__main-image {
    width: 100%;
    margin-bottom: 12px;
  }
}
.item-top__other-images {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 420px) {
  .item-top__other-images {
    flex-direction: row;
  }
}
.item-top__other-image {
  width: 92px;
  padding-bottom: 94.69%;
}
@media (max-width: 420px) {
  .item-top__other-image {
    padding-bottom: 30%;
    flex-basis: 30%;
  }
}
.item-top__more-images {
  position: relative;
}
.item-top__more-images::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.35);
  z-index: 1;
}
.item-top__more-images span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 600;
  font-size: 24px;
  z-index: 1;
}
.item-top__content {
  position: relative;
}
.item-top__title {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 12px;
}
@media (max-width: 1280px) {
  .item-top__title {
    margin-bottom: 8px;
  }
}
@media (max-width: 420px) {
  .item-top__title {
    margin-bottom: 4px;
    font-size: 17px;
  }
}
@media (max-width: 420px) {
  .item-top__text {
    font-size: 13px;
  }
}
.item-top__more-link {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.seller {
  padding-bottom: 148px;
  position: relative;
}
@media (max-width: 1280px) {
  .seller {
    padding-bottom: 100px;
  }
}
@media (max-width: 992px) {
  .seller {
    padding-bottom: 80px;
  }
}
@media (max-width: 767px) {
  .seller {
    padding-bottom: 60px;
  }
}
@media (max-width: 576px) {
  .seller {
    padding-bottom: 50px;
  }
}
.seller__body {
  position: relative;
}
@media (max-width: 1440px) {
  .seller__body {
    position: static;
  }
}
.seller__circle {
  position: absolute;
  z-index: -1;
  border-radius: 50%;
}
.seller__circle_1 {
  width: 525px;
  height: 813px;
  background: rgba(255, 214, 41, 0.11);
  filter: blur(300px);
  bottom: 12px;
  right: -330px;
}
@media (max-width: 1440px) {
  .seller__circle_1 {
    right: -231px;
    bottom: 160px;
  }
}
.seller__circle_2 {
  width: 478px;
  height: 478px;
  background: #72339B;
  filter: blur(400px);
  top: -60px;
  left: 50%;
  transform: translate(-156px);
}
.seller__title {
  text-align: center;
}
.seller__slider-block {
  position: relative;
  height: 292px;
}
@media (max-width: 820px) {
  .seller__slider-block {
    height: 280px;
  }
}
@media (max-width: 820px) {
  .seller__slider-block {
    box-sizing: content-box;
    padding-bottom: 76px;
  }
}
.seller .swiper {
  width: 100%;
  height: 100%;
  max-width: 1020px;
}
@media (max-width: 1220px) {
  .seller .swiper {
    max-width: 800px;
  }
}
@media (max-width: 992px) {
  .seller .swiper {
    max-width: 640px;
  }
}
@media (max-width: 820px) {
  .seller .swiper {
    max-width: 376px;
  }
}
.seller .swiper-slide {
  background: rgba(217, 217, 217, 0.08);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  border-radius: 4px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 24px;
  height: calc((100% - 36px) / 2) !important;
}
@media (max-width: 820px) {
  .seller .swiper-slide {
    height: calc((100% - 24px) / 2) !important;
  }
}
.seller .swiper-slide:hover {
  background: linear-gradient(104.35deg, rgba(179, 33, 231, 0.4) 29.82%, rgba(105, 27, 242, 0.4) 97.24%);
}
.seller .swiper-slide img {
  margin-right: 20px;
}
.seller .swiper-slide__name {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 10px;
}
.seller .swiper-slide__works {
  font-weight: 400;
  font-size: 14px;
}
.seller .swiper-button-disabled {
  background: rgba(255, 255, 255, 0.1) !important;
}
.seller .seller__swiper-button-prev::after,
.seller .seller__swiper-button-next::after {
  font-size: 0;
}
.seller .seller__swiper-button-prev {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
@media (max-width: 820px) {
  .seller .seller__swiper-button-prev {
    left: 50%;
    transform: translateX(-75px);
  }
}
.seller .seller__swiper-button-next {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
@media (max-width: 820px) {
  .seller .seller__swiper-button-next {
    right: 50%;
    transform: translateX(75px);
  }
}
.seller .seller__swiper-button-prev,
.seller .seller__swiper-button-next {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-top: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, rgba(179, 33, 231, 0.4) 0%, rgba(111, 28, 242, 0.4) 100%);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  cursor: pointer;
}
@media (max-width: 820px) {
  .seller .seller__swiper-button-prev,
.seller .seller__swiper-button-next {
    top: unset;
    bottom: 0;
  }
}

.our {
  padding-bottom: 148px;
  position: relative;
}
@media (max-width: 1280px) {
  .our {
    padding-bottom: 100px;
  }
}
@media (max-width: 992px) {
  .our {
    padding-bottom: 80px;
  }
}
@media (max-width: 767px) {
  .our {
    padding-bottom: 60px;
  }
}
@media (max-width: 576px) {
  .our {
    padding-bottom: 50px;
  }
}
.our__body {
  position: relative;
}
@media (max-width: 1440px) {
  .our__body {
    position: static;
  }
}
.our__title {
  text-align: center;
}
.our__items {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
@media (max-width: 1180px) {
  .our__items {
    max-width: 800px;
    flex-wrap: wrap;
    margin: 0 auto -36px;
  }
}
@media (max-width: 820px) {
  .our__items {
    max-width: 500px;
    justify-content: center;
    margin: 0 auto -24px;
  }
}
.our__circle {
  position: absolute;
  width: 454px;
  height: 454px;
  z-index: -1;
  border-radius: 50%;
  filter: blur(300px);
}
.our__circle_1 {
  background: #72339B;
  left: -100px;
  top: 18px;
}
@media (max-width: 1440px) {
  .our__circle_1 {
    left: 0;
  }
}
.our__circle_2 {
  background: rgba(114, 51, 155, 0.8);
  right: -131px;
  bottom: -158px;
}
@media (max-width: 1440px) {
  .our__circle_2 {
    right: -31px;
    bottom: -10px;
  }
}

.item-our__image {
  padding-bottom: 76.471%;
  margin-bottom: 18px;
}
@media (max-width: 1280px) {
  .item-our__image {
    margin-bottom: 16px;
  }
}
@media (max-width: 420px) {
  .item-our__image {
    margin-bottom: 8px;
  }
}
.item-our__info {
  display: flex;
  align-items: flex-start;
  margin-bottom: 24px;
}
@media (max-width: 1280px) {
  .item-our__info {
    margin-bottom: 16px;
  }
}
@media (max-width: 420px) {
  .item-our__info {
    margin-bottom: 8px;
  }
}
.item-our__user-icon {
  margin-right: 14px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1.2px solid #681BF2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-our__user-role {
  margin-right: auto;
  background: linear-gradient(95.85deg, #BA21E7 5.52%, #BB21E6 95.11%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 400;
  font-size: 16px;
}
@media (max-width: 420px) {
  .item-our__user-role {
    font-size: 13px;
  }
}
.item-our__date {
  font-weight: 400;
  font-size: 14px;
  color: #D7D7D7;
}
@media (max-width: 420px) {
  .item-our__date {
    font-size: 11px;
  }
}
.item-our__title {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 16px;
}
@media (max-width: 1280px) {
  .item-our__title {
    margin-bottom: 12px;
  }
}
@media (max-width: 420px) {
  .item-our__title {
    font-size: 15px;
    margin-bottom: 4px;
  }
}
.item-our__text {
  font-weight: 400;
  font-size: 14px;
  color: #D7D7D7;
  margin-bottom: 24px;
}
@media (max-width: 1280px) {
  .item-our__text {
    margin-bottom: 16px;
  }
}
@media (max-width: 420px) {
  .item-our__text {
    font-size: 11px;
    margin-bottom: 8px;
  }
}
.item-our__btns {
  display: flex;
  align-items: center;
}
.item-our__btn {
  padding: 10px 20px;
  font-weight: 400;
  font-size: 16px;
  background: linear-gradient(98.94deg, rgba(200, 34, 228, 0.4) 2.52%, rgba(87, 25, 244, 0.4) 92.81%);
  border-radius: 4px;
  margin-right: auto;
}
.item-our__social {
  margin-right: 24px;
}
.item-our__social:last-child {
  margin-right: 0;
}

.footer {
  padding-bottom: 78px;
}
@media (max-width: 1280px) {
  .footer {
    padding-bottom: 50px;
  }
}
@media (max-width: 1060px) {
  .footer {
    padding-bottom: 40px;
  }
}
@media (max-width: 820px) {
  .footer {
    padding-bottom: 30px;
  }
}
@media (max-width: 440px) {
  .footer {
    padding-bottom: 20px;
  }
}
.footer__body {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
@media (max-width: 820px) {
  .footer__body {
    justify-content: center;
  }
}
.footer__column_1 {
  width: 100%;
  max-width: 304px;
}
@media (max-width: 820px) {
  .footer__column_1 {
    max-width: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 32px;
  }
}
@media (max-width: 820px) {
  .footer__column_2 {
    margin-right: 120px;
  }
}
@media (max-width: 440px) {
  .footer__column_2 {
    margin-right: 80px;
  }
}
@media (max-width: 400px) {
  .footer__column_2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 0;
    margin-bottom: 32px;
  }
}
@media (max-width: 400px) {
  .footer__column_3 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
.footer__column_4 {
  width: 100%;
  max-width: 306px;
}
@media (max-width: 1060px) {
  .footer__column_4 {
    max-width: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 32px;
  }
}
@media (max-width: 1060px) {
  .footer__column_4 .footer__text {
    text-align: center;
    max-width: 500px;
  }
}
.footer__label {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 24px;
}
@media (max-width: 1060px) {
  .footer__label {
    margin-bottom: 16px;
  }
}
.footer__text {
  color: #D7D7D7;
  line-height: 150%;
}
@media (max-width: 820px) {
  .footer__text {
    text-align: center;
    max-width: 500px;
  }
}
.footer__social {
  margin-top: 32px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@media (max-width: 1060px) {
  .footer__social {
    margin-top: 16px;
  }
}
.footer__social a {
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(132.51deg, rgba(117, 114, 217, 0.6) 2.66%, rgba(214, 47, 195, 0.6) 77.47%, rgba(185, 89, 198, 0.6) 98.66%);
  border-radius: 4px;
  margin-right: 20px;
}
.footer__social a:last-child {
  margin-right: 20px;
}
.footer__menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
@media (max-width: 400px) {
  .footer__menu {
    align-items: center;
  }
}
.footer__link {
  color: #D7D7D7;
  margin-bottom: 16px;
  transition: 0.3s;
}
.footer__link:last-child {
  margin-bottom: 0;
}
.footer__link:hover {
  color: #681BF2;
}
@media (max-width: 1060px) {
  .footer__link {
    margin-bottom: 12px;
  }
}
.footer__form {
  margin-top: 24px;
  border: 1px solid #D7D7D7;
  border-right: 0;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
@media (max-width: 1060px) {
  .footer__form {
    margin-top: 16px;
    width: 100%;
    max-width: 400px;
  }
}
.footer__input {
  padding: 15px 16px;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  width: 100%;
  border: 0;
  outline: 0;
  background-color: transparent;
}
.footer__input::-moz-placeholder {
  font-weight: 400;
  font-size: 14px;
  color: #D7D7D7;
}
.footer__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  color: #D7D7D7;
}
.footer__input::placeholder {
  font-weight: 400;
  font-size: 14px;
  color: #D7D7D7;
}
.footer__btn {
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}