.logout-confirm {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center
}

@media(max-width:1279px) {
    .logout-confirm {
        margin-top: 4px
    }
}

@media(max-width:711px) {
    .logout-confirm {
        margin-top: 13px
    }
}

.logout-confirm-text {
    display: inline-block;
    letter-spacing: normal;
    vertical-align: middle;
    font-weight: 600;
    font-size: 16px;
    line-height: 1;
    color: #faf6f2;
    margin-bottom: 10px
}

@media(max-width:1579px) {
    .logout-confirm-text {
        font-size: 12px
    }
}

@media(max-width:711px) {
    .logout-confirm-text {
        font-size: 12px
    }
}

.logout-confirm-btns {
    display: inline-flex;
    justify-content: center
}

.logout-confirm-btn {
    position: relative;
    display: inline-block;
    box-shadow: none;
    padding: 10px 25px 10px 44px;
    margin-right: 5px;
    border: 2px solid #f09235;
    border-radius: 30px;
    background-color: transparent;
    font-weight: 600;
    font-size: 14px;
    line-height: 1;
    color: #faf6f2;
    letter-spacing: normal;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer
}

.logout-confirm-btn:last-child {
    margin-right: 0
}

.logout-confirm-btn [class*=" icon-"],
.logout-confirm-btn [class^=icon-] {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translate3d(0, -50%, 0);
    font-size: 9px;
    line-height: 1
}

@media(max-width:1579px) {
    .logout-confirm-btn {
        padding: 8px 20px 8px 35px;
        font-size: 12px
    }
}

@media(max-width:711px) {
    .logout-confirm-btn {
        padding: 8px 20px 8px 35px;
        font-size: 12px
    }

    .logout-confirm-btn [class*=" icon-"],
    .logout-confirm-btn [class^=icon-] {
        left: 10px;
        font-size: 7px
    }
}

.logout-confirm-btn-icon {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translate3d(0, -50%, 0)
}

@media(max-width:711px) {
    .logout-confirm-btn-icon {
        left: 8px
    }
}

.logout-confirm-btn--green {
    border-color: #f09235
}

.logout-confirm-btn--green [class*=" icon-"],
.logout-confirm-btn--green [class^=icon-] {
    color: #f09235
}

.logout-confirm-btn--red {
    border-color: #ff2b52
}

.logout-confirm-btn--red [class*=" icon-"],
.logout-confirm-btn--red [class^=icon-] {
    color: #ff2b52
}

.social-links__list {
    width: auto;
    display: flex;
    gap: 12px
}

.quick-bar__social-links .social-links__list {
    gap: 0
}

.social-links__item {
    border-radius: 12px;
    background: #312d2b
}

.social-links__link {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center
}

.quick-bar__social-links .social-links__link {
    width: 32px;
    height: 32px
}

.social-links__ic {
    width: 21px;
    height: auto;
    fill: #fff;
    transition: all .2s ease-out
}

.social-links__ic--fb {
    width: 10px
}

.social-links__link:hover .social-links__ic {
    transform: scale(1.2);
    fill: #f09235
}

.quick-bar__social-links .social-links__ic {
    width: 18px
}

.quick-bar__social-links .social-links__ic--fb {
    width: 9px
}

.quick-bar__social-links .social-links__title {
    margin-top: 8px;
    width: 155px;
    text-align: center;
    color: #7e7168;
    margin-bottom: 0 !important;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600
}

.current-local-time {
    text-align: center;
    color: #d7cec5
}

.current-local-time__title {
    font-size: 14px;
    line-height: 18px;
    color: #bab2a8;
    letter-spacing: normal;
    margin-bottom: 8px !important;
    transition: all .2s ease-out
}

.no-touch .quick-bar__menu-item-header:hover .current-local-time__title {
    color: #fff
}

.current-local-time__count {
    font-size: 16px;
    line-height: 20px;
    display: block;
    color: #fff
}

@media(min-width:1280px) {
    .current-local-time__count {
        font-size: 20px;
        line-height: 24px
    }
}

.quick-bar .super-widget-small {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px
}

.menu-opened .quick-bar .super-widget-small {
    padding: 0 12px
}

@media(min-width:1025px) {
    .quick-bar .super-widget-small {
        height: 64px;
        margin-top: 8px
    }

    .menu-opened .quick-bar .super-widget-small {
        padding: 0 24px
    }
}

.quick-bar .super-widget-small__btn,
.quick-bar .super-widget-small__img,
.quick-bar .super-widget-small__subtitle,
.quick-bar .super-widget-small__timer {
    display: none
}

.quick-bar .super-widget-small__body {
    width: 40px;
    background-image: linear-gradient(91.93deg, #695328, #ffc047 46.82%, #fcfcfd 71.69%, #ca9a3e 87.61%);
    border-radius: 8px;
    height: 32px;
    padding: 1px;
    cursor: pointer;
    position: relative
}

.quick-bar .super-widget-small__body:before {
    content: "";
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    top: -6px;
    left: 50%;
    transform: translate(-50%);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100% 100%;
    background-image: url(/img/super-widget/burger-btn-coins_min.png)
}

@supports(background-image:url("/img/super-widget/burger-btn-coins_min.webp")) {
    .quick-bar .super-widget-small__body:before {
        background-image: url(/img/super-widget/burger-btn-coins_min.webp)
    }
}

.menu-opened .quick-bar .super-widget-small__body:before {
    width: 51px;
    height: 51px;
    top: -6px;
    left: -15px;
    transform: none;
    background-image: url(/img/super-widget/burger-btn-coins.png)
}

@supports(background-image:url("/img/super-widget/burger-btn-coins.webp")) {
    .menu-opened .quick-bar .super-widget-small__body:before {
        background-image: url(/img/super-widget/burger-btn-coins.webp)
    }
}

.menu-opened .quick-bar .super-widget-small__body {
    height: 40px;
    width: 100%
}

@media(min-width:1025px) {
    .menu-opened .quick-bar .super-widget-small__body:before {
        width: 70px;
        height: 70px;
        top: -15px;
        left: -19px
    }

    .menu-opened .quick-bar .super-widget-small__body {
        height: 48px
    }
}

.quick-bar .super-widget-small__prize {
    height: 100%;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 2px 5px 2px 30px;
    background-image: url(/img/super-widget/burger-btn-bg_min.png)
}

@supports(background-image:url("/img/super-widget/burger-btn-bg_min.webp")) {
    .quick-bar .super-widget-small__prize {
        background-image: url(/img/super-widget/burger-btn-bg_min.webp)
    }
}

.menu-opened .quick-bar .super-widget-small__prize {
    background-image: url(/img/super-widget/burger-btn-bg.png)
}

@supports(background-image:url("/img/super-widget/burger-btn-bg.webp")) {
    .menu-opened .quick-bar .super-widget-small__prize {
        background-image: url(/img/super-widget/burger-btn-bg.webp)
    }
}

@media(min-width:1025px) {
    .quick-bar .super-widget-small__prize {
        padding: 2px 9px 2px 29px
    }
}

.quick-bar .super-widget-small__prize-value {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    display: none
}

.menu-opened .quick-bar .super-widget-small__prize-value {
    display: block
}

@media(min-width:1025px) {
    .quick-bar .super-widget-small__prize-value {
        font-size: 20px
    }
}

.main-super-widget {
    background-image: linear-gradient(90deg, #392d1d, #27221c 56.12%, #211e1c);
    opacity: 1;
    visibility: visible;
    width: 100%;
    height: 76px;
    position: fixed;
    top: 0;
    z-index: 7;
    transition: all .2s ease-out
}

.scrolled .main-super-widget {
    height: 0
}

@media(min-width:1025px) {
    .scrolled .main-super-widget {
        height: auto
    }
}

.main-super-widget .super-widget-small {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 76px;
    display: flex;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: auto 100%;
    cursor: pointer;
    opacity: 1;
    transition: all .2s ease-out;
    background-image: url(/img/super-widget/main-widget-bg.png)
}

@supports(background-image:url("/img/super-widget/main-widget-bg.webp")) {
    .main-super-widget .super-widget-small {
        background-image: url(/img/super-widget/main-widget-bg.webp)
    }
}

.scrolled .main-super-widget .super-widget-small {
    opacity: 0;
    pointer-events: none
}

@media(min-width:1025px) {
    .scrolled .main-super-widget .super-widget-small {
        opacity: 1
    }
}

@media(min-width:1025px) {
    .main-super-widget .super-widget-small {
        right: 20px;
        bottom: 84px;
        top: auto;
        left: auto;
        z-index: 9;
        width: auto;
        height: auto;
        background: none
    }

    .main-super-widget .super-widget-small:before {
        content: "";
        display: block;
        width: 100%;
        height: 50px;
        position: absolute;
        left: 0;
        bottom: 100%
    }
}

@media(min-width:1280px) {
    .main-super-widget .super-widget-small:before {
        height: 100px
    }
}

.main-super-widget .super-widget-small__subtitle {
    margin-bottom: 4px;
    color: #bab2a8;
    font-size: 12px;
    line-height: 16px;
    font-weight: 600
}

.main-super-widget .super-widget-small__subtitle span {
    color: #f09235
}

@media(min-width:712px) {
    .main-super-widget .super-widget-small__subtitle {
        margin-bottom: 0
    }
}

.main-super-widget .super-widget-small__btn {
    width: 32px;
    height: 32px;
    border-radius: 8px;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center
}

.main-super-widget .super-widget-small__btn svg {
    width: 10px;
    height: 18px;
    color: #fff
}

@media(max-width:711px) {
    .main-super-widget .super-widget-small__btn {
        position: absolute;
        top: 50%;
        right: 16px;
        transform: translateY(-50%)
    }
}

@media(min-width:1025px) {

    .main-super-widget .super-widget-small__btn,
    .main-super-widget .super-widget-small__subtitle {
        display: none
    }
}

.main-super-widget .super-widget-small__img {
    width: 100px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center
}

@media(min-width:712px) {
    .main-super-widget .super-widget-small__img {
        width: 126px;
        margin-right: 6px
    }
}

@media(min-width:1025px) {
    .main-super-widget .super-widget-small__img {
        pointer-events: none;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        margin-right: 0;
        top: -60px
    }
}

@media(min-width:1280px) {
    .main-super-widget .super-widget-small__img {
        width: 261px;
        bottom: -25px;
        top: auto
    }
}

.main-super-widget .super-widget-small__body {
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 76px
}

@media(max-width:711px) {
    .main-super-widget .super-widget-small__body {
        padding-right: 50px
    }
}

@media(min-width:712px)and (max-width:1024px) {
    .main-super-widget .super-widget-small__body {
        flex-direction: row;
        padding-right: 20px;
        justify-content: flex-start;
        align-items: center
    }
}

@media(min-width:1025px) {
    .main-super-widget .super-widget-small__body {
        border-radius: 8px;
        background-image: linear-gradient(91.93deg, #695328, #ffc047 46.82%, #fcfcfd 71.69%, #ca9a3e 87.61%);
        overflow: hidden;
        width: 208px;
        align-items: center
    }

    .main-super-widget .super-widget-small__body:before {
        content: "";
        position: absolute;
        top: 1px;
        left: 1px;
        right: 1px;
        bottom: 1px;
        background-image: linear-gradient(90deg, #211e1c, #3b352f);
        border-radius: 8px
    }
}

.main-super-widget .super-widget-small__prize-value {
    color: #f09235;
    font-size: 20px;
    line-height: 24px;
    position: relative;
    font-weight: 600
}

@media(min-width:712px) {
    .main-super-widget .super-widget-small__prize-value {
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 2px
    }
}

@media(min-width:1025px) {
    .main-super-widget .super-widget-small__prize-value {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 4px
    }
}

@media(min-width:712px)and (max-width:1024px) {
    .main-super-widget .super-widget-small__timer {
        margin: 0 16px 0 auto
    }
}

@media(min-width:1025px) {
    .main-super-widget .super-widget-small__timer {
        position: relative
    }
}

@media(min-width:1025px) {
    .main-super-widget {
        background: none;
        width: auto;
        height: auto
    }

    body:has(.winners-dropdown__list-wrapper) .main-super-widget {
        opacity: 0;
        visibility: hidden
    }
}

.quick-bar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 120;
    transition: width .5s, margin-top .1s ease-out, top .2s ease-out
}

.menu-opened .quick-bar {
    height: auto
}

.quick-bar,
.quick-bar .nav-links {
    width: 50px
}

@media(min-width:712px) {

    .quick-bar,
    .quick-bar .nav-links {
        width: 60px
    }
}

@media(min-width:1280px) {

    .quick-bar,
    .quick-bar .nav-links {
        width: 80px
    }
}

.menu-opened .quick-bar,
.menu-opened .quick-bar .nav-links {
    width: 200px;
    min-height: 100%
}

@media(min-width:1280px) {

    .menu-opened .quick-bar,
    .menu-opened .quick-bar .nav-links {
        width: 250px
    }
}

.quick-bar .nav-links__link {
    color: #bab2a8
}

.quick-bar .nav-links__link.nav-links__link--download {
    width: 100%;
    margin-top: 12px
}

@media(min-width:712px) {
    .quick-bar .nav-links__link.nav-links__link--download {
        margin-top: 32px
    }
}

.modal-opened .quick-bar {
    z-index: 10030;
    height: 100%
}

@media(max-width:711px) {
    .modal-opened .quick-bar {
        height: 50px
    }
}

.quick-bar .vb .quick-bar__scroll {
    background-color: #312d2b
}

.quick-bar .vb .quick-bar__scroll::-webkit-scrollbar {
    display: none
}

.no-touch .quick-bar .vb .quick-bar__scroll {
    width: calc(100% + 70px) !important
}

.quick-bar .vb .quick-bar__scroll-wrapper {
    display: flex;
    flex-direction: column;
    height: auto
}

@media(max-width:711px) {
    .quick-bar {
        bottom: unset;
        height: 50px;
        z-index: 10002;
        box-shadow: 0 2px 9px 0 rgba(0, 0, 0, .3)
    }

    .menu-opened .quick-bar {
        bottom: 0;
        height: 100%;
        z-index: 10023
    }

    .menu-opened.iOS.Safari.Mobile .quick-bar {
        height: -webkit-fill-available;
        min-height: -webkit-fill-available;
        bottom: auto
    }
}

@media(min-width:712px)and (max-width:1024px) {
    .quick-bar:before {
        content: "";
        display: block;
        width: 100%;
        height: 100px;
        position: absolute;
        left: 0;
        top: 99%;
        background-color: #312d2b;
        z-index: 2
    }
}

body:has(.main-super-widget) .main-wrapper:not(.scrolled) .quick-bar {
    top: 76px
}

@media(min-width:1025px) {
    body:has(.main-super-widget) .main-wrapper:not(.scrolled) .quick-bar {
        top: 0
    }
}

body:has(.main-super-widget) .main-wrapper:not(.scrolled).menu-opened .quick-bar {
    height: calc(100% - 76px);
    min-height: calc(100% - 76px)
}

@media(min-width:1025px) {
    body:has(.main-super-widget) .main-wrapper:not(.scrolled).menu-opened .quick-bar {
        height: 100%;
        min-height: 100%
    }
}

@media(max-width:711px) {

    body:has(.category-popup) .main-wrapper:not(.scrolled) .quick-bar,
    body:has(.custom-modal) .main-wrapper:not(.scrolled) .quick-bar,
    body:has(.favorites) .main-wrapper:not(.scrolled) .quick-bar,
    body:has(.games-list-filters__popup) .main-wrapper:not(.scrolled) .quick-bar,
    body:has(.search) .main-wrapper:not(.scrolled) .quick-bar {
        top: 0
    }
}

.quick-bar__btn-burger {
    z-index: 2
}

.quick-bar__links {
    position: absolute;
    top: 0;
    bottom: 0;
    padding-top: 50px;
    width: 100%;
    background-color: #312d2b;
    z-index: 1;
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, .3);
    height: 100%
}

@media(min-width:1280px) {
    .quick-bar__links {
        padding-top: 60px
    }
}

.quick-bar__links .nav-links__title {
    display: flex !important;
    bottom: unset !important
}

.quick-bar__links .nav-links__link-icon {
    width: 20px;
    max-height: 21px
}

.quick-bar__links .nav-links__link-icon.nav-links__link-icon--v-sport {
    width: 27px
}

@media(min-width:1280px)and (max-width:1400px)and (min-height:610px)and (max-height:720px) {
    .quick-bar__links .nav-links__link-icon {
        width: 16px;
        max-height: 16px
    }
}

@media(max-width:1279px) {
    .quick-bar__links .nav-links__link-icon.nav-links__link-icon--v-sport {
        width: 20px
    }
}

.quick-bar__links .nav-links__link-icon.nav-links__link-icon--download {
    width: 190px;
    max-height: 57px
}

@media(max-width:711px) {
    .quick-bar__links .nav-links__link-icon.nav-links__link-icon--download {
        width: 170px;
        height: auto
    }
}

.quick-bar__links .nav-links__link-icon.nav-links__link-icon--logout {
    width: 22px
}

.quick-bar__links .nav-links__link--sport .nav-links__link-icon {
    width: 24px;
    max-height: 24px
}

@media(min-width:1280px)and (max-width:1400px)and (min-height:610px)and (max-height:720px) {
    .quick-bar__links .nav-links__link--sport .nav-links__link-icon {
        width: 18px;
        max-height: 18px
    }
}

@media(max-width:1279px) {
    .quick-bar__links .nav-links__link--sport .nav-links__link-icon {
        width: 18px;
        max-height: 18px
    }
}

.quick-bar__links .nav-links__item-locale {
    display: flex;
    flex-direction: column;
    cursor: pointer
}

.quick-bar__links .nav-links__item-locale.active {
    background-color: #211e1c
}

.quick-bar__links .nav-links__item-locale.active .nav-links__link-arrow-icon {
    transform: rotate(180deg)
}

.quick-bar__links .nav-links__item-locale .nav-links__title {
    display: flex;
    justify-content: space-between
}

.quick-bar__links .nav-links__item-locale .nav-links__title-text {
    flex: 1 1 auto;
    text-transform: capitalize;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.quick-bar__links .nav-links__item-locale .nav-links__link-img {
    max-width: 20px;
    border-radius: 50%
}

@media(max-width:1279px) {
    .quick-bar__links .nav-links__item-locale .nav-links__link-img {
        max-width: 16px
    }
}

.quick-bar__links .nav-links__item-locale .local-list {
    padding-top: 0;
    padding-right: 0;
    padding-left: 30px
}

@media(max-width:1579px) {
    .quick-bar__links .nav-links__item-locale .local-list {
        padding-left: 20px
    }
}

.quick-bar__links .nav-links__item-locale .local-list__item {
    margin-bottom: 17px
}

.quick-bar__links .nav-links__item-locale .local-list__item.active {
    display: none
}

.quick-bar__links .nav-links__item-locale .local-list__flag {
    margin-right: 20px
}

.quick-bar__links .nav-links__item-locale .local-list__flag-img {
    width: 20px;
    height: 20px
}

@media(max-width:1279px) {
    .quick-bar__links .nav-links__item-locale .local-list__flag-img {
        width: 16px;
        height: 16px
    }
}

.quick-bar__links .nav-links__item-locale .local-list__code {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none
}

@media(max-width:1279px) {
    .quick-bar__links .nav-links__item-locale .local-list__code {
        font-size: 14px
    }
}

.quick-bar__links .nav-links__link-arrow-icon {
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -3px;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    border-top: 6px solid #d7cec5;
    transition: all .2s ease-out
}

.menu-opened .quick-bar__links .nav-links__link-arrow-icon {
    display: block
}

.menu-opened .quick-bar__links .vue-tooltip,
.touch .quick-bar__links .vue-tooltip {
    display: none !important
}

.quick-bar__links .vue-tooltip {
    display: none;
    position: fixed !important;
    top: unset !important;
    width: unset;
    background-color: #312d2b;
    padding: 11px 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .5) !important;
    transition-property: opacity;
    transform: translate3d(0, -4px, 0) !important;
    left: 65px !important
}

@media(min-width:1280px) {
    .quick-bar__links .vue-tooltip {
        left: 90px !important;
        transform: translate3d(0, -20px, 0) !important
    }
}

.quick-bar__links .tooltip-content {
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -.53px;
    color: #d7cec5
}

.quick-bar__links .tooltip-arrow {
    top: 50% !important;
    transform: translateY(-50%);
    margin: 0 !important
}

.quick-bar__links .vue-tooltip[x-placement^=right] .tooltip-arrow {
    border-width: 8px 8px 8px 0;
    border-right-color: #312d2b;
    left: -8px
}

.quick-bar__links-wrap {
    position: absolute;
    padding-top: 12px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%
}

.quick-bar__links-wrap.vb-scrolling .nav-links__link {
    pointer-events: none
}

.quick-bar__links-wrap.vb-scrolling .vue-tooltip {
    display: none
}

@media(min-width:1280px) {
    .quick-bar__links-wrap {
        padding-top: 16px
    }
}

.quick-bar__bottom {
    margin-top: auto;
    width: 200px;
    padding-bottom: 12px
}

@media(min-width:1280px) {
    .quick-bar__bottom {
        width: 250px;
        padding-bottom: 32px
    }
}

.menu-opened .quick-bar__bottom {
    padding-top: 60px
}

.quick-bar__social-links {
    margin: 0 15px 12px 15px;
    border-top: 1px solid #4f453b;
    border-bottom: 1px solid #4f453b;
    padding: 16px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
}

@media(min-width:1280px) {
    .quick-bar__social-links {
        margin: 0 15px 32px 15px;
        padding-bottom: 19px
    }
}

.quick-bar__local-time-wr .current-local-time {
    padding: 16px 20px;
    border-block: 1px solid #4f453b;
    margin: 0 15px 16px
}

@media(min-width:1280px) {
    .quick-bar__local-time-wr .current-local-time {
        padding: 19px 20px;
        margin: 0 15px 14px
    }
}