@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@400;700&family=Playfair+Display:wght@900&family=Roboto&display=swap');

// without px
$container: 1146;
$safety: 20;

@mixin adaptive-width($columns, $gap) {
    width: calc(100% / #{$columns} - (#{$columns} - 1) * #{$gap + px} / #{$columns});
}

@mixin adaptive-value($property, $maxValue, $minValue, $minWidth: 320, $maxWidth: $container + $safety*2) {
    $widthDiff: $maxWidth - $minWidth;
    $valueDiff: $maxValue - $minValue;
    $step: $valueDiff / $widthDiff;

    #{$property}: #{$maxValue+px};

    @media (max-width:#{$maxWidth+px}) {
        #{$property}: calc(#{$maxValue+px} - (#{$step * $maxWidth+px} - #{$step * 100 + vw}));
    }

    @media (max-width:#{$minWidth+px}) {
        #{$property}: #{$minValue+px};
    }
}

/* скрытие доп элементов на карте */
[class*="copyrights-pane"] {
    display: none !important;
}

/* черно-белая карта */
[class*="ground-pane"] {
    filter: grayscale(1);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol,
li {
    list-style: none;
}

$textC: #1D1919;
$secondaryC: #fff;
$mainC: #AD655F;
$extraC: #70251F;

body {
    font-family: Lato, sans-serif;
    line-height: 1;
    font-weight: 400;
    @include adaptive-value('font-size', 14, 13);
    color: $textC;

    &.lock {
        overflow: hidden;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    min-height: 100vh;
}

.main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: #{$container+px};
    padding: 0 #{$safety+px};
    box-sizing: content-box;
    margin: 0 auto;
}

.ibg {
    position: relative;

    >img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
    }
}

input,
button,
textarea {
    font-family: inherit;
    border: 0;
    outline: 0;
}

button {
    cursor: pointer;
    background-color: transparent;
}

a,
button,
svg,
path {
    transition: .3s;
}

a:hover {
    color: $mainC;

    path {
        stroke: $mainC
    }
}

@import 'menu';

// ======================================== components ========================================
.dim {
    color: rgba($color: $textC, $alpha: 0.3);
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    text-transform: uppercase;

    &__title {
        font-family: "Playfair Display", sans-serif;
        font-weight: 900;
        @include adaptive-value('font-size', 24, 16);
    }

    &__subtitle {
        font-family: Roboto, sans-serif;
        font-weight: 400;
        @include adaptive-value('font-size', 8, 5);
    }
}

.input-inner {
    position: relative;

    &__arrow-btn {
        height: 100%;
        width: 34px;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);

        &:hover {
            path {
                stroke: $mainC;
            }
        }
    }
}

.input {
    width: 100%;
    border-bottom: 1px solid $textC;
    min-height: 34px;

    &::placeholder {
        @extend .dim;
    }

    &_search {
        padding-left: 32px;
    }
}

.search-btn {
    display: flex;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

    &:hover {
        path {
            fill: $mainC;
        }
    }
}

.close-btn {
    display: flex;
    position: absolute;
    top: 30px;
    right: 20px;
    z-index: 1;
}

.more-link {
    display: flex;
    align-items: center;
    gap: 24px;
    font-weight: 700;
    font-size: 15px;
}

.title {
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    @include adaptive-value('font-size', 30, 18);


    &.small {
        @include adaptive-value('font-size', 20, 18);
    }
}

.btn {
    background-color: $mainC;
    color: $secondaryC;
    width: 100%;
    max-width: 264px;
    min-height: 50px;
    padding: 0 10px;
    font-weight: 700;
    border: 1px solid $mainC;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    &:hover {
        color: $mainC;
        background-color: $secondaryC;
    }

    &.transparent {
        border: 1px solid $secondaryC;
        background: rgba(188, 188, 188, 0.3);

        &:hover {
            background-color: $secondaryC;
            color: $textC;
        }
    }
}

.cards {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 40px;

    @media (max-width:992px) {
        column-gap: 24px;
        row-gap: 32px;
    }

    @media (max-width:768px) {
        column-gap: 20px;
        row-gap: 24px;
    }

    @media (max-width:576px) {
        column-gap: 16px;
        row-gap: 18px;
    }

    &_products {
        @include adaptive-value('margin-top', 40, 10);

        @media (max-width:992px) {
            row-gap: 36px;
        }

        @media (max-width:768px) {
            row-gap: 32px;
        }

        @media (max-width:576px) {
            row-gap: 30px;
        }
    }

    &_news {
        @include adaptive-value('margin-top', 60, 35);
        row-gap: 90px;

        @media (max-width:992px) {
            row-gap: 70px;
        }

        @media (max-width:768px) {
            row-gap: 50px;
        }

        @media (max-width:576px) {
            row-gap: 30px;
        }
    }
}

.card {
    display: flex;
    flex-direction: column;
    gap: 50px;
    @include adaptive-width(3, 30);

    @media (max-width:992px) {
        gap: 20px;
    }

    @media (max-width:992px) {
        @include adaptive-width(2, 24);
    }

    @media (max-width:768px) {
        @include adaptive-width(2, 20);
    }

    @media (max-width:576px) {
        @include adaptive-width(2, 16);
    }

    &__image {
        min-height: 510px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        padding: 10px;

        &_products {
            min-height: 410px;

            @media (max-width:992px) {
                min-height: unset;
                padding-bottom: 107%;
            }
        }

        &_news {
            min-height: 370px;

            @media (max-width:992px) {
                min-height: unset;
                padding-bottom: 125%;
            }
        }
    }

    &__btn {
        @include adaptive-value('max-width', 264, 132);
        @include adaptive-value('min-height', 50, 30);
        position: relative;
        margin-top: auto;
        @include adaptive-value('margin-bottom', 90, 25);
        @include adaptive-value('font-size', 14, 8);
    }

    &__discount {
        width: 100%;
        @include adaptive-value('max-width', 100, 84);
        min-height: 30px;
        background-color: $extraC;
        color: $secondaryC;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: absolute;
        left: 0;
        top: calc(100% + 10px);
        @include adaptive-value('font-size', 12, 10);
        pointer-events: none;

        @media (max-width:992px) {
            pointer-events: all;
            top: unset;
            @include adaptive-value('bottom', 30, 20);
            @include adaptive-value('min-height', 30, 20, 320, 992);
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        @include adaptive-value('gap', 16, 8);
    }

    &__price {
        display: flex;
        align-items: center;
        @include adaptive-value('gap', 16, 10);
    }

    &__current-price {
        font-weight: 500;
        font-size: 16px;

        &.active {
            color: $extraC
        }
    }

    &__old-price {
        text-decoration: line-through;
        font-weight: 700;
        @include adaptive-value('font-size', 12, 11);
    }

    &__colors {
        font-size: 12px;
    }
}

.filter {
    position: relative;
    padding: 10px 0;

    &:hover {
        .dropdown {
            opacity: 1;
            visibility: visible;
            pointer-events: all;
        }
    }

    &__btn {
        display: flex;
        align-items: center;
        @include adaptive-value('gap', 12, 8, 768);
        text-transform: uppercase;

        &:hover {
            color: $mainC;

            svg {
                transform: rotate(-180deg);
            }

            path {
                stroke: $mainC;
            }
        }
    }
}

.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    background-color: $secondaryC;
    box-shadow: 3.4px 3.4px 34px rgba(217, 217, 217, 0.7);
    min-width: 232px;
    max-height: 370px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: .3s;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    &_checkboxes {
        padding: 20px 30px 30px;
    }

    &_radioboxes {
        padding: 32px 24px 24px;
    }

    &__radioboxes {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__select-btn {
        border-bottom: 1px solid $textC;

        &:hover {
            border-bottom: 1px solid $mainC;
            color: $mainC;
        }
    }

    &__checkboxes {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        width: 100%;
        overflow: auto;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__checkbox-inner {
        display: flex;
        align-items: center;
        width: 100%;

        &.disabled {
            opacity: 0.3;
            pointer-events: none;
        }
    }

    &__count {
        margin-left: auto;
    }

    &__btn {
        margin-top: 30px;
        width: 100%;
        min-height: 36px;
    }
}

.checkbox,
.radiobox {
    display: none;

    &:checked {
        +.label::after {
            opacity: 1;
            visibility: visible;
        }
    }
}

.label {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 100%;
    padding-left: 24px;
    position: relative;
    cursor: pointer;

    &::before,
    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 12px;
        height: 12px;
        transition: .3s;
    }

    &::before {
        border: 1px solid $textC;
    }

    &::after {
        opacity: 0;
        visibility: hidden;
    }

    &_checkbox {

        &::before,
        &::after {
            border-radius: 2px;
        }

        &::after {
            border: 1px solid $mainC;
            background-color: $mainC;
            background-image: url("../img/check.svg");
            background-repeat: no-repeat;
            background-position: center;
            opacity: 0;
            visibility: hidden;
        }
    }

    &_radiobox {
        &::before {
            border-radius: 50%;
        }

        &::after {
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: $mainC;
            transform: translate(2px, -50%);
        }
    }
}


.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    &__btn {
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            color: $mainC;

            path {
                stroke: $mainC;
            }
        }

        &.active {
            color: $mainC;
            font-weight: 700;
        }

        &.dots {
            pointer-events: none;
        }
    }
}

// ======================================== header ========================================
.header {
    @include adaptive-value('padding-top', 50, 30, 768);
    @include adaptive-value('padding-bottom', 40, 30, 768);

    @media (max-width:768px) {
        padding-top: unset;
        padding-bottom: unset;
        min-height: 90px;
        display: flex;
        flex-direction: column;
    }

    @media (max-width:576px) {
        min-height: 80px;
    }

    @media (max-width:480px) {
        min-height: 70px;
    }

    &__container {
        @media (max-width:768px) {
            margin: auto 0;
        }
    }

    &__inner {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__left {
        display: flex;
        align-items: center;
        @include adaptive-value('gap', 30, 20);
        flex-shrink: 0;
        flex-basis: 40%;

        @media (max-width:1200px) {
            flex-basis: unset;
        }

        @media (max-width:992px) {
            display: none;
        }
    }

    &__btn {}

    &__tel {
        flex-shrink: 0;
    }

    &__middle {
        display: flex;
        justify-content: center;
        flex-shrink: 0;
        flex-basis: 20%;

        @media (max-width:1200px) {
            flex-basis: unset;
        }
    }

    &__logo {}

    &__right {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        @include adaptive-value('gap', 70, 30, 992);
        flex-shrink: 0;
        flex-basis: 40%;

        @media (max-width:1200px) {
            flex-basis: unset;
        }
    }

    &__search-inner {
        width: 100%;
        max-width: 166px;

        @media (max-width:992px) {
            display: none;
        }
    }

    &__basket {
        position: relative;
        width: 30px;
        height: 27px;

        &:hover {
            opacity: 0.7;
        }
    }

    &__count {
        min-height: 16px;
        min-width: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 11px;
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: $mainC;
        color: $secondaryC;
        border-radius: 8px;
        padding: 0 4px;
    }

    &__nav {
        @media (max-width:992px) {
            display: none;
        }

        ul {
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 38px;
            row-gap: 10px;
            flex-wrap: wrap;
        }
    }
}

// ======================================== search-popup ========================================
.search-popup {
    position: fixed;
    background-color: rgba($color: $textC, $alpha: 0.3);
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    z-index: 1;

    &.active {
        opacity: 1;
        visibility: visible;
    }

    &__inner {
        position: absolute;
        top: 0;
        right: 0;
        right: -100%;
        width: 100%;
        height: 100%;
        max-width: 410px;
        background-color: #fff;
        padding: 60px 24px;
        display: flex;
        flex-direction: column;
        gap: 40px;
        transition: .3s;
        overflow: auto;

        &.active {
            right: 0;
        }

        @media (max-width:992px) {
            max-width: unset;
            padding: 75px 20px 50px;
        }
    }

    &__back-btn {
        position: absolute;
        top: 30px;
        left: 20px;
        display: none;
        z-index: 1;

        @media (max-width:992px) {
            display: flex;
        }
    }

    &__search-inner {
        width: 100%;
        max-width: 264px;

        @media (max-width:992px) {
            max-width: unset;
        }
    }

    &__variants-inner {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid rgba($color: $textC, $alpha: 0.3);
    }

    &__variants {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__items {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__item {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    &__img {
        width: 100%;
        max-width: 68px;
        min-height: 100px;
    }
}

// ======================================== main-block ========================================
.main-block {
    color: $secondaryC;
    position: relative;

    &__swiper {}

    &__swiper-wrapper {}

    &__swiper-slide {
        min-height: 590px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 60px 0;

        @media (max-width:768px) {
            min-height: calc(100vh - 90px);
        }

        @media (max-width:576px) {
            min-height: calc(100vh - 80px);
            align-items: flex-end;
        }

        @media (max-width:480px) {
            min-height: calc(100vh - 70px);
        }
    }

    &__inner {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        @include adaptive-value('gap', 40, 24);
    }

    &__title {
        font-family: Montserrat, sans-serif;
        font-weight: 700;
        text-align: center;
        @include adaptive-value('font-size', 40, 22);
    }

    &__link {
        @include adaptive-value('min-height', 60, 40);
        @include adaptive-value('max-width', 360, 184);
    }

    &__pagination {
        position: absolute;
        bottom: 32px !important;
        left: 50% !important;
        transform: translateX(-50%);
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        @include adaptive-value('gap', 20, 12);
        flex-wrap: wrap;
        background-color: transparent;
        width: 100%;
        max-width: #{$container + $safety * 2}+px;
        padding: 0 20px;

        .swiper-pagination-bullet {
            width: 10px;
            height: 10px;
            border: 1px solid $secondaryC;
            border-top-style: 50%;
            margin: 0 !important;

            &-active {
                background-color: $secondaryC;
            }
        }
    }

    &__btns {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        max-width: #{$container + $safety * 2}+px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 1;
        padding: 0 20px;

        @media (max-width:768px) {
            display: none;
        }
    }

    &__btn {
        width: 68px;
        height: 68px;
        border: 1px solid $secondaryC;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        transition: .3s;
        cursor: pointer;

        &:hover {
            background-color: $secondaryC;

            path {
                stroke: $textC;
            }
        }
    }
}

// ======================================== advantages ========================================
.advantages {
    @include adaptive-value('padding-bottom', 110, 45);

    &__title {
        max-width: 350px;
        text-transform: uppercase;

        &_about {
            max-width: 460px;
            @include adaptive-value('font-size', 20, 16);
        }

        @media (max-width:768px) {
            max-width: unset;
        }
    }

    &__inner {
        display: flex;
        flex-direction: column;

        @media (max-width:768px) {
            gap: 40px;
        }

        @media (max-width:576px) {
            gap: 30px;
        }
    }

    &__item {
        display: flex;
        justify-content: space-between;
        @include adaptive-value('gap', 80, 20);

        &_even {
            &:nth-child(even) {
                flex-direction: row-reverse;

                @media (max-width:768px) {
                    flex-direction: column;
                }
            }
        }

        &_odd {
            &:nth-child(odd) {
                flex-direction: row-reverse;

                @media (max-width:768px) {
                    flex-direction: column;
                }
            }
        }

        @media (max-width:768px) {
            flex-direction: column;
        }
    }

    &__image {
        width: 50%;
        @include adaptive-value('min-height', 573, 364, 768);
        flex-shrink: 0;

        @media (max-width:768px) {
            width: 100%;
            min-height: unset;
            padding-bottom: 100%;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px 0;

        @media (max-width:768px) {
            padding: unset;
        }

        ul {
            padding-left: 20px;
        }

        li {
            list-style-type: disc;
        }
    }

    &__text-block {
        @include adaptive-value('margin-top', 50, 20);
        display: flex;
        flex-direction: column;
        @include adaptive-value('gap', 24, 16);
    }

    &__link {
        @include adaptive-value('margin-top', 35, 20);
        margin-left: auto;

        @media (max-width:576px) {
            margin-left: unset;
        }
    }
}

// ======================================== examples ========================================
.examples {
    @include adaptive-value('padding-top', 110, 45);
    @include adaptive-value('padding-bottom', 110, 45);

    &__inner {
        display: flex;
        flex-direction: column;
        @include adaptive-value('gap', 60, 32);
    }

    &__btn {
        @include adaptive-value('max-width', 360, 184);
        @include adaptive-value('min-height', 60, 40);
        margin: 0 auto;
    }
}

// ======================================== discount ========================================
.discount {
    @include adaptive-value('padding-bottom', 110, 45);

    &__inner {
        display: flex;
        flex-direction: column;
        @include adaptive-value('gap', 60, 35);
    }

    &__items {
        display: flex;
        flex-direction: column;
        @include adaptive-value('gap', 40, 35);
    }

    &__item {
        @include adaptive-value('padding-top', 110, 34);
        @include adaptive-value('padding-bottom', 70, 34);
        @include adaptive-value('padding-left', 100, 34);
        @include adaptive-value('padding-right', 100, 34);
        display: flex;
        flex-direction: column;
        @include adaptive-value('min-height', 440, 320);
    }

    &__content {
        position: relative;
        color: #fff;
        flex-grow: 1;
        display: flex;
        flex-direction: column;

        @media (max-width:768px) {
            align-items: center;
            justify-content: flex-end;
        }
    }

    &__title {
        font-family: Montserrat, sans-serif;
        font-weight: 700;
        @include adaptive-value('font-size', 40, 20);
    }

    &__subtitle {
        @include adaptive-value('margin-top', 20, 13);
        font-family: Montserrat, sans-serif;
        @include adaptive-value('font-size', 28, 17);
    }

    &__more-btn {
        margin-top: auto;
        @include adaptive-value('max-width', 264, 180);
        @include adaptive-value('min-height', 50, 40);

        @media (max-width:768px) {
            @include adaptive-value('margin-top', 40, 34);
        }
    }

    &__btn {
        margin: 0 auto;
        @include adaptive-value('max-width', 360, 184);
        @include adaptive-value('min-height', 60, 40);
    }
}

// ======================================== find ========================================
.find {
    @include adaptive-value('padding-bottom', 110, 45);

    &__inner {}

    &__title {
        text-align: center;
    }

    &__text {
        text-align: center;
        @include adaptive-value('margin-top', 48, 24);
    }

    &__input-inner {
        margin-top: 20px;
    }

    &__input {}
}

// ======================================== footer ========================================
.footer {
    padding-top: 40px;
    @include adaptive-value('padding-bottom', 45, 30);
    border-top: 1px solid $textC;

    &__inner {
        display: flex;
        justify-content: space-between;
        gap: 30px;

        @media (max-width:768px) {
            flex-wrap: wrap;
        }
    }

    &__left {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 14px;
        max-width: 264px;
        @include adaptive-value('max-width', 264, 200, 768);

        @media (max-width:768px) {
            display: none;
        }
    }

    &__middle {
        display: flex;
        flex-wrap: wrap;
        @include adaptive-value('gap', 40, 30);
        @include adaptive-value('max-width', 400, 316, 768);

        @media (max-width:768px) {
            max-width: unset;
            width: 60%;
        }

        @media (max-width:576px) {
            width: 100%;
        }
    }

    &__columns {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    &__column {
        display: flex;
        flex-direction: column;
    }

    &__links {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__social {
        display: flex;
        align-items: center;
        gap: 12px;
        flex-wrap: wrap;
        width: 100%;

        @media (max-width:576px) {
            justify-content: center;
        }

        a {
            display: flex;

            &:hover {
                opacity: 0.7;
            }
        }
    }

    &__right {
        display: flex;
        flex-direction: column;
        gap: 20px;
        @include adaptive-value('max-width', 260, 154, 768);

        @media (max-width:576px) {
            width: 100%;
            max-width: unset;
            align-items: center;
        }
    }

    &__pay-methods {
        display: flex;
        align-items: center;
        gap: 12px;
        flex-wrap: wrap;
    }
}

// ======================================== breadcrumbs ========================================
.breadcrumbs {
    &__inner {
        display: flex;
        align-items: center;
        gap: 12px;
    }

    @media (max-width:768px) {
        display: none;
    }
}

// ======================================== about ========================================
.about {
    @include adaptive-value('padding-top', 60, 0);
    @include adaptive-value('padding-bottom', 110, 45);

    &__inner {
        display: flex;
        flex-direction: column;
        @include adaptive-value('gap', 60, 35);
    }

    &__title {
        text-align: center;
    }
}

// ======================================== catalog ========================================
.catalog {
    @include adaptive-value('padding-top', 60, 0);
    @include adaptive-value('padding-bottom', 110, 45);

    &__inner {
        display: flex;
        flex-direction: column;
    }

    &__title {
        text-align: center;
    }

    &__cards {
        @include adaptive-value('margin-top', 60, 35);
    }

    &__text {
        @include adaptive-value('margin-top', 55, 30);
    }
}

// ======================================== docs ========================================
.docs {
    @include adaptive-value('padding-bottom', 110, 45);

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include adaptive-value('gap', 60, 35);

        @media (max-width:#{$container + 2*$safety}px) {
            justify-content: flex-start;
            flex-direction: column;
        }
    }

    &__title {
        text-align: center;
    }

    &__images {
        min-height: 573px;
        position: relative;
        width: 100%;
        max-width: 573px;
        display: flex;
        flex-direction: column;
        gap: 23px;
    }

    &__image {
        position: absolute;

        @media (max-width:613px) {
            position: static;
        }

        &:first-child {
            top: 0;
            left: 0;
        }

        &:last-child {
            bottom: 0;
            right: 0;
        }
    }
}

// ======================================== notfound ========================================
.notfound {
    @include adaptive-value('padding-top', 60, 35);
    @include adaptive-value('padding-bottom', 110, 45);
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    @media (max-width:768px) {
        min-height: calc(100vh - 90px);
    }

    @media (max-width:576px) {
        min-height: calc(100vh - 80px);
        align-items: flex-end;
    }

    @media (max-width:480px) {
        min-height: calc(100vh - 70px);
    }

    &__container {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }

    &__inner {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    &__title {
        font-weight: 700;
        color: $mainC;
        @include adaptive-value('font-size', 210, 96);
    }

    &__subtitle {
        @include adaptive-value('margin-top', 40, 20);
    }

    &__text {
        max-width: 590px;
        @include adaptive-value('margin-top', 25, 20);
    }

    &__btn {
        @include adaptive-value('max-width', 360, 184);
        @include adaptive-value('min-height', 60, 50);
        @include adaptive-value('margin-top', 60, 35);
    }
}

// ======================================== products ========================================
.products {
    @include adaptive-value('padding-bottom', 110, 45);

    &__inner {}

    &__title {
        text-align: center;
    }

    &__header {
        @include adaptive-value('margin-top', 60, 30);
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__filters {
        display: flex;
        align-items: center;
        @include adaptive-value('gap', 36, 20, 768);

        @media (max-width:768px) {
            display: none;
        }
    }

    &__filters-btn,
    &__count {
        display: none;
        text-transform: uppercase;

        @media (max-width:768px) {
            display: flex;
        }
    }

    &__filters-btn {
        align-items: center;
        @include adaptive-value('gap', 12, 8);
    }

    &__btn {
        @include adaptive-value('margin-top', 50, 35);
        margin-left: auto;
        margin-right: auto;
    }

    &__pagination {
        @include adaptive-value('margin-top', 45, 30);
    }
}

// ======================================== map-block ========================================
.map-block {
    @include adaptive-value('padding-top', 60, 0);
    @include adaptive-value('padding-bottom', 110, 45);

    &__inner {
        display: flex;
        justify-content: space-between;
        gap: 30px;

        @media (max-width:768px) {
            flex-direction: column;
        }
    }

    &__content {
        width: 100%;
        @include adaptive-value('max-width', 360, 300, 768);
        padding-top: 30px;
        display: flex;
        flex-direction: column;
        @include adaptive-value('gap', 40, 20);

        @media (max-width:992px) {
            padding-top: 0;
        }

        @media (max-width:768px) {
            max-width: unset;
        }
    }

    &__title {
        @media (max-width:768px) {
            text-align: center;
        }
    }

    &__stores {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    &__map {
        background-color: #eee;
        width: 100%;
        max-width: 754px;
        min-height: 700px;

        @media (max-width:768px) {
            min-height: unset;
            padding-bottom: 93%;
        }
    }
}

.item-map-block {
    display: flex;
    gap: 24px;
    padding-top: 30px;
    border-top: 1px solid rgba($color: $textC, $alpha: 0.3);

    &__icon {
        position: relative;
        pointer-events: none;

        span {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 10px;
            font-weight: 700;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    &__info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    &__text {
        font-size: 12px;
    }

    &__open {
        color: #12a83c;
    }

    &__close {
        color: $extraC;
    }

    &__btn {
        border-bottom: 1px solid $textC;
        text-transform: uppercase;

        &:hover {
            color: $mainC;
            border-bottom: 1px solid $mainC;
        }
    }
}

// ======================================== contacts ========================================
.contacts {
    @include adaptive-value('padding-bottom', 110, 45);

    &__inner {
        display: flex;
        flex-direction: column;
        @include adaptive-value('gap', 50, 35);
    }

    &__title {
        @media (max-width:768px) {
            text-align: center;
        }
    }

    &__columns {
        display: flex;
        flex-wrap: wrap;
        row-gap: 24px;
        column-gap: 80px;

        @media (max-width:576px) {
            column-gap: 20px;
            justify-content: space-between;
            row-gap: 20px;
        }
    }

    &__column {
        display: flex;
        flex-direction: column;
        gap: 16px;

        &.big {
            width: 100%;
        }
    }
}

// ======================================== news ========================================
.news {
    @include adaptive-value('padding-top', 60, 0);
    @include adaptive-value('padding-bottom', 110, 45);

    &__inner {}

    &__title {
        text-align: center;
    }

    &__content {
        display: flex;
        flex-direction: column;
        @include adaptive-value('gap', 30, 20);
        flex-grow: 1;
    }

    &__item-title {
        font-weight: 700;
        @include adaptive-value('font-size', 16, 13);
    }

    &__bottom {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__more-link {
        margin-left: auto;

        @media (max-width:576px) {
            margin-left: unset;
        }
    }

    &__date {
        font-size: 12px;
        color: #BBBABA;

        @media (max-width:576px) {
            display: none;
        }
    }

    &__pagination {
        @include adaptive-value('margin-top', 45, 30);
    }
}

// ======================================== single-news ========================================
.single-news {
    @include adaptive-value('padding-top', 60, 0);
    @include adaptive-value('padding-bottom', 110, 45);

    &__inner {
        display: flex;
        @include adaptive-value('gap', 130, 30);

        @media (max-width:768px) {
            flex-direction: column;
        }
    }

    &__title {
        &_hidden {
            display: none;
            text-align: center;
        }

        @media (max-width:768px) {
            display: none;

            &_hidden {
                display: block;
            }
        }
    }

    &__image {
        width: 100%;
        max-width: 560px;
        @include adaptive-value('min-height', 570, 350,768);

        @media (max-width:768px) {
            max-width: unset;
            min-height: unset;
            padding-bottom: 105%;
        }
    }

    &__content {
        padding: 20px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include adaptive-value('gap', 60, 30);

        @media (max-width:768px) {
            padding: unset;
        }
    }

    &__btn {
        @include adaptive-value('max-width', 360, 184);
        @include adaptive-value('min-height', 60, 40);

        @media (max-width:768px) {
            margin: 0 auto;
        }
    }
}