html {
    --leftSideGradient: linear-gradient(90deg, #ffffff, rgba(255, 255, 255, 0));
    --rightSideGradient: linear-gradient(270deg, #ffffff, rgba(255, 255, 255, 0))
}

:root {
    --transition-bounce: cubic-bezier(.47, 1.64, .41, .8);
    --background-primary: #f2f3f5;
    --background-secondary: #ffffff;
    --core-accent-blue250: #0072e5;
    --core-surface-primary: #ffffff;
    --core-surface-primary-dark: #1a1c20;
    --core-surface-secondary: #f7f7f7;
    --core-surface-tertiary: #ebedf0;
    --core-surface-constant: #ffffff;
    --core-surface-accent: #0077ff;
    --core-surface-accentSubdued: #e5f1ff;
    --core-surface-positive: #4bb34b;
    --core-surface-positiveSubdued: #e4f4e4;
    --core-surface-warning: #ffa000;
    --core-surface-warningSubdued: #fff2d6;
    --core-surface-negative: #ff3347;
    --core-surface-negativeSubdued: #faebeb;
    --core-surface-input: #f2f3f5;
    --core-surface-input-dark: #2d3137;
    --core-surface-level00: #0f1214;
    --core-surface-level05: #171c22;
    --core-surface-level20: #2b323d;
    --fill-accent-subdued: #192e44;
    --fill-base10: #2b323d;
    --fill-base20: #333a47;
    --fill-accent: #0077ff;
    --core-text-primary: #222222;
    --core-text-primary-dark: #ebf1f6;
    --core-text-secondary: #6d7885;
    --core-text-secondary-dark: #9ba6b1;
    --core-text-tertiary: #99a2ad;
    --core-text-quaternaryConstant: #ffffff;
    --core-text-quaternaryConstantInverse: #000000;
    --core-text-link: #0077ff;
    --core-text-link-dark: #2994ff;
    --core-text-linkVisited: #7436da;
    --core-text-accent: #0077ff;
    --core-text-positive: #4bb34b;
    --core-text-warning: #ffa000;
    --core-text-negative: #ff3347;
    --core-text-base90: #ebf1f6;
    --core-text-base20: #9ba6b1;
    --core-text-base10: #838d99;
    --core-text-base00: #171c22;
    --core-icon-primary: #222222;
    --core-icon-secondary: #6d7885;
    --core-icon-tertiary: #99a2ad;
    --core-icon-quaternary: #e1e3e6;
    --core-icon-constant: #ffffff;
    --core-icon-constantInverse: #000000;
    --core-icon-accent: #0077ff;
    --core-icon-positive: #4bb34b;
    --core-icon-warning: #ffa000;
    --core-icon-negative: #ff3347;
    --core-stroke-primary: #e1e3e6;
    --core-stroke-secondary: #ebedf0;
    --core-stroke-tertiary: #ffffff;
    --core-stroke-quaternary: #99a2ad;
    --core-stroke-accent: #0077ff;
    --core-stroke-negative: #ff3347;
    --core-divider-primary: #ebedf0;
    --core-divider-primary-dark: #464c54;
    --core-divider-secondary: #e1e3e6;
    --core-divider-secondary-dark: #393e45;
    --core-divider-tertiary: #aeb7c2;
    --core-divider-constant: #f7f7f7;
    --core-divider-constantInverse: #282b30;
    --core-overlay-primaryAlpha: rgba(0, 0, 0, 0.36);
    --core-overlay-primaryAlpha-16: rgba(0, 0, 0, 0.16);
    --core-overlay-primaryAlpha-8: rgba(0, 0, 0, 0.08);
    --core-rainbowSurface-blue: #0077ff;
    --core-rainbowSurface-blueSubdued: #e5f1ff;
    --core-rainbowSurface-green: #4bb34b;
    --core-rainbowSurface-greenSubdued: #e4f4e4;
    --core-rainbowSurface-greenSemiSubdued: #dbf0db;
    --core-rainbowSurface-orange: #ffa000;
    --core-rainbowSurface-orangeSubdued: #fff2d6;
    --core-rainbowSurface-orangeFire: #f05c44;
    --core-rainbowSurface-orangeFireSubdued: #fdefec;
    --core-rainbowSurface-red: #ff3347;
    --core-rainbowSurface-redSubdued: #faebeb;
    --core-rainbowSurface-purple: #735ce6;
    --core-rainbowSurface-purpleSubdued: #f1effc;
    --core-rainbowSurface-purpleSemiSubdued: #e3defa;
    --core-rainbowSurface-violet: #792ec0;
    --core-rainbowSurface-violetSubdued: #f2eaf9;
    --core-rainbowSurface-raspberryPink: #e03fab;
    --core-rainbowSurface-raspberryPinkSubdued: #fcecf7;
    --core-rainbowSurface-raspberryPinkSemiSubdued: #f9d9ee;
    --core-rainbowSurface-mint: #25baa2;
    --core-rainbowContent-blue: #0077ff;
    --core-rainbowContent-green: #4bb34b;
    --core-rainbowContent-orange: #ffa000;
    --core-rainbowContent-orangeFire: #f05c44;
    --core-rainbowContent-red: #ff3347;
    --core-rainbowContent-purple: #735ce6;
    --core-rainbowContent-purple-dark: #9985ff;
    --core-rainbowContent-violet: #792ec0;
    --core-rainbowContent-raspberryPink: #e03fab;
    --core-rainbowContent-mint: #25baa2;
    --vk-magenta: #ff3971;
    --primary-hover: #298dff;
    --primary-disabled: #80bbff;
    --accent-purple: #811ac7;
    --accent-blue-800: #192e44;
    --radius-xs: 4px;
    --radius-s: 8px;
    --radius-m: 12px;
    --radius-l: 16px;
    --radius-xl: 20px;
    --radius-xxl: 24px;
    --radius-xxxl: 32px;
    --radius-xl4: 48px;
    --core-text-negative-new: #e34949;
    --base300: #a3adb7;
    --core-line-base-05: #2f3641
}

* {
    box-sizing: border-box
}

body,
html {
    margin: 0;
    max-width: 100vw;
    font-weight: 400;
    font-style: normal;
    scroll-behavior: smooth;
    scrollbar-gutter: stable
}

a {
    color: inherit;
    text-decoration: none
}

html {
    color: var(--core-text-primary);
    font-size: 1vw;
    -webkit-font-smoothing: antialiased;
    scroll-padding-top: var(--header-height);
    --header-height: 56px;
    --running-line-banner-height: 48px
}

@media screen and (min-width:1024px) {
    html {
        --header-height: 72px;
        --running-line-banner-height: 56px
    }
}

@media screen and (min-width:1280px) {
    html {
        --header-height: 96px
    }
}

@media screen and (max-width:720px) {
    html {
        font-size: 3.3vw
    }
}

.main div[data-scroll-target]:nth-child(odd)>div {
    background-color: var(--core-text-quaternaryConstant)
}

.main div[data-scroll-target]:nth-child(2n)>div {
    background-color: var(--background-primary)
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    border: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0)
}

.MobileFloorAdBanner_adContainer__hK5wb {
    display: flex;
    position: fixed;
    z-index: 10000;
    bottom: 0;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    width: 100vw;
    height: 0;
    max-height: 90px
}

.MobileFloorAdBanner_adContainer__hK5wb.MobileFloorAdBanner_adShown__BvjLg {
    height: 90px
}

.MobileFloorAdBanner_ad__DoS1s {
    width: 100%;
    height: 90px;
    max-height: 90px
}

.MobileFloorAdBanner_rootContainer__wByy_ {
    position: relative;
    overflow: auto;
    height: 100dvh
}

.MobileFloorAdBanner_rootContainer__wByy_.MobileFloorAdBanner_adShown__BvjLg {
    height: calc(100dvh - 90px)
}

.MobileFloorAdBanner_closeButton__KU5Uh {
    display: flex;
    position: absolute;
    z-index: 1;
    right: 16px;
    bottom: 100%;
    padding: 6px 12px;
    border: none;
    border-radius: 8px 8px 0 0;
    background: #e1e3e6
}

.SplashScreen_loading__CC_gt {
    position: fixed;
    z-index: 1000;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    width: 100vw;
    background-color: #fff
}

@font-face {
    font-family: vkFont;
    src: url(/_next/static/media/e2f7953728051089-s.p.woff2) format("woff2");
    font-display: swap;
    font-weight: 400
}

@font-face {
    font-family: vkFont;
    src: url(/_next/static/media/44f133a25e4027a5-s.p.woff2) format("woff2");
    font-display: swap;
    font-weight: 500
}

@font-face {
    font-family: vkFont;
    src: url(/_next/static/media/9b4dbeb62f56a6ef-s.p.woff2) format("woff2");
    font-display: swap;
    font-weight: 600
}

@font-face {
    font-family: vkFont Fallback;
    src: local("Arial");
    ascent-override: 86.77%;
    descent-override: 19.66%;
    line-gap-override: 0.00%;
    size-adjust: 104.30%
}

.__className_8957e3 {
    font-family: vkFont, vkFont Fallback
}

.__variable_8957e3 {
    --font-vk-sans: "vkFont", "vkFont Fallback"
}

@use "@shared/mixins" as *;

@keyframes scrollToLeft {

  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(-100%, 0, 0);
  }
}

.marquee {
  --marquee-period: 10s;
  margin-bottom: 24px;
  width: 100%;

  height: max-content;

  @include breakpoint-to(720px) {
    margin-bottom: 20px;
  }

  .marqueeWrapper {
    display: flex;

    flex-direction: row;
    justify-content: flex-start;

    width: fit-content;
    user-select: none;

    &:hover {

      .itemsList {
        animation-play-state: paused;
      }
    }
  }

  .itemsList {
    display: flex;
    flex-direction: row;
    animation: scrollToLeft var(--marquee-period) linear infinite;
    will-change: transform;
  }

  &.marqueeSpeed0 {
    --marquee-period: 10s;
  }

  &.marqueeSpeed1 {
    --marquee-period: 9s;
  }

  &.marqueeSpeed2 {
    --marquee-period: 8s;
  }

  &.marqueeSpeed3 {
    --marquee-period: 7s;
  }

  &.marqueeSpeed10 {
    --marquee-period: 10s;
  }

  &.marqueeSpeed20 {
    --marquee-period: 20s;
  }

  &.marqueeSpeed30 {
    --marquee-period: 30s;
  }

  //Для скринтестов

  &.marqueeSpeed-1 {
    --marquee-period: 0;
  }
}
