.payment-list {
    display: flex;
    gap: 16px!important;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
    gap: 0 var(--column-gap);
    max-height: calc((var(--item-height) + var(--row-gap))*var(--max-rows) - var(--row-gap))
}

.payment-list__item {
    width: 100%;
    max-width: 100px;
}

@media(min-width:769px) {
    .payment-list {
        --row-gap: 25rem;
        --column-gap: 50rem
    }
}

.payment-list--scrolled {
    --item-mobile-height: 14rem;
    --item-height: 14rem;
    --column-gap: 14rem;
    position: relative
}

@media(max-width:768px) {
    .payment-list--scrolled {
        flex-wrap: nowrap;
        justify-content: flex-start;
        overflow-x: auto;
        padding: 0 14rem;
        -ms-overflow-style: none;
        scrollbar-width: none
    }

    .payment-list--scrolled::-webkit-scrollbar {
        display: none
    }
}

@media(min-width:451px)and (max-width:768px) {
    .payment-list--scrolled {
        --item-mobile-height: 24rem;
        --item-height: 24rem
    }
}

@media(min-width:451px) {
    .payment-list--scrolled {
        max-width: 100%;
        --column-gap: 20rem
    }
}

@media(min-width:769px) {
    .payment-list--scrolled {
        --item-height: 40rem;
        --column-gap: 30rem
    }
}

@media(min-width:1025px) {
    .payment-list--scrolled {
        --column-gap: 36rem
    }
}

.payment-list__btn {
    display: block;
    padding: 0;
    border: none;
    background: none;
    width: 100%;
    display: flex;
}

.payment-list__img {
    width: 100%;
    height: var(--item-mobile-height)
}

@media(min-width:769px) {
    .payment-list__img {
        height: var(--item-height)
    }
}

.payment-list__div {
    height: var(--row-gap);
    flex: 100% 0 0
}