.providers-filter {
    overflow: hidden;
    width: 100%;
    border-radius: 3rem
}

.providers-filter__button {
    position: relative;
    display: flex;
    align-items: center;
    padding: 9rem 24rem 9rem;
    background: linear-gradient(99.35deg, rgba(49, 47, 66, .7) 7.07%, #16151f 95.26%)
}

.providers-filter__title-text {
    max-width: 100%;
    font-weight: 500;
    font-size: 16rem;
    line-height: 38rem;
    letter-spacing: .5rem;
    color: #b4c8db;
    cursor: pointer;
    transition: all .2s ease-in-out
}

.providers-filter__title-text--active {
    color: #fff
}

.providers-filter__title-text+.providers-filter__title-text {
    margin-left: 25rem
}

.providers-filter__input {
    margin-bottom: 0;
    width: 100%;
    display: block;
    transition: width .3s ease
}

.providers-filter__dropdown-inner {
    --max-height: 340rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: var(--max-height);
    min-height: 340rem;
    background-color: #1c1b29
}

@media (max-width: 576px) {
    .providers-filter__dropdown-inner {
        min-height: unset;
        max-height: unset;
        height: 250rem;
    }
}

.providers-filter__dropdown-inner--opened {
    max-height: -webkit-max-content;
    max-height: max-content
}

.providers-filter__filter-wrap {
    position: relative;
    display: flex;
    align-content: center;
    justify-content: flex-end;
    height: 44rem
}

@media(min-width:769px) {
    .providers-filter__filter-wrap {
        height: 48rem
    }
}

.providers-filter__filter-btn {
    position: absolute;
    top: 12rem;
    left: 15rem;
    z-index: 1;
    display: flex;
    pointer-events: none
}

.providers-filter__filter-icon {
    width: 24rem;
    color: #74dcd2
}

.providers-filter__dropdown {
    overflow: hidden;
    -ms-overflow-style: none;
    padding: 12rem 20rem 1px 20rem;
    height: auto !important
}

.providers-filter__dropdown::-webkit-scrollbar {
    display: none
}

.providers-filter__dropdown-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 8rem
}

.providers-filter__dropdown-item {
    box-sizing: border-box;
    color: hsla(0, 0%, 100%, .8);
    font-size: 14rem;
    font-weight: 400;
    line-height: 23rem;
    letter-spacing: normal;
    border-top: 1rem solid #4d4969
}

.providers-filter__dropdown-item:nth-child(-n+2) {
    border-top: 0
}

.no-touch .providers-filter__dropdown-item:hover {
    color: #fff;
    transition: color .2s ease-in-out
}

.providers-filter__dropdown-link {
    display: flex;
    align-items: center;
    max-width: 156rem;
    gap: 8rem;
    padding: 10rem 0
}

.providers-filter__dropdown-link-name {
    font: inherit;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.providers-filter__dropdown-link-img {
    width: 20rem;
    height: 20rem
}

.providers-filter__dropdown-no-results {
    box-sizing: border-box;
    color: #b4c8db;
    font-size: 14rem;
    font-weight: 700;
    line-height: 19rem;
    letter-spacing: -.5rem;
    margin-left: 5rem
}

.providers-filter-ic {
    left: 17rem;
    width: auto;
    height: 28rem
}

.providers-filter-arrow-ic,
.providers-filter-ic {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #74dcd2
}

.providers-filter-arrow-ic {
    right: 21rem;
    width: 15rem;
    height: 10rem
}

.providers-filter-arrow-ic.open {
    transform: rotate(180deg) translateY(50%)
}

.providers-filter__button-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 32rem;
    background-color: #242232;
    cursor: pointer
}

.providers-filter__button-bottom-arrow-ic {
    width: 15rem;
    height: 10rem;
    color: #cad5e0;
    transition: all .2s ease-in-out
}

.providers-filter__button-bottom-arrow-ic.open {
    transform: rotate(180deg)
}

@keyframes hideFilterInput {
    0% {
        display: block
    }

    99.9% {
        display: block
    }

    to {
        display: none
    }
}