.footer-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 15rem
}

@media(min-width:769px)and (max-width:1024px) {
    .footer-menu {
        margin-bottom: 35rem
    }
}

@media(min-width:1025px) {
    .footer-menu {
        margin-bottom: 35rem
    }
}

.footer-menu__item {
    margin: 0 20rem 25rem
}

@media(min-width:769px)and (max-width:1024px) {
    .footer-menu__item {
        margin: 0 40rem 50rem
    }
}

@media(min-width:1025px) {
    .footer-menu__item {
        margin: 0 20rem 25rem
    }
}

.footer-menu__item-link {
    transform: translateZ(0);
    display: block;
    font-weight: 500;
    font-size: 14rem;
    line-height: 16rem;
    color: hsla(0, 0%, 100%, .7) !important;
    letter-spacing: .5rem;
    text-align: center
}

.no-touch .footer-menu__item-link {
    transition: color .2s ease-in-out
}

.no-touch .footer-menu__item-link:hover {
    color: #74dcd2 !important
}

@media(min-width:769px)and (max-width:1024px) {
    .footer-menu__item-link {
        font-size: 16rem;
        line-height: 1;
        letter-spacing: .5rem
    }
}

@media(min-width:1025px) {
    .footer-menu__item-link {
        font-size: 16rem;
        line-height: 1;
        letter-spacing: .5rem
    }
}

.buttons-app {
    display: flex;
    justify-content: center
}

.main-footer .buttons-app {
    margin-bottom: 33rem
}

@media(min-width:769px)and (max-width:1024px) {
    .main-footer .buttons-app {
        margin-bottom: 33rem
    }
}

@media(min-width:1025px) {
    .main-footer .buttons-app {
        margin-bottom: 33rem
    }
}

.buttons-app--column {
    flex-direction: column;
}

.buttons-app__item {
    position: relative;
    min-width: 112rem;
    margin-right: 12rem;
    padding: 4rem 5rem 4rem 30rem;
    border-radius: 3rem;
    background: linear-gradient(99.35deg, #16151f 7.07%, rgba(49, 47, 66, .70012) 95.26%);
    cursor: pointer;
    transition: all .2s ease-in-out;
    display: flex;
    align-items: center;
    gap: 5px;
}

.no-touch .buttons-app__item:hover {
    background: #74dcd2
}

.buttons-app__item:last-child {
    margin-right: 0
}

@media(min-width:769px)and (max-width:1024px) {
    .buttons-app__item {
        min-width: 112rem;
        margin-right: 12rem;
        padding: 4rem 5rem 4rem 30rem;
        border-radius: 3rem
    }
}

@media(min-width:1025px) {
    .buttons-app__item {
        min-width: 100rem;
        margin-right: 10rem;
        padding: 3rem 5rem 3rem 30rem;
        border-radius: 3rem
    }
}

.buttons-app--column .buttons-app__item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0;
    padding: 11rem;
    text-align: center
}

@media(min-width:769px)and (max-width:1024px) {
    .buttons-app--column .buttons-app__item {
        padding: 16rem
    }
}

@media(min-width:1025px) {
    .buttons-app--column .buttons-app__item {
        padding: 16rem
    }
}

.buttons-app--column .buttons-app__item+.buttons-app__item {
    margin-top: 8rem
}

@media(min-width:769px)and (max-width:1024px) {
    .buttons-app--column .buttons-app__item+.buttons-app__item {
        margin-top: 10rem
    }
}

@media(min-width:1025px) {
    .buttons-app--column .buttons-app__item+.buttons-app__item {
        margin-top: 10rem
    }
}

.buttons-app__item-ic {
    position: absolute;
    top: 50%;
    left: 5rem;
    transform: translateY(-50%);
    width: 18rem;
    height: auto;
    color: #74dcd2;
    transition: all .2s ease-in-out
}

.no-touch .buttons-app__item:hover .buttons-app__item-ic {
    color: #1c1b28
}

@media(min-width:769px)and (max-width:1024px) {
    .buttons-app__item-ic {
        left: 5rem;
        width: 18rem
    }
}

@media(min-width:1025px) {
    .buttons-app__item-ic {
        left: 3rem;
        width: 16rem
    }
}

.buttons-app--column .buttons-app__item-ic {
    position: static;
    display: block;
    width: 20rem;
    margin-right: 8rem;
    transform: none
}

@media(min-width:769px)and (max-width:1024px) {
    .buttons-app--column .buttons-app__item-ic {
        width: 16rem;
        margin-right: 10rem
    }
}

@media(min-width:1025px) {
    .buttons-app--column .buttons-app__item-ic {
        width: 16rem;
        margin-right: 10rem
    }
}

.buttons-app__item-download {
    font-weight: 500;
    font-size: 9rem;
    line-height: 14rem;
    transition: all .2s ease-in-out
}

.no-touch .buttons-app__item:hover .buttons-app__item-download {
    color: #1c1b28
}

@media(min-width:769px)and (max-width:1024px) {
    .buttons-app__item-download {
        font-size: 9rem;
        line-height: 14rem
    }
}

@media(min-width:1025px) {
    .buttons-app__item-download {
        font-size: 8rem;
        line-height: 13rem
    }
}

.buttons-app--column .buttons-app__item-download {
    font-weight: 600;
    font-size: 12rem;
    line-height: 1.33
}

@media(min-width:769px)and (max-width:1024px) {
    .buttons-app--column .buttons-app__item-download {
        font-size: 14rem
    }
}

@media(min-width:1025px) {
    .buttons-app--column .buttons-app__item-download {
        font-size: 14rem
    }
}

.buttons-app__item-os {
    font-weight: 600;
    font-size: 14rem;
    line-height: 14rem;
    transition: all .2s ease-in-out
}

.no-touch .buttons-app__item:hover .buttons-app__item-os {
    color: #1c1b28
}

@media(min-width:769px)and (max-width:1024px) {
    .buttons-app__item-os {
        font-size: 14rem;
        line-height: 14rem
    }
}

@media(min-width:1025px) {
    .buttons-app__item-os {
        font-size: 13rem;
        line-height: 13rem
    }
}

.buttons-app--column .buttons-app__item-os {
    margin-left: .25em;
    font-weight: 600;
    font-size: 12rem;
    line-height: 1.33
}

@media(min-width:769px)and (max-width:1024px) {
    .buttons-app--column .buttons-app__item-os {
        font-size: 14rem
    }
}

@media(min-width:1025px) {
    .buttons-app--column .buttons-app__item-os {
        font-size: 14rem
    }
}

.social {
    margin: 35rem 0 17rem
}

@media(min-width:769px)and (max-width:1024px) {
    .social {
        margin: 35rem 0 17rem
    }
}

@media(min-width:1025px) {
    .social {
        margin: 35rem 0 17rem
    }
}

.social__list {
    text-align: center
}

.social__item {
    display: inline-block;
    margin-right: 17rem
}

.social__item:last-child {
    margin-right: 0
}

.social__title {
    line-height: 1;
    color: hsla(0, 0%, 100%, .82);
    letter-spacing: normal;
    text-align: center;
    margin-bottom: 15rem
}

@media(min-width:769px)and (max-width:1024px) {
    .social__title {
        margin-bottom: 15rem;
        font-size: 14rem
    }
}

@media(min-width:1025px) {
    .social__title {
        margin-bottom: 15rem;
        font-size: 14rem
    }
}

.social__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38rem;
    height: 38rem;
    border-radius: 50%;
    background: linear-gradient(270deg, #16151f, rgba(49, 47, 66, .7) 105.83%);
    filter: drop-shadow(0 4rem 4rem rgba(0, 0, 0, .25));
    transition: all .2s ease-in-out
}

.social__link img,
.buttons-app__item img {
    width: 20px;
}

.social__link:hover {
    background: #74dcd2
}

@media(min-width:769px)and (max-width:1024px) {
    .social__link {
        width: 38rem;
        height: 38rem;
        filter: drop-shadow(0 4rem 4rem rgba(0, 0, 0, .25))
    }
}

@media(min-width:1025px) {
    .social__link {
        width: 38rem;
        height: 38rem;
        filter: drop-shadow(0 4rem 4rem rgba(0, 0, 0, .25))
    }
}

.bonuses-privilege__list .social__link {
    background: linear-gradient(270deg, rgba(49, 47, 66, .7), rgba(22, 21, 31, .95) 105.83%);
    filter: none
}

.bonuses-privilege__list .social__link:hover {
    background: #74dcd2
}

.social__link--subscription-btn {
    font-size: 12rem;
    font-weight: 600;
    line-height: 1.33;
    color: #74dcd2
}

@media(min-width:769px)and (max-width:1024px) {
    .social__link--subscription-btn {
        font-size: 12rem
    }
}

@media(min-width:1025px) {
    .social__link--subscription-btn {
        font-size: 12rem
    }
}

.social__link--subscription-btn:hover {
    color: #282638
}

.social__ic {
    width: 21rem;
    color: #74dcd2;
    transition: all .2s ease-in-out
}

.social__link:hover .social__ic {
    color: #282638
}

@media(min-width:769px)and (max-width:1024px) {
    .social__ic {
        width: 20rem
    }
}

@media(min-width:1025px) {
    .social__ic {
        width: 20rem
    }
}

.social__ic--subscription-btn {
    width: 15rem
}

@media(min-width:769px)and (max-width:1024px) {
    .social__ic--subscription-btn {
        width: 15rem
    }
}

@media(min-width:1025px) {
    .social__ic--subscription-btn {
        width: 15rem
    }
}

.main-footer {
    position: relative;
    padding-bottom: 80rem
}

@media(min-width:1025px) {
    .main-footer {
        padding-bottom: 110rem
    }
}

.play~.main-footer {
    display: none
}

.main-footer__animate-element:not(.main-footer__license) {
    transform: translate3d(0, 30px, 0);
    opacity: 0;
    transition: all .2s ease-in-out;
    transition-property: transform, opacity
}

.main-footer__animate-element:not(.main-footer__license).animated {
    transform: translateZ(0);
    opacity: 1
}

.main-footer__provider-list {
    padding: 30rem 0 42rem;
    background-color: #242232
}

.main-footer__payment-list {
    margin-bottom: 30rem;
    padding: 28rem 0;
    background-color: #1c1b29
}

@media(min-width:769px) {
    .main-footer__payment-list {
        padding: 42rem 0
    }
}

.main-footer__license {
    display: flex;
    margin: 0 0 20rem
}

@media(max-width:768px) {
    .main-footer__license {
        flex-direction: column;
        align-items: center
    }
}

@media(min-width:769px) {
    .main-footer__license {
        margin-bottom: 40rem
    }
}

.main-footer__gaming {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 20rem
}

.no-touch .main-footer__gaming {
    transition: filter .2s ease-in-out
}

.no-touch .main-footer__gaming:hover {
    filter: brightness(120%);
    -webkit-filter: brightness(120%)
}

@media(min-width:769px) {
    .main-footer__gaming {
        margin-bottom: 40rem
    }
}

.main-footer__gaming-item {
    margin-right: 15rem
}

.main-footer__gaming-item:last-child {
    margin-right: 0
}

@media(min-width:769px) {
    .main-footer__gaming-item {
        margin-right: 20rem
    }
}

.main-footer__gaming-img {
    width: 30rem;
    height: auto
}

@media(min-width:769px) {
    .main-footer__gaming-img {
        width: 40rem
    }
}

.main-footer__license-img-wr {
    position: relative;
    flex-shrink: 0
}

@media(max-width:768px) {
    .main-footer__license-img-wr {
        margin-bottom: 25rem
    }
}

@media(min-width:769px) {
    .main-footer__license-img-wr {
        margin-right: 36rem
    }
}

.main-footer__license-img {
    position: relative;
    left: -10rem
}

.main-footer__license-img>div {
    min-width: 50rem !important
}

@media(min-width:769px)and (max-width:1024px) {
    .main-footer__license-img>div {
        min-width: 70rem !important
    }
}

@media(min-width:1025px) {
    .main-footer__license-img>div {
        min-width: 63rem !important
    }
}

.main-footer__license-img img {
    width: 150rem;
    height: 95rem;
    min-height: auto !important;
    max-height: none !important
}

.main-footer__license-img--disabled {
    pointer-events: none
}

.modal-licence {
    cursor: pointer
}

.modal-licence.modal-licence--disabled {
    cursor: default
}

.main-footer__license-text {
    font-weight: 300;
    font-size: 10rem;
    line-height: 15rem;
    letter-spacing: .5rem;
    color: hsla(0, 0%, 100%, .5)
}

.main-footer__license-text p {
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit
}

@media(min-width:769px) {
    .main-footer__license-text {
        position: relative;
        font-size: 14rem;
        line-height: 25rem
    }
}

.main-footer__text {
    margin-bottom: 26rem;
    font-weight: 300;
    font-size: 10rem;
    line-height: 1.5;
    color: hsla(0, 0%, 100%, .5);
    letter-spacing: .5rem;
    text-align: center
}

@media(min-width:769px) {
    .main-footer__text {
        margin-bottom: 32rem;
        font-size: 14rem;
        line-height: 1.56
    }
}

.main-footer__copyright {
    font-weight: 500;
    font-size: 14rem;
    line-height: 1;
    color: hsla(0, 0%, 100%, .7);
    letter-spacing: .5rem;
    text-align: center
}

@media(min-width:769px) {
    .main-footer__copyright {
        font-size: 16rem
    }
}