.CashierWidget-cashierWidget_834783 {
    width: 100%
}

.CashierWidget-hide_834783 {
    display: none
}

.VerificationBlock-container_5b664d {
    width: 100%
}

.DefaultButton-slotv-defaultButton_964a2f {
    position: static;
    display: inline;
    margin: 0;
    padding: initial;
    font: inherit;
    color: inherit;
    letter-spacing: unset;
    text-align: left;
    background-color: transparent;
    border: unset;
    border-radius: unset;
    box-shadow: unset;
    transform-origin: 50% 50%;
    overflow: hidden;
    outline: unset;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none
}

.DefaultButton-slotv-defaultButton_964a2f:hover {
    transform: unset
}

.Message-slotv-message_c489a5 {
    display: flex;
    min-height: 16px;
    padding-top: 2px;
    padding-left: 21px;
    font-size: 10px;
    line-height: normal;
    text-align: left
}

.Message-slotv-error_c489a5 {
    color: var(--color-red);
    background: url(./assets/info-error-b9b22e58.build.svg) 0 0 no-repeat
}

.Message-slotv-info_c489a5 {
    color: var(--color-light-text);
    background: url(./assets/info-info-13ad06ee.build.svg) 0 0 no-repeat
}

.MessageList-slotv-message_5108c7 {
    margin-top: 5px
}

.Section-slotv-section_1a0e93 {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%
}

.Section-slotv-sectionInner_1a0e93 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: var(--section-inner-width);
    margin: 0 auto;
    padding: 0 10px
}

@media screen and (max-width: 620px) {
    .Section-slotv-sectionInner_1a0e93 {
        justify-content: center
    }
}

.Label-slotv-label_177bf1 {
    position: relative;
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%
}

.Label-slotv-labelText_177bf1 {
    display: inline-flex;
    width: 100%;
    margin-bottom: 8px;
    padding-left: 25px;
    font-size: 12px;
    color: var(--default-text-color);
    line-height: 1.25
}

.Label-slotv-withError_177bf1 {
    color: var(--color-red)
}

.Label-slotv-disabled_177bf1 {
    color: var(--color-grey-7)
}

.Label-slotv-hidden_177bf1 {
    display: none
}

.Spinner-slotv-spinner_7ee13e {
    display: var(--spinner-display);
    align-items: center;
    justify-content: center;
    width: var(--spinner-size);
    height: var(--spinner-size);
    margin: 0 auto;
    --spinner-item-color: var(--color-grey-11);
    --spinner-item-size: 8px;
    --spinner-size: 30px;
    --spinner-display: inline-flex
}

.Spinner-slotv-spinner_7ee13e>div {
    display: inline-block;
    width: var(--spinner-item-size);
    height: var(--spinner-item-size);
    background-color: var(--spinner-item-color);
    border-radius: 100%;
    animation: Spinner-slotv-spinner_7ee13e 1.4s infinite ease-in-out both
}

.Spinner-slotv-spinner_7ee13e>div:nth-child(1) {
    animation-delay: -.32s
}

.Spinner-slotv-spinner_7ee13e>div:nth-child(2) {
    animation-delay: -.16s
}

@keyframes Spinner-slotv-spinner_7ee13e {

    0%,
    80%,
    to {
        transform: scale(0)
    }

    40% {
        transform: scale(1)
    }
}

.InputLoader-slotv-spinnerContainer_da104c {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: var(--input-height);
    background-color: var(--input-background);
    border: var(--input-border);
    border-radius: var(--input-border-radius)
}

.Overlay-slotv-overlay_0af485 {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: var(--overlay-index);
    display: none;
    background: var(--overlay-color)
}

.Overlay-slotv-withFilter_0af485 {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px)
}

.Overlay-slotv-isShow_0af485 {
    display: block
}

.Input-slotv-inputWrapper_fbe60e {
    position: relative;
    width: 100%
}

.Input-slotv-input_fbe60e {
    box-sizing: border-box;
    width: var(--input-content-width, 100%);
    height: var(--input-height);
    padding: 0 var(--input-padding-horizontal);
    font-family: inherit;
    font-size: var(--input-font-size);
    color: var(--input-color);
    background: var(--input-background);
    border: var(--input-border);
    border-radius: var(--input-border-radius);
    box-shadow: none
}

.Input-slotv-input_fbe60e::placeholder {
    color: var(--input-placeholder-color);
    opacity: 1
}

.Input-slotv-input_fbe60e:focus,
.Input-slotv-input_fbe60e .Input-slotv-focus_fbe60e {
    border-color: var(--input-border-color-focus)
}

.Input-slotv-readOnly_fbe60e {
    color: var(--input-color-readonly);
    border-color: var(--input-border-color-readonly);
    pointer-events: none
}

.Input-slotv-readOnly_fbe60e::placeholder {
    color: var(--input-placeholder-color-readonly)
}

.Input-slotv-readOnly_fbe60e:focus,
.Input-slotv-readOnly_fbe60e .Input-slotv-focus_fbe60e {
    border-color: var(--input-border-color-readonly)
}

.Input-slotv-disabled_fbe60e {
    color: var(--input-color);
    border-color: var(--input-border-color-disabled);
    opacity: 1
}

.Input-slotv-wrong_fbe60e {
    border-color: var(--input-border-color-wrong) !important
}

.Input-slotv-withIcon_fbe60e {
    padding-right: calc(var(--input-height) + 10px)
}

.Input-slotv-icon_fbe60e {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--input-height);
    height: var(--input-height);
    overflow: visible;
    fill: var(--input-fill-default)
}

.Input-slotv-iconReadOnly_fbe60e {
    fill: var(--input-fill-readonly)
}

.Input-slotv-iconDisabled_fbe60e {
    fill: var(--input-fill-disabled)
}

.Input-slotv-iconWithoutClick_fbe60e {
    pointer-events: none
}

.Input-slotv-fakeSpan_fbe60e {
    position: absolute;
    z-index: -1;
    width: auto !important;
    opacity: 0
}

.SelectList-slotv-selectList_96d5f5 {
    width: 100%;
    max-height: calc(var(--input-height) / 2 + 6px + (var(--input-height) + 1px) * var(--max-visible-item, 6) + 6px);
    padding: 6px 0;
    background: var(--select-list-background);
    overflow-y: auto
}

.SelectList-slotv-selectListItem_96d5f5 {
    padding: var(--input-padding);
    font-size: var(--input-font-size);
    color: var(--default-text-color);
    line-height: var(--input-line-height-small);
    border-bottom: var(--select-list-border);
    cursor: pointer
}

.SelectList-slotv-selectListItem_96d5f5:last-child {
    border-bottom: 0
}

.SelectList-slotv-selectListItem_96d5f5.SelectList-slotv-selected_96d5f5,
.SelectList-slotv-selectListItem_96d5f5.SelectList-slotv-highlighted_96d5f5 {
    font-weight: 700;
    background: var(--select-list-background-color-hover)
}

.SelectList-slotv-selectListItem_96d5f5.SelectList-slotv-disabled_96d5f5,
.SelectList-slotv-voidMessage_96d5f5 {
    pointer-events: none
}

@media (min-width: 621px) {
    .SelectList-slotv-selectListItem_96d5f5:hover {
        font-weight: 700;
        background: var(--select-list-background-color-hover)
    }
}

.SelectInner-slotv-inputOpen_b95792 {
    position: relative;
    z-index: 2
}

.SelectInner-slotv-selectInner_b95792 {
    position: relative;
    z-index: 3
}

.SelectInner-slotv-input_b95792 {
    color: var(--input-color);
    border-color: var(--input-border-color);
    cursor: pointer;
    pointer-events: auto;
    caret-color: transparent
}

.SelectInner-slotv-input_b95792:focus {
    border-color: var(--input-border-color-focus)
}

.SelectInner-slotv-withCursor_b95792 {
    caret-color: unset
}

.SelectInner-slotv-readOnly_b95792 {
    border-color: var(--input-border-color-readonly);
    cursor: default;
    pointer-events: none
}

.SelectInner-slotv-iconOpen_b95792 {
    z-index: 2
}

.SelectInner-slotv-iconOpen_b95792 svg {
    fill: var(--default-text-color)
}

.SelectInner-slotv-bottom_b95792 {
    top: 0;
    padding-top: var(--input-height);
    border-top: 0;
    border-radius: calc(var(--input-height) / 2) calc(var(--input-height) / 2) 0 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px
}

.SelectInner-slotv-listWrapperDefault_b95792 {
    position: absolute;
    z-index: 0;
    width: 100%;
    background: var(--select-list-background);
    border: var(--select-list-border);
    overflow: hidden
}

.SelectInner-slotv-top_b95792 {
    bottom: 0;
    padding-bottom: var(--input-height);
    border-bottom: 0;
    border-radius: 0 0 calc(var(--input-height) / 2) calc(var(--input-height) / 2);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px
}

.DefaultLink-slotv-default_ff3844 {
    color: inherit;
    text-decoration: none
}

.SelectMobile-slotv-wrapper_bfbb72 {
    position: fixed;
    top: 0;
    left: 0;
    z-index: calc(var(--window-index) + 1);
    width: 100%;
    height: 100%;
    background: var(--popup-background);
    --selectMobile-inner-height: 71px
}

.SelectMobile-slotv-withLabel_bfbb72 {
    --selectMobile-inner-height: 95px
}

.SelectMobile-slotv-inner_bfbb72 {
    padding: 15px;
    line-height: 1;
    border-bottom: var(--input-border)
}

.SelectMobile-slotv-list_bfbb72 {
    position: relative;
    max-height: 100%;
    border: 0
}

.SelectMobile-slotv-item_bfbb72 {
    padding-right: calc(var(--input-padding-horizontal) + 15px);
    padding-left: calc(var(--input-padding-horizontal) + 15px)
}

.SelectMobile-slotv-withList_bfbb72 {
    height: 100%;
    max-height: calc(100% - var(--selectMobile-inner-height));
    overflow: hidden
}

@keyframes buttonPreloader-stripes_fb70df {
    0% {
        background-position: 0 0
    }

    to {
        background-position: 340px 0
    }
}

.buttonPreloader-buttonPreloader_fb70df {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: repeating-linear-gradient(135deg, transparent, transparent 30px, rgba(255, 255, 255, .2) 30px, rgba(255, 255, 255, .2) 60px);
    background-size: 340px 100%;
    animation: buttonPreloader-stripes_fb70df 4s linear infinite
}

.SelectNative-slotv-select_318f15 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    width: 100%;
    height: 100%;
    opacity: 0
}

@keyframes PaginationBullet-slotv-bullet_d8054a {
    0% {
        stroke-dashoffset: 0
    }

    to {
        stroke-dashoffset: var(--progress-stroke-dasharray)
    }
}

.PaginationBullet-slotv-bullet_d8054a {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: var(--diameter);
    height: var(--diameter);
    margin: 0 3px;
    line-height: 0;
    background: no-repeat;
    opacity: 1;
    cursor: pointer;
    --diameter: 18px;
    --PI: 3.142;
    --progress-stroke-dasharray: calc((var(--diameter) - 2px) * var(--PI))
}

.PaginationBullet-slotv-bullet_d8054a svg {
    display: none
}

.PaginationBullet-slotv-bullet_d8054a:after {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    margin: 0;
    background: var(--pagination-color, #b3bbcc);
    border-radius: 10px
}

.PaginationBullet-slotv-active_d8054a {
    cursor: default
}

.PaginationBullet-slotv-active_d8054a svg {
    display: inline-block
}

.PaginationBullet-slotv-active_d8054a:after {
    content: none
}

.PaginationBullet-slotv-circle_d8054a {
    r: calc(var(--diameter) / 2 - 1px);
    cx: 50%;
    cy: 50%
}

.PaginationBullet-slotv-trail_d8054a {
    stroke-width: 1;
    stroke: var(--pagination-active-color, #b3bbcc)
}

.PaginationBullet-slotv-progress_d8054a {
    animation: PaginationBullet-slotv-bullet_d8054a var(--animation-duration) linear;
    stroke-width: 2;
    stroke-dasharray: var(--progress-stroke-dasharray);
    stroke: var(--pagination-active-progress-color, var(--color-red));
    animation-fill-mode: forwards
}

.Swiper-slotv-swiperWrapper_a8ba10 {
    will-change: transform
}

.Button-slotv-button_966d5b {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-height: 40px;
    padding: 5px 20px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    border: 0;
    border-radius: 40px;
    box-shadow: none;
    overflow: hidden;
    cursor: pointer
}

.Button-slotv-button_966d5b:disabled,
.Button-slotv-button_966d5b.Button-slotv-disabled_966d5b {
    pointer-events: none
}

.Button-slotv-primary_966d5b {
    color: var(--default-text-color);
    background: var(--color-red);
    fill: var(--default-text-color)
}

.Button-slotv-primary_966d5b:hover {
    color: var(--default-text-color);
    background: var(--color-red-hover)
}

.Button-slotv-primary_966d5b:focus {
    color: var(--default-text-color);
    background: var(--color-red)
}

.Button-slotv-primary_966d5b:disabled {
    color: var(--color-disabled-button);
    background: var(--background-disabled-button);
    fill: var(--color-disabled-button)
}

.Button-slotv-alert_966d5b {
    color: var(--default-text-color);
    background: var(--color-yellow);
    fill: var(--default-text-color)
}

.Button-slotv-alert_966d5b:hover {
    color: var(--default-text-color);
    background: var(--color-yellow-2)
}

.Button-slotv-alert_966d5b:focus {
    color: var(--default-text-color);
    background: var(--color-yellow)
}

.Button-slotv-alert_966d5b:disabled {
    color: var(--color-disabled-button);
    background: var(--background-disabled-button);
    fill: var(--color-disabled-button)
}

.Button-slotv-info_966d5b {
    color: var(--default-text-color);
    background: var(--color-blue);
    fill: var(--default-text-color)
}

.Button-slotv-info_966d5b:hover {
    color: var(--default-text-color);
    background: var(--color-blue-hover)
}

.Button-slotv-info_966d5b:focus {
    color: var(--default-text-color);
    background: var(--color-blue)
}

.Button-slotv-info_966d5b:disabled {
    color: var(--color-disabled-button);
    background: var(--background-disabled-button);
    fill: var(--color-disabled-button)
}

.Button-slotv-success_966d5b {
    color: var(--default-text-color);
    background: var(--color-green);
    fill: var(--default-text-color)
}

.Button-slotv-success_966d5b:hover,
.Button-slotv-success_966d5b:focus {
    color: var(--default-text-color);
    background: var(--color-green-2)
}

.Button-slotv-success_966d5b:disabled {
    color: var(--color-disabled-button);
    background: var(--background-disabled-button);
    fill: var(--color-disabled-button)
}

.Button-slotv-light_966d5b,
.Button-slotv-light_966d5b:hover {
    color: var(--default-text-color);
    background: var(--default-border-color);
    fill: var(--default-text-color)
}

.Button-slotv-light_966d5b:focus {
    color: var(--default-text-color);
    background: var(--default-border-color);
    fill: var(--default-text-color)
}

.Button-slotv-light_966d5b:disabled {
    color: var(--color-disabled-button);
    background: var(--background-disabled-button);
    fill: var(--color-disabled-button)
}

.Button-slotv-white_966d5b {
    color: var(--color-grey);
    background: var(--default-text-color);
    fill: var(--color-grey)
}

.Button-slotv-white_966d5b:hover {
    color: var(--color-grey);
    background: var(--color-grey-4)
}

.Button-slotv-white_966d5b:focus {
    color: var(--color-grey);
    background: var(--color-grey-4)
}

.Button-slotv-white_966d5b:disabled {
    color: var(--color-disabled-button);
    background: var(--background-disabled-button);
    fill: var(--color-disabled-button)
}

.Button-slotv-secondary_966d5b {
    color: var(--default-text-color);
    border: 2px solid var(--default-border-color);
    fill: var(--color-grey)
}

.Button-slotv-secondary_966d5b:hover,
.Button-slotv-secondary_966d5b:focus {
    color: var(--default-text-color);
    border-color: var(--default-text-color);
    fill: var(--color-grey-2)
}

.Button-slotv-secondary_966d5b:disabled {
    color: var(--border-dark-color);
    background: transparent;
    border-color: var(--border-dark-color)
}

.Button-slotv-secondaryDark_966d5b {
    color: var(--default-text-color);
    background: var(--default-border-color);
    fill: var(--default-text-color)
}

.Button-slotv-secondaryDark_966d5b:hover,
.Button-slotv-secondaryDark_966d5b:focus {
    background: var(--color-grey-7)
}

.Button-slotv-secondaryDark_966d5b:disabled {
    color: var(--color-disabled-button);
    background: var(--background-disabled-button);
    fill: var(--color-disabled-button)
}

.Button-slotv-secondaryLight_966d5b {
    color: var(--default-text-color);
    background: transparent;
    border: 2px solid var(--default-border-color);
    fill: var(--default-text-color)
}

.Button-slotv-secondaryLight_966d5b:hover,
.Button-slotv-secondaryLight_966d5b:focus {
    color: var(--default-text-color);
    border-color: var(--default-text-color)
}

.Button-slotv-secondaryLight_966d5b:disabled {
    background: transparent;
    opacity: .7
}

.Button-slotv-secondaryWhite_966d5b {
    color: var(--default-text-color);
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    fill: #ffffff80
}

.Button-slotv-secondaryWhite_966d5b:hover,
.Button-slotv-secondaryWhite_966d5b:focus {
    color: var(--default-text-color);
    border-color: var(--default-text-color)
}

.Button-slotv-secondaryWhite_966d5b:disabled {
    background: transparent;
    opacity: .7
}

.Button-slotv-small_966d5b {
    min-height: 30px;
    padding: 0 15px;
    font-size: 12px;
    font-weight: 700
}

.Button-slotv-medium_966d5b {
    padding: 9.5px 20px;
    font-size: 11px;
    font-weight: 700;
    text-align: center
}

.Button-slotv-big_966d5b {
    padding: 19px 20px;
    font-weight: 700
}

.Button-slotv-long_966d5b {
    min-height: 46px;
    padding: 0 35px
}

.Button-slotv-full_966d5b {
    width: 100%
}

@media screen and (max-width: 620px) {
    .Button-slotv-small_966d5b {
        font-size: 10px
    }
}

.ButtonIOSWrapper-wrapper_65ea60 {
    position: relative;
    display: inline-flex;
    transform: translateZ(0)
}

.MinimizedChatIcon-slotv-minimizedChatIcon_175ca3 {
    position: fixed;
    right: 10px;
    bottom: var(--chat-icon-bottom);
    z-index: 500;
    width: var(--chat-icon-size);
    height: var(--chat-icon-size);
    border-radius: 2px
}

.MinimizedChatIcon-slotv-minimizedChatIcon_175ca3:before {
    content: "";
    position: absolute;
    top: 4px;
    right: 4px;
    z-index: 1;
    width: 4px;
    height: 4px;
    background: var(--color-red);
    border-radius: 50%
}

.MinimizedChatIcon-slotv-minimizedChatIconSVG_175ca3 {
    width: 100%;
    height: 100%;
    min-height: 0;
    padding: 0
}

.MinimizedChatIcon-slotv-minimizedChatIconSVG_175ca3 svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: var(--color-footer-text)
}

.MinimizedChatIcon-slotv-minimizedChatIconWithPulse_175ca3:before {
    box-shadow: 0 0 #e84c3db3;
    animation: MinimizedChatIcon-slotv-pulse_175ca3 1.25s infinite cubic-bezier(.66, 0, 0, 1)
}

@keyframes MinimizedChatIcon-slotv-pulse_175ca3 {
    to {
        box-shadow: 0 0 0 10px #e84c3d00
    }
}

@media (orientation: portrait)and (max-aspect-ratio: 7/8) {
    .MinimizedChatIcon-slotv-minimizedChatIconInGameMode_175ca3 {
        --chat-icon-bottom: calc(var(--game-panel-height) + 10px)
    }
}

.SuspenseWithViewport-wrapper_2c975c {
    display: inline-block;
    width: 100%
}

.SelectWrapper-slotv-selectContainer_575dd0 {
    z-index: 3;
    width: 100%
}

.SelectWrapper-slotv-openContainer_575dd0 {
    --input-background: var(--color-dark-lighter);
    position: relative;
    z-index: 4
}

.SelectWrapper-slotv-isNativeSelect_575dd0 {
    position: relative
}

.V2ReCaptcha-slotv-v2_544a0f {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto
}

.V2ReCaptcha-slotv-v2_544a0f+.V2ReCaptcha-slotv-error_544a0f {
    text-align: center
}

.V2ReCaptcha-slotv-v2_544a0f>div {
    width: 304px
}

.V2ReCaptcha-slotv-v2_544a0f iframe {
    transform: scale(.83)
}

.V2ReCaptcha-slotv-challengeContainer_544a0f {
    left: 0 !important
}

.Checkbox-slotv-checkbox_4cd98f {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 11px;
    line-height: 1.45;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none
}

.Checkbox-slotv-tick_4cd98f {
    flex-shrink: 0;
    align-self: flex-start;
    width: 24px;
    height: 24px;
    margin: 0 10px 0 0;
    background: var(--input-background);
    border: 1px solid var(--input-border-color);
    border-radius: 4px;
    cursor: pointer
}

.Checkbox-slotv-text_4cd98f {
    -webkit-text-size-adjust: 100%
}

.Checkbox-slotv-disabledLabel_4cd98f .Checkbox-slotv-text_4cd98f {
    color: var(--color-light-text);
    cursor: default
}

.Checkbox-slotv-active_4cd98f .Checkbox-slotv-tick_4cd98f {
    background: var(--input-background) url(./assets/check-green-icon-12002767.build.svg) 50% 50% no-repeat
}

.Checkbox-slotv-wrong_4cd98f .Checkbox-slotv-tick_4cd98f {
    border-color: var(--color-red)
}

.Checkbox-slotv-readonly_4cd98f {
    cursor: default
}

.Checkbox-slotv-readonly_4cd98f .Checkbox-slotv-tick_4cd98f {
    border-color: var(--default-border-color);
    cursor: default;
    pointer-events: none
}

.Checkbox-slotv-readonly_4cd98f .Checkbox-slotv-text_4cd98f {
    cursor: default
}

.Checkbox-slotv-readonly_4cd98f.Checkbox-slotv-active_4cd98f .Checkbox-slotv-tick_4cd98f {
    background: var(--input-background) url(./assets/check-grey-icon-308f21c6.build.svg) 50% 50% no-repeat
}

.V3ReCaptcha-slotv-v3_f2fab8 {
    margin: 0 auto;
    padding: 10px;
    font-size: 11px;
    color: var(--default-text-color);
    line-height: 1.45;
    text-align: left;
    background: var(--popup-info-background-color);
    border-radius: 5px
}

.V3ReCaptcha-slotv-v3_f2fab8 a {
    color: var(--default-text-color);
    text-decoration: underline
}

.V3ReCaptcha-slotv-v3_f2fab8 a:hover {
    text-decoration: none
}

.FieldContainer-slotv-field_c9ee1f {
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%
}

.RadioButton-slotv-radioButton_151741 {
    font-size: 11px;
    color: var(--default-text-color)
}

.RadioButton-slotv-label_151741 {
    display: flex;
    align-items: center
}

.RadioButton-slotv-input_151741 {
    width: 16px;
    height: 16px;
    margin: 0 10px 0 0;
    border: 0
}

.RadioButton-slotv-input_151741:before {
    content: "";
    display: block;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    background: var(--input-background);
    border: 1px solid var(--input-border-color);
    border-radius: 50%
}

.RadioButton-slotv-isChecked_151741:before {
    background: var(--input-background) url(./assets/check-radio-green-icon-318c7c3c.build.svg) 50% 50% no-repeat
}

.CloseButton-slotv-closeButton_086cec {
    --primary: var(--color-white-text);
    --secondary: var(--color-disabled-button);
    --secondaryDark: var(--primary);
    --danger: var(--color-red);
    --info: var(--color-blue);
    --alert: var(--color-orange);
    --normal: 1px;
    --bold: 2px;
    --color: var(--secondary);
    --color-hover: var(--alert);
    --size: 15px;
    --weight: var(--normal);
    position: absolute;
    top: 10px;
    right: 10px;
    width: var(--size);
    height: var(--size)
}

.CloseButton-slotv-closeButton_086cec:before,
.CloseButton-slotv-closeButton_086cec:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 100%;
    height: var(--weight);
    background-color: var(--color)
}

.CloseButton-slotv-closeButton_086cec:before {
    transform: rotate(45deg)
}

.CloseButton-slotv-closeButton_086cec:after {
    transform: rotate(-45deg)
}

.CloseButton-slotv-closeButton_086cec:hover:before,
.CloseButton-slotv-closeButton_086cec:hover:after {
    background-color: var(--color-hover)
}

.CloseButton-slotv-alert_086cec {
    --color: var(--alert)
}

.CloseButton-slotv-hoverAlert_086cec:hover {
    --color-hover: var(--alert)
}

.CloseButton-slotv-primary_086cec {
    --color: var(--primary)
}

.CloseButton-slotv-hoverPrimary_086cec:hover {
    --color-hover: var(--primary)
}

.CloseButton-slotv-secondary_086cec {
    --color: var(--secondary)
}

.CloseButton-slotv-hoverSecondary_086cec:hover {
    --color-hover: var(--primary)
}

.CloseButton-slotv-secondaryDark_086cec {
    --color: var(--secondaryDark)
}

.CloseButton-slotv-hoverSecondaryDark_086cec:hover {
    --color-hover: var(--primary)
}

.CloseButton-slotv-danger_086cec {
    --color: var(--danger)
}

.CloseButton-slotv-hoverDanger_086cec:hover {
    --color-hover: var(--primary)
}

.CloseButton-slotv-info_086cec {
    --color: var(--info)
}

.CloseButton-slotv-hoverInfo_086cec:hover {
    --color-hover: var(--info)
}

.CloseButton-slotv-bold_086cec {
    --weight: var(--bold)
}

.CloseButton-slotv-bold_086cec:before,
.CloseButton-slotv-bold_086cec:after {
    margin-top: -1px;
    border-radius: 1px
}

.Switcher-slotv-switcher_c69c80 {
    display: flex;
    align-items: center
}

.Switcher-slotv-text_c69c80 {
    margin-left: 10px;
    font-size: 12px;
    color: var(--default-text-color)
}

.Switcher-slotv-input_c69c80 {
    width: 0;
    height: 0;
    visibility: hidden
}

.Switcher-slotv-input_c69c80:disabled+label {
    fill: var(--color-disabled-button);
    pointer-events: none
}

.Switcher-slotv-input_c69c80:checked+label:after {
    transform: translate(100%)
}

.Switcher-slotv-label_c69c80 {
    position: relative;
    display: block;
    width: 48px;
    height: 24px;
    background: transparent;
    border: solid 1px var(--border-dark-lighter-color);
    border-radius: 15px;
    cursor: pointer
}

.Switcher-slotv-label_c69c80:after {
    content: "";
    position: absolute;
    top: -1px;
    left: 0;
    width: 24px;
    height: 24px;
    background: var(--color-green);
    border-radius: 100%;
    transition: .3s
}

.spoiler-slotv-spoiler_2e10e3 {
    margin: 5px 0;
    background: var(--spoiler-text-background);
    border: 1px solid var(--default-border-color);
    border-radius: 4px
}

.spoiler-slotv-spoiler_2e10e3 .spoiler-content {
    display: none;
    margin: 10px 15px 15px
}

.spoiler-slotv-spoiler_2e10e3 .spoiler-content p {
    color: var(--default-text-color)
}

.spoiler-slotv-spoiler_2e10e3 .spoiler-title {
    position: relative;
    margin: 0;
    padding: 12px 35px 12px 10px;
    font-size: 14px;
    color: var(--default-text-color);
    line-height: normal;
    cursor: pointer
}

.spoiler-slotv-spoiler_2e10e3 .spoiler-title:before {
    content: "";
    position: absolute;
    top: 0;
    right: 20px;
    bottom: 0;
    display: block;
    width: 8px;
    height: 17px;
    margin: auto;
    background: url(./assets/arrow-grey-7-right-7a8df34b.build.svg) 0 0 no-repeat;
    transition: .3s
}

.spoiler-slotv-spoiler_2e10e3.opened .spoiler-title {
    border-bottom: 1px solid var(--default-border-color)
}

.spoiler-slotv-spoiler_2e10e3.opened .spoiler-title:before {
    transform: rotate(90deg)
}

.spoiler-slotv-spoiler_2e10e3.opened .spoiler-content {
    display: block
}

.MaskWrapper-slotv-container_6ddb91 {
    position: relative;
    display: flex !important;
    align-items: center;
    cursor: text;
    --mask-font: var(--input-font-size)/1 var(--default-ff)
}

.MaskWrapper-slotv-focus_6ddb91 {
    border-color: var(--background-jumper)
}

.MaskWrapper-slotv-withoutBorderRadius_6ddb91 {
    border-radius: 0
}

.MaskWrapper-slotv-maskDisabled_6ddb91 {
    cursor: initial
}

.MaskWrapper-slotv-maskInput_6ddb91 {
    z-index: 1 !important;
    width: var(--mask-input-width) !important;
    height: 100% !important;
    padding: 0 !important;
    font: var(--mask-font) !important;
    background: inherit !important;
    border: 0 !important;
    border-radius: 0 !important
}

.MaskWrapper-slotv-maskInput_6ddb91:focus {
    border: 0 !important
}

.MaskWrapper-slotv-maskInputWrapper_6ddb91 {
    width: auto !important
}

.MaskWrapper-slotv-fakeSpan_6ddb91 {
    position: absolute;
    z-index: 0;
    font: var(--mask-font);
    opacity: 0
}

.MaskWrapper-slotv-mask_6ddb91 {
    font: var(--mask-font);
    color: var(--input-placeholder-color)
}

.RadioButtons-slotv-radioButtons_449043 {
    margin-bottom: 10px
}

.RadioButtons-slotv-radioButtons_449043:last-child {
    margin-bottom: 0
}

.RadioButtons-slotv-buttonsContainer_449043 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px
}

.RadioButtons-slotv-button_449043 {
    min-width: 100px;
    padding: 10px 20px;
    font-weight: 400;
    white-space: nowrap;
    border-radius: 8px
}

@media (max-width: 475px) {
    .RadioButtons-slotv-button_449043 {
        width: calc(50% - 10px)
    }
}

.MaskInput-slotv-inputWrapper_008aa4 {
    height: 100%
}

.RadioSwitcher-slotv-radioSwitcher_c7a9aa {
    position: relative;
    width: 100%
}

.RadioSwitcher-slotv-radioSwitcherTitle_c7a9aa {
    position: relative
}

.RadioSwitcher-slotv-radioSwitcherContainer_c7a9aa {
    display: flex;
    justify-content: center;
    width: 100%
}

.RadioSwitcher-slotv-radioButtonContainer_c7a9aa {
    position: relative;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    height: var(--input-height);
    font-size: 12px;
    color: var(--input-color);
    border: solid 1px var(--radioSwitcher-border-color);
    border-right-color: transparent;
    overflow: hidden;
    cursor: pointer;
    --radioSwitcher-color: var(--input-border-color);
    --radioSwitcher-border-color: var(--input-border-color)
}

.RadioSwitcher-slotv-radioButtonInput_c7a9aa {
    display: none
}

.RadioSwitcher-slotv-radioButtonLabel_c7a9aa {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    cursor: pointer
}

.RadioSwitcher-slotv-isFirst_c7a9aa {
    border-radius: var(--input-height) 0 0 var(--input-height)
}

.RadioSwitcher-slotv-isPreviousSelected_c7a9aa {
    border-left-color: transparent
}

.RadioSwitcher-slotv-isNextSelected_c7a9aa {
    border-right-color: transparent
}

.RadioSwitcher-slotv-isLast_c7a9aa {
    border-radius: 0 var(--input-height) var(--input-height) 0;
    border-right-color: var(--radioSwitcher-border-color)
}

.RadioSwitcher-slotv-isChecked_c7a9aa {
    position: relative;
    color: #fff;
    background: var(--radioSwitcher-color);
    border-color: var(--radioSwitcher-color)
}

.RadioSwitcher-slotv-isDisabled_c7a9aa {
    pointer-events: none
}

.RadioSwitcher-slotv-readonly_c7a9aa {
    position: relative
}

.RadioSwitcher-slotv-errors_c7a9aa {
    --radioSwitcher-border-color: var(--input-border-color-wrong)
}

.ButtonFlatIcon-slotv-buttonFlatIcon_18e8ac {
    display: flex;
    align-items: center;
    justify-content: center
}

.ButtonFlatIcon-slotv-filled_18e8ac {
    background-color: var(--default-border-color);
    border-radius: 20px;
    fill: var(--default-text-color)
}

.ButtonFlatIcon-slotv-outlined_18e8ac {
    background-color: transparent;
    border: 2px solid var(--default-border-color);
    border-radius: 20px;
    fill: var(--color-white-text)
}

.ButtonFlatIcon-slotv-outlined_18e8ac:hover {
    border-color: var(--color-white-text);
    fill: var(--color-white-text)
}

.ButtonFlatIcon-slotv-outlinedLight_18e8ac {
    background-color: transparent;
    border: 2px solid var(--color-white-text);
    border-radius: 20px;
    fill: var(--color-white-text)
}

.ButtonFlatIcon-slotv-outlinedLight_18e8ac:hover {
    border: 2px solid var(--default-border-color);
    fill: var(--color-white-text)
}

.ButtonFlatIcon-slotv-cleared_18e8ac {
    background-color: transparent;
    border-radius: 0
}

.ButtonFlatIcon-slotv-cleared_18e8ac:hover {
    fill: var(--color-red)
}

.ButtonFlatIcon-slotv-small_18e8ac {
    width: 21px;
    min-width: 21px;
    height: 21px;
    min-height: 21px
}

.ButtonFlatIcon-slotv-medium_18e8ac {
    width: 30px;
    min-width: 30px;
    height: 30px;
    min-height: 30px
}

.ButtonFlatIcon-slotv-big_18e8ac {
    width: 40px;
    min-width: 40px;
    height: 40px;
    min-height: 40px
}

.Wheel-slotv-wheel_f1dcf0 {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 3px;
    background: url(./assets/wheel-bg-1b497563.build.png) no-repeat center;
    background-size: cover;
    border-radius: 50%
}

.Wheel-slotv-wheel_f1dcf0:before {
    content: "";
    position: absolute;
    top: -1px;
    left: 50%;
    z-index: 1;
    width: 21px;
    height: 19px;
    background: url(./assets/wheel-pointer-b3e1ccdf.build.svg) no-repeat top;
    background-size: cover;
    transform: translate(-50%)
}

.Wheel-slotv-wheel_f1dcf0:after {
    content: "";
    position: absolute;
    top: calc(50% - 5px);
    left: calc(50% - 5px);
    z-index: 1;
    width: 10px;
    height: 10px;
    background: url(./assets/wheel-center-48f73dbe.build.png) 50% no-repeat;
    background-size: cover;
    border-radius: 50%
}

.Wheel-slotv-zone_f1dcf0 {
    width: 100%;
    height: 100%;
    background: url(./assets/wheel-zone-801ea153.build.png) 50% no-repeat;
    background-size: cover;
    border-radius: 50%
}

.Wheel-slotv-animation_f1dcf0 {
    animation: Wheel-slotv-spin_f1dcf0 34s infinite;
    animation-timing-function: cubic-bezier(.4, .25, .4, .75)
}

@keyframes Wheel-slotv-spin_f1dcf0 {
    0% {
        transform: rotate(0)
    }

    11% {
        transform: rotate(1080deg)
    }

    to {
        transform: rotate(1080deg)
    }
}

@media screen and (max-width: 620px) {
    .NotificationButton-slotv-buttonNotification_4689c6 {
        min-height: 30px
    }
}

.BackInNotification-slotv-notificationWrapper_d7d256 {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: var(--window-index);
    transform: translate(calc(100% + 50px));
    will-change: transform;
    --consent-mode-height-var: 0px
}

.BackInNotification-slotv-notificationWrapperReady_d7d256.BackInNotification-slotv-top_d7d256 {
    top: 0;
    bottom: auto;
    transform: translate(0) translateY(calc(var(--header-offset) + 20px))
}

.BackInNotification-slotv-notificationWrapperReady_d7d256.BackInNotification-slotv-bottom_d7d256 {
    transform: translate(0) translateY(calc(-1 * (var(--navigation-panel-height) + var(--consent-mode-height-var, 0px))))
}

.BackInNotification-slotv-notification_d7d256 {
    display: flex;
    align-items: center;
    background: var(--popup-background);
    border-radius: 8px;
    box-shadow: 0 0 5px #0000000a;
    overflow: hidden
}

.BackInNotification-slotv-notificationInner_d7d256 {
    display: flex;
    width: 100%;
    min-height: 74px
}

.BackInNotification-slotv-notificationContent_d7d256 {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    max-width: 400px;
    padding: 15px 30px
}

.BackInNotification-slotv-notificationLine_d7d256 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around
}

.BackInNotification-slotv-notificationTitle_d7d256 {
    width: 100%;
    margin-bottom: 10px;
    font-size: 13px;
    font-weight: 700;
    color: var(--default-text-color);
    line-height: 1.4;
    text-align: left;
    text-transform: uppercase
}

.BackInNotification-slotv-notificationTitle_d7d256 span {
    font-weight: 700;
    color: var(--color-red)
}

.BackInNotification-slotv-notificationText_d7d256 {
    width: 100%;
    font-size: 12px;
    color: var(--default-text-color);
    line-height: 1.4
}

.BackInNotification-slotv-notificationText_d7d256 span {
    font-weight: 700;
    color: var(--color-red)
}

.BackInNotification-slotv-notificationText_d7d256 a {
    color: var(--color-red)
}

.BackInNotification-slotv-notificationRightSide_d7d256 {
    flex-shrink: 0;
    line-height: 0
}

.BackInNotification-slotv-notificationActions_d7d256 {
    flex-shrink: 0;
    max-width: 100%;
    margin-top: 20px
}

@media (max-width: 1280px) {
    .BackInNotification-slotv-notificationWrapper_d7d256 {
        right: 5px
    }
}

@media (max-width: 620px) {
    .BackInNotification-slotv-notificationWrapperReady_d7d256.BackInNotification-slotv-top_d7d256 {
        top: auto;
        bottom: 0;
        transform: translate(0) translateY(calc(-1 * (var(--navigation-panel-height) + var(--consent-mode-height-var, 0px))))
    }

    .BackInNotification-slotv-notificationWrapperReady_d7d256.BackInNotification-slotv-bottom_d7d256 {
        width: calc(100% - (var(--navigation-panel-offests) * 2));
        max-width: var(--navigation-panel-max-width)
    }

    .BackInNotification-slotv-notification_d7d256 {
        width: 100%;
        border-radius: 8px
    }

    .BackInNotification-slotv-notificationInner_d7d256 {
        justify-content: flex-start
    }

    .BackInNotification-slotv-notificationContent_d7d256 {
        width: 100%;
        padding: 20px 32px 20px 13px
    }

    .BackInNotification-slotv-notificationLine_d7d256 {
        flex-direction: column;
        text-align: left
    }

    .BackInNotification-slotv-notificationTitle_d7d256 {
        text-align: left
    }

    .BackInNotification-slotv-notificationRightSide_d7d256 {
        display: none
    }

    .BackInNotification-slotv-closeBtn_d7d256:before,
    .BackInNotification-slotv-closeBtn_d7d256:after {
        background-color: var(--color-blue)
    }
}

.Packer-days_30fa66,
.Packer-hours_30fa66,
.Packer-minutes_30fa66,
.Packer-seconds_30fa66 {
    white-space: nowrap
}

.Banner-slotv-banner_091475 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2px;
    width: 100%;
    min-height: var(--fortune-wheel-banner-height);
    padding: 10px 12px;
    color: var(--default-text-color);
    background-image: linear-gradient(108deg, #7035d0 2%, #af2e4d 56%, #8c2195 97%);
    border-radius: 10px;
    overflow: hidden
}

.Banner-slotv-banner_091475:before {
    content: "";
    position: absolute;
    top: 0;
    right: 20px;
    width: 112px;
    height: 57px;
    background: #ffb800 url(./assets/shadow-2ed1f967.build.png) no-repeat center;
    transform: rotate(-330deg);
    object-fit: contain;
    filter: blur(29px)
}

.Banner-slotv-title_091475 {
    margin: 0;
    font-size: 14px;
    font-weight: 700;
    line-height: 1
}

.Banner-slotv-text_091475 {
    font-size: 11px;
    font-style: italic;
    line-height: normal
}

.Banner-slotv-wheelContainer_091475 {
    position: absolute;
    right: 43px;
    bottom: -24px;
    width: 68px;
    height: 68px
}

.Banner-slotv-wheel_091475 {
    padding: 7px
}

.Banner-slotv-wheel_091475:before {
    width: 44px;
    height: 34px
}

.Banner-slotv-wheel_091475:after {
    top: calc(50% - 10px);
    left: calc(50% - 10px);
    width: 20px;
    height: 20px
}

.Banner-slotv-circleModifiers_091475 {
    background: url(./assets/wheel-zone-2-e16a1af0.build.png) no-repeat center;
    background-size: cover
}

.Banner-slotv-buttonWrapper_091475 {
    position: absolute;
    top: 50%;
    right: 10px;
    width: 24px;
    height: 24px;
    margin-left: 27%;
    transform: translateY(-50%)
}

.Banner-slotv-button_091475 {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    border-radius: 24px;
    border-color: var(--default-text-color)
}

.Banner-slotv-button_091475 svg {
    fill: var(--default-text-color)
}

.Banner-slotv-greenCoin_091475 {
    position: absolute;
    right: 103px;
    bottom: -12px;
    width: 23px;
    height: 25px;
    opacity: 0
}

.Banner-slotv-greenCoinAnimation_091475 {
    animation: Banner-slotv-appear-green_091475 1.4s 1
}

@keyframes Banner-slotv-appear-green_091475 {
    0% {
        opacity: 0;
        transform: translate(30px, -10px)
    }

    30% {
        opacity: 1;
        transform: translate(0)
    }

    70% {
        opacity: 1;
        transform: translate(0)
    }

    to {
        opacity: 0;
        transform: translate(-15px, 15px)
    }
}

.Banner-slotv-goldenCoin_091475 {
    position: absolute;
    right: 30px;
    bottom: -12px;
    width: 28px;
    height: 30px;
    opacity: 0
}

.Banner-slotv-goldenCoinAnimation_091475 {
    animation: Banner-slotv-appear-golden_091475 1.4s 1
}

.Banner-slotv-timerContainer_091475 {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    gap: calc(4px - .16em);
    margin-top: 2px;
    font-size: 11px;
    font-style: italic;
    font-weight: 400;
    line-height: normal
}

.Banner-slotv-timerContainer_091475 span {
    padding-right: .08em
}

.Banner-slotv-bullet_091475 {
    --diameter: 16px;
    --pagination-active-progress-color: var(--color-white-text)
}

@keyframes Banner-slotv-appear-golden_091475 {
    0% {
        opacity: 0;
        transform: translate(-20px, -5px)
    }

    30% {
        opacity: 1;
        transform: translate(0)
    }

    70% {
        opacity: 1;
        transform: translate(0)
    }

    to {
        opacity: 0;
        transform: translate(20px, 20px)
    }
}

.Banner-slotv-blueCoin_091475 {
    position: absolute;
    top: -8px;
    right: 82px;
    width: 34px;
    height: 34px;
    opacity: 0
}

.Banner-slotv-blueCoinAnimation_091475 {
    animation: Banner-slotv-appear-blue_091475 1.4s 1
}

@keyframes Banner-slotv-appear-blue_091475 {
    0% {
        opacity: 0;
        transform: translate(20px, 35px)
    }

    30% {
        opacity: 1;
        transform: translate(0)
    }

    70% {
        opacity: 1;
        transform: translate(0)
    }

    to {
        opacity: 0;
        transform: translate(-20px, -35px)
    }
}

.Banner-slotv-purpleCoin_091475 {
    position: absolute;
    top: -5px;
    right: 30px;
    width: 31px;
    height: 28px;
    opacity: 0
}

.Banner-slotv-purpleCoinAnimation_091475 {
    animation: Banner-slotv-appear-purple_091475 1.4s 1
}

@keyframes Banner-slotv-appear-purple_091475 {
    0% {
        opacity: 0;
        transform: translate(-20px, 30px)
    }

    30% {
        opacity: 1;
        transform: translate(0)
    }

    70% {
        opacity: 1;
        transform: translate(0)
    }

    to {
        opacity: 0;
        transform: translate(20px, -30px)
    }
}

.FortuneWheelBannerSkeleton-slotv-banner_000240 {
    min-height: var(--fortune-wheel-banner-height);
    margin-bottom: 10px;
    padding: 10px 12px;
    background: var(--skeleton-color0);
    border-radius: 10px;
    overflow: hidden
}

.FortuneWheelBannerSkeleton-slotv-bannerBig_000240 {
    min-height: var(--fortune-wheel-big-banner-height)
}

.FortuneWheelBannerSkeleton-slotv-title_000240 {
    width: 100px;
    margin-bottom: 2px
}

.FortuneWheelBannerSkeleton-slotv-text_000240 {
    width: 70px
}

.FortuneWheelBannerSkeleton-slotv-title_000240,
.FortuneWheelBannerSkeleton-slotv-text_000240 {
    height: 16px;
    background-color: var(--skeleton-color2)
}

.ExternalSvg-boxSizeContainer_895d47 {
    position: relative;
    display: inline-flex;
    flex-shrink: 0;
    line-height: 0
}

.ExternalSvg-boxSizeContainer_895d47 svg {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    margin: auto;
    transform: translate(-50%, -50%)
}

.ExternalSvg-clickable_895d47 {
    cursor: pointer
}

.WheelItemSkeleton-slotv-wheelItem_f66a25 {
    width: 31px;
    height: 31px;
    background: var(--skeleton-color2);
    border-radius: 100%
}

.WheelItemSkeleton-slotv-wheelItemBig_f66a25 {
    width: 34px;
    height: 34px
}

.WheelContainerSkeleton-slotv-container_67db62 {
    display: flex;
    align-items: center;
    min-width: 95px;
    height: 40px;
    margin-right: 0;
    padding: 5px;
    background: var(--skeleton-color1);
    border-radius: 84px
}

.WheelContainerSkeleton-slotv-containerBig_67db62 {
    min-width: 110px;
    min-height: 56px;
    margin-right: -68px;
    padding: 5px
}

.Field-slotv-field_f7f45d {
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%
}

.InputIconText-slotv-icon_2387c7 {
    position: absolute;
    top: 50%;
    right: 24px;
    font-size: 14px;
    transform: translateY(-50%)
}

.TextArea-slotv-textArea_35684a {
    width: 100%;
    min-height: 80px;
    margin-bottom: 10px;
    padding: 12px 24px;
    font-family: inherit;
    font-size: 12px;
    color: var(--input-color);
    background-color: var(--input-background);
    border: 1px solid var(--input-border-color);
    border-radius: 20px;
    resize: none
}

.TextArea-slotv-textArea_35684a::placeholder {
    color: var(--input-placeholder-color)
}