@font-face {
    font-family: Gilroy;
    src: url("../fonts/Gilroy-Black.eot");
    src: url("../fonts/Gilroy-Black.ttf");
    src: url("../fonts/Gilroy-Black.woff");
    font-weight: 900;
}

@font-face {
    font-family: Gilroy;
    src: url("../fonts/Gilroy-Bold.eot");
    src: url("../fonts/Gilroy-Bold.ttf");
    src: url("../fonts/Gilroy-Bold.woff");
    font-weight: 700;
}

@font-face {
    font-family: Gilroy;
    src: url("../fonts/Gilroy-Medium.eot");
    src: url("../fonts/Gilroy-Medium.ttf");
    src: url("../fonts/Gilroy-Medium.woff");
    font-weight: 500;
}