body.lock {
    overflow: hidden;
}

@media (max-width:992px) {

    .sidebar {
        position: fixed!important;
        left: -100%!important;
        transition: .3s!important;
    }
    
    .sidebar-wrapper.active .sidebar {
        left: 0!important;
    }

    .header-nav {
        display: none;
    }

    .providers-btn {
        display: none;
    }
}

.bottom-menu {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: none;
    background: #1B2B38;
    border-top: 1px solid #14222E;
    color: #FFF;
    z-index: 13;
}

@media (max-width: 992px) {
    .bottom-menu {
        display: flex;
    }
}

.bottom-menu__item {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: inherit;
    height: 64px;
    text-decoration: none;
    font-size: 12px;
    background-color: transparent;
    border: 0;
}