// &display=swap

@mixin adaptive-width($columns, $gap) {
    width: calc(100% / #{$columns} - (#{$columns} - 1) * #{$gap + px} / #{$columns});
}

@mixin adaptive-value($property, $maxValue, $minValue, $minWidth: 390, $maxWidth: $container + $safety*2) {
    $widthDiff: $maxWidth - $minWidth;
    $valueDiff: $maxValue - $minValue;
    $step: $valueDiff / $widthDiff;

    #{$property}: #{$maxValue+px};

    @media (max-width:#{$maxWidth+px}) {
        #{$property}: calc(#{$maxValue+px} - (#{$step * $maxWidth+px} - #{$step * 100 + vw}));
    }

    @media (max-width:#{$minWidth+px}) {
        #{$property}: #{$minValue+px};
    }
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
    transition: .3s;
}

ul,
ol,
li {
    list-style: none;
}

:root {
    --mainBackgroundColor: #191B22;
    --secondaryBackgroundColor: #000000;
    --headerBackgroundColor: #0E0E0E;
    --mainColor: #FE9000;
    --textColor: #FFFFFF;
}

$mainBackgroundColor: var(--mainBackgroundColor);
$secondaryBackgroundColor: var(--secondaryBackgroundColor);
$headerBackgroundColor: var(--headerBackgroundColor);
$mainColor: var(--mainColor);
$textColor: var(--textColor);

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 400;
    line-height: 1;

    &.lock {
        overflow: hidden;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    min-height: 100vh;
    background-color: $mainBackgroundColor;
    color: $textColor;

    // @media (max-width:768px) {
    //     background-color: #0E0E0E;
    // }

    &.secondary-bg-color {
        background-color: $secondaryBackgroundColor;

        // @media (max-width:768px) {
        //     background-color: #0E0E0E;
        // }
    }
}

// without px
$container: 1320;
$safety: 20;

.container {
    width: 100%;
    max-width: #{$container+2*$safety}px;
    padding: 0 #{$safety+px};
    margin: 0 auto;
}

.ibg {
    position: relative;

    >img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
    }
}

input,
button,
textarea {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    border: 0;
    outline: 0;
}

textarea {
    resize: none;
}

input::placeholder,
textarea::placeholder {
    color: inherit;
}

button {
    cursor: pointer;
    background-color: transparent;
    transition: .3s;
}

.video {
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;

    iframe {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
}

@import 'popup';

.dropdown {
    width: 100%;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #0e0e0e;
    border-top: 1px solid #242424;
    border-bottom: 1px solid #242424;
    z-index: 1;

    @media (min-width:768px) {

        &::before,
        &::after {
            content: '';
            background-color: inherit;
            position: absolute;
            top: -1px;
            width: 100vw;
            height: calc(100% + 2px);
            z-index: 1;
            border-top: 1px solid #242424;
            border-bottom: 1px solid #242424;
            z-index: 1000;
        }

        &::before {
            right: 100%;
        }

        &::after {
            left: 100%;
        }
    }

    @media (max-width:768px) {
        position: static;
        border-radius: 0 0 8px 8px;
        background-color: #1E1E1E;
    }

    &.small {
        border-right: 1px solid #242424;
        border-left: 1px solid #242424;
        left: unset;

        &::before,
        &::after {
            display: none;
        }

        .dropdown__inner {
            padding: 20px;
        }

        @media (min-width:768px) {
            min-width: 300px;
        }
    }

    &__inner {
        display: flex;
        flex-wrap: wrap;
        column-gap: 40px;
        row-gap: 30px;
        max-height: 350px;
        overflow: auto;
        padding: 40px 0;

        &::-webkit-scrollbar {
            display: none;
        }

        @media (max-width:768px) {
            padding: 20px;
        }
    }

    &__column {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        @include adaptive-width(4, 40);

        @media (max-width:1240px) {
            @include adaptive-width(3, 40);
        }

        @media (max-width:992px) {
            @include adaptive-width(2, 40);
        }

        @media (max-width:660px) {
            width: 100%;
        }

        &_service {
            @include adaptive-width(3, 40);

            @media (max-width:800px) {
                @include adaptive-width(2, 40);
            }

            @media (max-width:576px) {
                width: 100%;
            }
        }

        &.big {
            width: 100%;
        }
    }

    &__label {
        font-weight: 700;
        @include adaptive-value('font-size', 24, 20);
        color: $mainColor;
    }

    &__items {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        gap: 4px;
    }

    &__item {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px 0;
        gap: 20px;

        @media (any-hover:hover) {
            &:hover {
                opacity: 0.7;
            }
        }
    }
}

.title {
    font-weight: 400;
    font-size: 24px;
}

.cards {
    display: flex;
    column-gap: 20px;
    row-gap: 30px;
    flex-wrap: wrap;
    width: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    @include adaptive-width(4, 20);

    @media (max-width:1200px) {
        @include adaptive-width(3, 20);
    }

    @media (max-width:860px) {
        @include adaptive-width(2, 20);
    }

    @media (max-width:576px) {
        width: 100%;
    }

    &__image-inner {
        position: relative;
    }

    &__image {
        display: block;
        width: 100%;
        padding-bottom: 131.112%;
    }

    &__video-btn {
        position: absolute;
        width: 40px;
        height: 40px;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        right: 0;

        @media (any-hover:hover) {
            &:hover {
                opacity: 0.7;
            }
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    &__row {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;

        @media (any-hover:hover) {
            &.tel:hover {
                opacity: 0.7;
            }
        }

        &.big {
            width: 100%;
            justify-content: space-between;
        }
    }

    @media (any-hover:hover) {
        &__name:hover {
            opacity: 0.7;
        }
    }

    &__age {
        opacity: 0.5;
    }

    &__options {
        display: flex;
        align-items: center;
        gap: 20px;

        @media (max-width:860px) {
            gap: 16px;
        }
    }

    &__option {
        display: flex;

        @media (any-hover:hover) {
            &:hover {
                opacity: 0.7;
            }
        }

        &.active {

            g {
                opacity: 1;
            }

            &.like path {
                fill: #FF0090;
            }

            &.fav path {
                fill: #F7F21A;
            }
        }
    }
}

.pagination {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    @include adaptive-value('gap', 10, 4);

    &__item {
        border-radius: 4px;
        background-color: #151515;
        font-weight: 700;
        @include adaptive-value('min-height', 48, 32);
        @include adaptive-value('min-width', 48, 32);
        border: 1px solid #151515;

        @media (any-hover:hover) {
            &:hover {
                border: 1px solid $mainColor;
            }
        }

        &.active {
            border: 1px solid $mainColor;
        }

        &.btn {
            background-color: $mainColor;
            color: #000;
            @include adaptive-value('padding-right', 32, 15);
            @include adaptive-value('padding-left', 32, 15);
            border: 1px solid $mainColor;

            @media (max-width:375px) {
                padding: 0;
            }

            @media (any-hover:hover) {
                &:hover {
                    opacity: 0.7;
                }
            }

            &.disabled {
                background-color: #151515;
                border: 1px solid #151515;
                color: var(--textColor);
                opacity: 0.5;
                pointer-events: none;

                path {
                    fill: #fff;
                }
            }
        }
    }

    &__btn-text {
        @media (max-width:375px) {
            display: none;
        }
    }

    &__arrow {
        display: none;
        margin: auto;

        @media (max-width:375px) {
            display: block;
        }
    }
}

.slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;

    li {
        width: 12px;
        height: 12px;
        flex-shrink: 0;
        background-color: rgba($color: #fff, $alpha: 0.2);
        border-radius: 50%;
    }

    .slick-active {
        background-color: $mainColor;
    }

    button {
        display: none;
    }
}

.up-btn {
    width: 48px;
    height: 48px;
    flex-shrink: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border-radius: 10px;
    border: 1px solid $mainColor;

    @media (any-hover:hover) {
        &:hover {
            opacity: 0.7;
        }
    }

    &__text {
        font-weight: 700;
        font-size: 8px;
    }
}

// ======================================== header ========================================
.header {
    background-color: $headerBackgroundColor;
    border-bottom: 1px solid #151515;

    &__container {
        display: flex;
        flex-direction: column;
    }

    &__top {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #151515;
        overflow: auto;

        @media (max-width:768px) {
            order: 2;
            border-bottom: 0;
            border-top: 1px solid #151515;
            width: calc(100% + #{2*$safety}px);
            transform: translateX(-#{$safety}px);
            padding: 0 20px;
        }
    }

    &__link {
        font-weight: 700;
        @include adaptive-value('font-size', 14, 11);
        text-transform: uppercase;
        padding: 12px 30px;
        opacity: 0.6;
        border-right: 1px solid #151515;
        flex-shrink: 0;

        @media (max-width:992px) {
            padding: 12px 24px;

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;
            }
        }

        @media (max-width:768px) {
            padding: 12px 16px;
        }

        @media (max-width:576px) {
            padding: 12px 10px;
        }

        &:last-child {
            border: 0;
        }

        @media (any-hover:hover) {
            &:hover {
                opacity: 1;
            }
        }
    }

    &__middle {
        padding: 10px 0 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;


        @media (max-width:768px) {
            order: 1;
            padding: 10px 0;
        }
    }

    &__logo {
        display: flex;
        width: 100%;
        max-width: 200px;

        @media (max-width:992px) {
            max-width: 150px;
        }

        @media (max-width:768px) {
            max-width: 100px;
        }

        img {
            width: 100%;
        }
    }

    &__input-inner {
        width: 100%;
        max-width: 760px;
        position: relative;

        @media (max-width:768px) {
            display: none;
        }

        &.hidden {
            display: none;

            @media (max-width:768px) {
                display: block;
            }
        }
    }

    &__search-btn {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 44px;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        @media (max-width:768px) {
            width: 50px;
        }

        @media (any-hover:hover) {
            &:hover {
                opacity: 0.7;
            }
        }
    }

    &__input {
        min-height: 44px;
        background-color: #252525;
        width: 100%;
        padding-left: 12px;
        padding-right: 44px;

        @media (max-width:768px) {
            min-height: 50px;
            padding-left: 10px;
            padding-right: 50px;
        }

        &::placeholder {
            font-style: italic;
        }
    }

    &__btn {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 10px;
        font-weight: 700;

        @media (max-width:768px) {
            width: 100%;
            padding: 13px 10px;
        }

        @media (any-hover:hover) {
            &:hover {
                opacity: 0.7;
            }
        }
    }

    &__btn-arrow {
        @media (max-width:768px) {
            margin-left: auto;
        }
    }

    &__btn-icon {
        display: none;

        @media (max-width:768px) {
            display: block;
        }
    }

    &__bottom {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        border-top: 1px solid #000;
        position: relative;
        z-index: 1;

        @media (max-width:768px) {
            flex: unset;
            position: fixed;
            top: 50px;
            left: -100%;
            width: 100%;
            height: calc(100% - 50px);
            transition: left .3s;
            overflow: auto;
            padding: 20px;
            background-color: #151515;
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: flex-start;
            gap: 10px;

            &.active {
                left: 0;
            }
        }
    }
}

.filter {
    display: flex;
    flex-direction: column;

    @media (max-width:768px) {
        width: 100%;
    }

    &.parent {
        position: relative;
    }

    &.active {
        .dropdown {
            display: block;
        }

        .header__btn-arrow {
            transform: rotate(-180deg);
        }

        @media (max-width:768px) {
            .filter__btn {
                border-radius: 8px 8px 0 0;
                border-bottom: 1px solid #333;
            }
        }
    }

    &__btn {
        width: 100%;
        transition: opacity .3s;

        @media (max-width:768px) {
            padding: 13px 10px;
        }
    }
}

.filter__btn,
.header__input,
.header__btn {
    @media (max-width:768px) {
        border-radius: 8px;
        background-color: #1E1E1E;
    }
}

.burger-btn {
    flex: 0 0 24px;
    height: 12px;
    position: relative;
    display: none;

    @media (max-width:768px) {
        display: flex;
    }

    &::before,
    &::after {
        content: '';
    }

    &::before,
    &::after,
    span {
        position: absolute;
        width: 100%;
        background-color: $mainColor;
        height: 2px;
        transition: .3s;
        border-radius: 1px;
    }

    &::before {
        left: 0;
        top: 0;
    }

    &::after {
        left: 0;
        bottom: 0;
    }

    span {
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    &.active::before {
        transform: rotate(-45deg) translateY(-50%);
        top: 50%;
    }

    &.active::after {
        transform: rotate(45deg) translateY(50%);
        bottom: 50%;
    }

    &.active span {
        opacity: 0;
    }
}

// ======================================== footer ========================================
.footer {
    @include adaptive-value('padding-bottom', 50, 30);

    &__inner {
        display: flex;
        align-items: center;
        flex-direction: column;
        @include adaptive-value('gap', 40, 20);
    }

    &__bottom {
        display: flex;
        align-items: center;
        @include adaptive-value('gap', 50, 20);

        @media (max-width:768px) {
            flex-direction: column;
        }
    }

    &__logo {
        display: flex;
    }

    &__link {
        display: flex;
        align-items: center;
        gap: 10px;

        @media (any-hover:hover) {
            &:hover {
                opacity: 0.7;
            }
        }
    }

    &__btn {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 10px;
        font-weight: 700;
    }

    &__copy {
        opacity: 0.5;
    }
}

// ======================================== главная ========================================

.main {
    flex-grow: 1;
    @include adaptive-value('padding-bottom', 40, 30);
    @include adaptive-value('padding-top', 30, 10);

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__title {
        margin-top: 30px;
    }

    &__breadcrumbs,
    &__telegram {
        @include adaptive-value('margin-top', 30, 20);
    }

    &__cards {
        margin-top: 30px;
    }

    &__pagination {
        margin-top: 50px;
    }

    &__text-block {
        margin-top: 40px;
    }

    &__up-btn {
        @include adaptive-value('margin-top', 40, 30);
    }
}

.breadcrumbs {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 12px;

    &__link {
        @media (any-hover:hover) {
            &:hover {
                opacity: 0.7;
            }
        }
    }

    &__text {
        opacity: 0.5;
    }
}


.telegram {
    @include adaptive-value('padding-top', 20, 10);
    @include adaptive-value('padding-right', 40, 10);
    @include adaptive-value('padding-left', 40, 10);
    padding-bottom: 20px;
    border: 1px solid #232323;
    margin-left: auto;
    margin-right: auto;
    @include adaptive-value('font-size', 20, 14);
    line-height: 1.15;

    @media (max-width:768px) {
        background-color: #151515;
    }

    &__link {
        color: var(--mainColor);

        @media (any-hover:hover) {
            &:hover {
                opacity: 0.7;
            }
        }
    }
}

.filters {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;

    @media (max-width:768px) {
        flex-wrap: nowrap;
        overflow: auto;
        width: calc(100% + #{2*$safety}px);
        transform: translateX(-#{$safety}px);
        padding: 0 20px;
    }

    &__link {
        padding: 14px 20px;
        background-color: #151515;
        border: 1px solid #212121;
        border-radius: 23px;

        @media (max-width:992px) {
            padding: 13px 18px;
        }

        @media (max-width:768px) {
            padding: 11px 16px;
            font-size: 15px;
        }

        @media (max-width:576px) {
            padding: 9px 14px;
            font-size: 14px;
        }

        @media (any-hover:hover) {
            &:hover {
                opacity: 0.7;
            }
        }
    }
}

.text-block {
    display: flex;
    flex-direction: column;
    @include adaptive-value('gap', 30, 10);

    &__title {
        font-weight: 700;
    }

    &__text {
        line-height: 1.125;
    }
}

// ======================================== city-popup ========================================
.city-popup {

    &__container {
        max-width: 1200px;
    }

    &__inner {
        background-color: #0E0E0E;
        border: 1px solid #212121;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        max-height: 75vh;
        min-height: 340px;
        overflow: hidden;

        @media (max-width:768px) {
            padding: 10px;
        }
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
        width: 100%;
        border-bottom: 1px solid #333;

        @media (max-width:768px) {
            padding: 10px 20px;
        }
    }

    &__title {
        font-weight: 700;
        @include adaptive-value('font-size', 24, 20);
    }

    &__close-btn {
        display: flex;
        width: 40px;
        height: 40px;
        border-radius: 8px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    &__row {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        width: 100%;
    }

    &__label {
        font-weight: 700;
        @include adaptive-value('font-size', 24, 20);
        color: $mainColor;
    }

    &__columns {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        width: 100%;
        background-color: var(--blockColor);
        padding: 20px;
        border-radius: 10px;
        overflow: auto;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__column {
        @include adaptive-width(4, 30);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;

        @media (max-width:992px) {
            @include adaptive-width(3, 30);
        }

        @media (max-width:768px) {
            @include adaptive-width(2, 30);
        }

        @media (max-width:480px) {
            width: 100%;
        }
    }

    &__links {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        gap: 4px;
    }

    &__link {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px 0;
        gap: 20px;

        @media (any-hover:hover) {
            &:hover {
                opacity: 0.7;
            }
        }
    }
}

// ======================================== profile ========================================
.profile {
    @include adaptive-value('padding-top', 40, 30);

    &__inner {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    &__main-columns {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        width: 100%;

        @media (max-width:992px) {
            flex-direction: column;
        }
    }

    &__main-column {
        @include adaptive-width(2, 20);

        @media (max-width:992px) {
            width: 100%;
        }
    }

    &__main-column,
    &__media-block {
        display: flex;
        flex-direction: column;
        gap: 40px;

        @media (max-width:576px) {
            gap: 30px;
        }
    }

    &__media-block {
        width: 100%;

        // @media (max-width:992px) {
        //     margin: 0 auto;
        //     max-width: 500px;
        // }
    }

    &__header {
        background-color: var(--headerBackgroundColor);
        border: #212121;
        display: flex;
        align-items: center;
        gap: 30px;
        flex-wrap: wrap;
        padding: 10px;

        @media (max-width:992px) {
            display: none;
        }
    }

    &__parameter {
        opacity: 0.5;
    }

    &__columns {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        width: 100%;

        &_services {
            @media (max-width:576px) {
                gap: 10px;
            }
        }

        &_info {
            @media (max-width:992px) {
                gap: 40px;
            }

            @media (max-width:576px) {
                gap: 30px;
            }
        }

        &_parameters {
            @media (max-width:1200px) {
                gap: 0;
            }

            @media (max-width:992px) {
                gap: 20px;
            }

            @media (max-width:660px) {
                gap: 0;
            }
        }

        &_form {
            @media (max-width:1200px) {
                gap: 10px;
            }

            @media (max-width:992px) {
                gap: 20px;
            }

            @media (max-width:660px) {
                gap: 10px;
            }
        }

        &_reviews {
            @media (max-width:660px) {
                // display: none;
            }
        }
    }

    &__column {
        @include adaptive-width(2, 20);

        @media (max-width:1200px) {
            width: 100%;
        }

        @media (max-width:992px) {
            @include adaptive-width(2, 20);
        }

        @media (max-width:660px) {
            width: 100%;
        }

        &_info,
        &_options {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 30px;

            @media (max-width:992px) {
                width: 100%;
            }
        }

        &_info {
            @media (max-width:768px) {
                gap: 20px;
            }

            @media (max-width:576px) {
                gap: 16px;
            }
        }

        &_parameters {
            @media (max-width:1200px) {
                &:not(:first-child) {
                    transform: translateY(-1px);
                }
            }

            @media (max-width:992px) {
                &:not(:first-child) {
                    transform: unset;
                }
            }

            @media (max-width:660px) {
                &:not(:first-child) {
                    transform: translateY(-1px);
                }
            }
        }
    }

    &__name {
        font-size: 24px;
    }

    &__social {
        display: flex;

        @media (any-hover:hover) {
            &:hover {
                opacity: 0.7;
            }
        }
    }

    &__options {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 30px;
        width: 100%;

        @media (max-width:992px) {
            max-width: 500px;
            margin: 0 auto;
        }

        @media (max-width:576px) {
            gap: 20px;
        }
    }

    &__option {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        @media (any-hover:hover) {
            &:hover {
                opacity: 0.7;
            }
        }

        &_like {
            width: 100%;
            padding: 10px;
            border-radius: 4px;
            background-color: $mainColor;
            color: #000;
        }
    }

    &__warning {
        background-color: #151515;
        border: 1px solid #212121;
        padding: 10px;
        line-height: 1.125;
        width: 100%;
    }

    &__block {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;

        &.active {

            .reviews,
            .review-form {
                display: flex;
            }
        }
    }

    &__label {
        font-weight: 700;
        font-size: 20px;

        &_btn {
            display: flex;
            align-items: center;
            gap: 10px;
            cursor: pointer;
        }
    }

    &__characteristics {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        background-color: #0E0E0E;
        border: 1px solid #212121;
        padding: 10px;

        @media (max-width:992px) {
            display: none;
        }
    }

    &__characteristic {
        font-weight: 700;
        font-size: 14px;
        background-color: #fff;
        color: #000;
        padding: 5px 10px;
    }

    &__desc {
        background-color: #151515;
        border: 1px solid #212121;
        padding: 10px;
        line-height: 1.125;
    }

    &__slider-block {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__video {
        padding-bottom: 70.77%;
    }
}

.big-slider {
    width: 100%;

    &__slide {}

    &__image {
        padding-bottom: 129.54%;
    }
}

.small-slider {
    display: flex;
    flex-direction: column;
    gap: 30px;

    @media (max-width:576px) {
        gap: 20px;
    }

    .slick-track {
        display: flex;
        gap: 7px;
    }

    &__image {
        padding-bottom: 133.34%;
    }
}


.table {
    border: 1px solid #212121;

    &__header {
        padding: 7px 10px;
        background-color: #0E0E0E;
    }

    &__row {
        display: flex;
        align-items: center;
        gap: 4px;
        background-color: #151515;
        padding: 8px 10px;

        &:not(:last-child) {
            border-bottom: 1px solid #212121;
        }
    }

    &__value {
        margin-left: auto;
    }
}

.service-table {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #151515;
    padding: 30px 20px;

    &__label {
        font-weight: 700;
    }

    &__items {
        display: flex;
        flex-direction: column;
    }

    &__label,
    &__item {
        padding: 10px 0;
        border-bottom: 1px solid #000;
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
    }

    &__link {
        @media (any-hover:hover) {
            &:hover {
                opacity: 0.7;
            }
        }
    }

    &__opt {
        padding: 5px 10px;
        background-color: $mainColor;
        border-radius: 2px;
        color: #000;
        font-weight: 700;
    }
}

.reviews {
    max-height: 400px;
    overflow: auto;
    display: none;
    width: 100%;

    &::-webkit-scrollbar {
        display: none;
    }
}

.reviews-slider {
    display: none;
    width: 100%;

    @media (max-width:660px) {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .slick-track {
        margin: 0 -10px;
    }

    &__slide {
        margin: 0 10px;
    }

    &__slide {
        width: 100%;
    }
}

.review {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    background-color: #151515;
    border: #212121;

    &__name {
        font-weight: 700;
    }

    &__text {
        line-height: 1.125;
    }
}

.review-form {
    background-color: #151515;
    border: 1px solid #212121;
    padding: 10px;
    width: 100%;
    flex-direction: column;
    gap: 20px;
    display: none;

    @media (max-width:1200px) {
        gap: 10px;
    }

    @media (max-width:992px) {
        gap: 20px;
    }

    @media (max-width:660px) {
        gap: 10px;
    }

    &__column {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__captcha,
    &__input {
        min-height: 44px;
    }

    &__input {
        padding: 0 14px;
    }

    &__input,
    &__textarea {
        width: 100%;
        background: #0E0E0E;
        border: 1px solid #212121;

        &::placeholder {
            opacity: 0.3;
        }
    }

    &__textarea {
        padding: 14px;
        height: 100%;
        min-height: 150px;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__btn {
        border-radius: 10px;
        background-color: $mainColor;
        font-weight: 700;
        font-size: 13px;
        color: #000;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 14.5px;

        @media (any-hover:hover) {
            &:hover {
                opacity: 0.7;
            }
        }
    }
}

.map-block {
    background: #151515;
    border: 1px solid #212121;
    padding: 10px;
    width: 100%;
    height: 640px;

    @media (max-width:576px) {
        height: 420px;
    }

    &__inner {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        background-color: #000;
    }

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        max-height: 100%;
        top: 50%;
        transform: translateY(-50%);
    }

    &__btn {
        display: flex;
        align-items: center;
        gap: 10px;
        color: #000;
        background-color: $mainColor;
        border-radius: 4px;
        z-index: 1;
        width: 100%;
        max-width: 315px;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-weight: 700;

        @media (max-width:400px) {
            max-width: 220px;
        }
    }

    &__map {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: none;
    }

    &.active {

        .map-block__btn,
        .map-block__bg {
            display: none;
        }

        .map-block__map {
            display: block;
        }
    }
}

.notfound {
    display: flex;
    flex-direction: column;

    @media (max-width:768px) {
        min-height: calc(100vh - 90px);
    }

    &__container {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }

    &__inner {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }

    &__title {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-weight: 700;
        @include adaptive-value('font-size', 48, 20);
    }

    &__link {
        color: $mainColor;
        @include adaptive-value('font-size', 32, 16);

        @media (any-hover:hover) {
            &:hover {
                opacity: 0.7;
            }
        }
    }
}