@font-face {
    font-family: Gilroy;
    src: url('../fonts/Gilroy-Regular.eot');
    src: url('../fonts/Gilroy-Regular.ttf');
    src: url('../fonts/Gilroy-Regular.woff');
    font-weight: 400;
}

@font-face {
    font-family: Gilroy;
    src: url('../fonts/Gilroy-Medium.eot');
    src: url('../fonts/Gilroy-Medium.ttf');
    src: url('../fonts/Gilroy-Medium.woff');
    font-weight: 500;
}

@font-face {
    font-family: Gilroy;
    src: url('../fonts/Gilroy-SemiBold.eot');
    src: url('../fonts/Gilroy-SemiBold.ttf');
    src: url('../fonts/Gilroy-SemiBold.woff');
    font-weight: 600;
}

@font-face {
    font-family: Gilroy;
    src: url('../fonts/Gilroy-Bold.eot');
    src: url('../fonts/Gilroy-Bold.ttf');
    src: url('../fonts/Gilroy-Bold.woff');
    font-weight: 700;
}
