@font-face {
    font-family: "SF";
    src: url("../fonts/SFUIDisplay-Regular.eot");
    src: url("../fonts/SFUIDisplay-Regular.ttf");
    src: url("../fonts/SFUIDisplay-Regular.woff");
    src: url("../fonts/SFUIDisplay-Regular.woff2");
    font-weight: 400;
}

@font-face {
    font-family: "SF";
    src: url("../fonts/SFUIDisplay-Bold.eot");
    src: url("../fonts/SFUIDisplay-Bold.ttf");
    src: url("../fonts/SFUIDisplay-Bold.woff");
    src: url("../fonts/SFUIDisplay-Bold.woff2");
    font-weight: 700;
}