@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&family=Open+Sans:ital,wght@0,400;0,800;1,600&display=swap');
@import 'fonts';

@mixin adaptive-width($columns, $gap) {
    width: calc(100% / #{$columns} - (#{$columns} - 1) * #{$gap + px} / #{$columns});
}

@mixin adaptive-value($property, $maxValue, $minValue, $minWidth: 320, $maxWidth: $container + $safety*2) {
    $widthDiff: $maxWidth - $minWidth;
    $valueDiff: $maxValue - $minValue;
    $step: $valueDiff / $widthDiff;

    #{$property}: #{$maxValue+px};

    @media (max-width:#{$maxWidth+px}) {
        #{$property}: calc(#{$maxValue+px} - (#{$step * $maxWidth+px} - #{$step * 100 + vw}));
    }

    @media (max-width:#{$minWidth+px}) {
        #{$property}: #{$minValue+px};
    }
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
    transition: opacity .3s;
}

ul,
ol,
li {
    list-style: none;
}

// ======================================== variables ========================================
:root {
    --mainBgColor: #111628;
    --secondaryBgColor: #191B22;
    --textColor: #fff;
    --blockColor: #393F4F;
    --darkColor: #000;
    --sidebarLinkColor: #050A1F;
    --headerProfileColor: #0D0E11;
    --reviewsInputColor: #252B3C;
    --mapBtnColor: var(--mainBgColor);
}

body {
    font-family: 'Open sans', sans-serif;
    line-height: 1;
    background-color: var(--mainBgColor);
    color: var(--textColor);
    font-weight: 400;

    &.light {
        --mainBgColor: #E8E8EA;
        --secondaryBgColor: #fff;
        --textColor: #000;
        --blockColor: #ececec;
        --darkColor: #d3d3d3;
        --sidebarLinkColor: #d9d9d9;
        --headerProfileColor: #ececec;
        --reviewsInputColor: #ddd;
        --mapBtnColor: #ccc;

        .dark-theme-icon {
            display: none;
        }

        .light-theme-icon {
            display: block;
        }

        .profile__btn {
            background-color: rgba($color: #fff, $alpha: 0.6);
        }
    }

    @media (max-width:992px) {
        background-color: var(--secondaryBgColor);
    }

    &.lock {
        overflow: hidden;
    }
}

// without px
$container: 1340;
$safety: 20;
// $mainBgColor: var(--mainBgColor);
// $secondaryBgColor: var(--secondaryBgColor);
// $textColor: var(--textColor);
// $blockColor: var(--blockColor);
// $darkColor: var(--darkColor);
// $sidebarLinkColor: var(--sidebarLinkColor);

.container {
    width: 100%;
    max-width: #{$container+2*$safety}px;
    padding: 0 #{$safety+px};
    margin: 0 auto;
}

.ibg {
    position: relative;

    >img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
    }
}

input,
button,
textarea {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    border: 0;
    outline: 0;
}

input::placeholder,
textarea::placeholder {
    color: inherit;
}

button {
    cursor: pointer;
    background-color: transparent;
    transition: opacity .3s;
}

.video {
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;

    iframe {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
}

@import 'popup';

.light-theme-icon {
    display: none;
}

.logo {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 24px;
}

.title {
    font-size: 24px;
    font-weight: 400;
}

.cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 20px;
}

.theme-switcher {
    width: 48px;
    height: 24px;
    border-radius: 12px;
    background-color: rgba($color: #030304, $alpha: 0.4);
    border: 1px solid #030304;
    position: relative;
    cursor: pointer;

    &__switch {
        background-color: #D9D9D9;
        border: 1px solid #030304;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        position: absolute;
        top: -1px;
        left: calc(100% - 23px);
        transition: .3s;
    }

    &__dark,
    &__light {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: .3s;
    }

    &__dark {}

    &__light {
        opacity: 0;
        visibility: hidden;
    }

    &.light {
        background-color: rgba($color: #030304, $alpha: 0.2);
        border: 1px solid #fff;

        .theme-switcher__switch {
            left: -1px;
            border: 1px solid #fff;
            background-color: #000;
        }

        .theme-switcher__dark {
            opacity: 0;
            visibility: hidden;
        }

        .theme-switcher__light {
            opacity: 1;
            visibility: visible;
        }
    }
}

.wrapper {
    overflow: hidden;
}

.main {

    &__container {
        display: flex;
        height: calc(100vh - 61px);
        position: relative;

        @media (max-width:992px) {
            height: auto;
            min-height: calc(100vh - 49px);
        }
    }

    &__inner,
    .sidebar,
    .recently,
    .dropdown {
        overflow-y: auto;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__inner {
        width: 100%;
        background-color: var(--secondaryBgColor);
        padding: 40px 20px;

        @media (max-width:992px) {
            padding: 40px 0;
        }

        @media (max-width:576px) {
            padding: 30px 0;
            overflow: unset;
        }
    }

    &__header {
        display: flex;
        flex-direction: column;
        gap: 30px;

        @media (max-width:576px) {
            gap: 20px;
        }
    }

    &__cards {
        margin-top: 40px;

        @media (max-width:576px) {
            margin-top: 30px;
        }
    }

    &__paginaton {
        margin-top: 50px;

        @media (max-width:576px) {
            margin-top: 40px;
        }
    }

    &__text-block {
        margin-top: 75px;

        @media (max-width:992px) {
            margin-top: 60px;
        }

        @media (max-width:768px) {
            margin-top: 50px;
        }

        @media (max-width:576px) {
            margin-top: 40px;
        }
    }
}

.breadcrumbs {
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 5px;

    &__text {
        opacity: 0.5;
    }
}

.telegram {
    padding: 10px 10px 20px;
    border-radius: 10px;
    background-color: var(--blockColor);
    font-size: 16px;
    line-height: 1.375;

    &__link {
        font-weight: 700;

        &:hover {
            opacity: 0.7;
        }
    }
}

.card {
    @include adaptive-width(2, 20);
    background-color: var(--blockColor);
    padding: 10px 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 10px;

    @media (max-width:#{$container+2*$safety}px) {
        width: 100%;
    }

    @media (max-width:992px) {
        @include adaptive-width(2, 20);
    }

    @media (max-width:640px) {
        width: 100%;
    }

    &__image-inner {
        width: 100%;
        position: relative;
        display: flex;
    }

    &__image {
        width: 100%;
        padding-bottom: 131.19%;
        border-radius: 10px;
        overflow: hidden;
    }

    &__btn {
        display: flex;

        &:hover {
            opacity: 0.7;
        }
    }

    &__video-btn {
        position: absolute;
        top: 0;
        right: 0;
        width: 45px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        width: 100%;
    }

    &__row {
        display: flex;
        align-items: center;
        gap: 10px;

        &.main {
            width: 100%;
            justify-content: space-between;
        }
    }

    &__short-info {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__name {
        font-weight: 800;

        &.text:hover {
            opacity: 1;
        }

        &:hover {
            opacity: 0.7;
        }
    }

    &__age {
        opacity: 0.5;
    }

    &__options {
        display: flex;
        align-items: center;
        gap: 20px;

        @media (max-width:768px) {
            gap: 16px;
        }
    }

    &__social {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__social-link {
        display: flex;

        &:hover {
            opacity: 0.7;
        }
    }
}

.option {
    .active-option {
        display: none;
    }

    &.active {

        .dark-theme-icon,
        .light-theme-icon {
            display: none;
        }

        .active-option {
            display: block;
        }
    }
}

.small-card {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background-color: var(--blockColor);
    border-radius: 10px;
    @include adaptive-width(2, 20);

    @media (max-width:#{$container+2*$safety}px) {
        width: 100%;
    }

    @media (max-width:992px) {
        @include adaptive-width(2, 20);
    }

    @media (max-width:768px) {
        width: 100%;
    }

    @media (max-width:400px) {
        flex-direction: column;
    }

    &.big {
        width: 100%;
    }

    &__image {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        overflow: hidden;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 6px;

        @media (max-width:400px) {
            align-items: center;
        }
    }
}

.paginaton {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;

    @media (max-width:576px) {
        gap: 20px;
    }

    @media (max-width:400px) {
        gap: 16px;
    }

    &__item {
        font-family: Inter, sans-serif;
        font-weight: 800;
        font-size: 18px;
        background-color: var(--blockColor);
        border-radius: 10px;
        width: 48px;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;

        @media (max-width:1280px) {
            width: 40px;
            height: 40px;
        }

        &:hover {
            opacity: 0.7;
        }

        &.dots {
            pointer-events: none;
        }
    }
}

.text-block {
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    background-color: var(--blockColor);
    border-radius: 10px;

    &__title {
        font-weight: 800;
    }

    &__text {
        line-height: 1.375;
    }
}

.up-btn {
    // position: fixed;
    // bottom: 70px;
    // right: 20px;
    // opacity: 0;
    // visibility: hidden;
    margin: 40px auto 0;
    width: 48px;
    height: 48px;
    border-radius: 10px;
    background-color: var(--blockColor);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
    flex-shrink: 0;

    // &.active {
    //     opacity: 1;
    //     visibility: visible;
    // }

    &:hover {
        opacity: 0.7;
    }

    &__text {
        font-family: Inter, sans-serif;
        font-weight: 800;
        font-size: 8px;
        color: var(--textColor);
    }
}

.recently {
    flex: 0 0 335px;
    padding: 40px 0;
    padding-left: 20px;

    @media (max-width:992px) {
        display: none;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    &__title {
        font-weight: 700;
        font-size: 20px;
    }
}

.sidebar {
    padding: 40px 0;
    padding-right: 24px;
    flex: 0 0 315px;
    z-index: 3;

    @media (max-width:1200px) {
        flex: 0 0 260px;
    }

    @media (max-width:992px) {
        background-color: var(--blockColor);
        flex: unset;
        position: fixed;
        top: 50px;
        left: -100%;
        width: 100%;
        height: calc(100% - 50px);
        transition: left .3s;
        overflow: auto;
        padding: 20px;

        &.active {
            left: 0;
        }
    }

    &__inner {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;

        @media (max-width:768px) {
            gap: 20px;
        }
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width:992px) {
            display: none;
        }
    }

    &__logo {}

    &__input-inner {
        width: 100%;
        position: relative;
    }

    &__dark {
        background-color: var(--darkColor);
    }

    &__input {
        min-height: 50px;
        width: 100%;
        border-radius: 10px;
        padding: 12px;
        padding-right: 50px;
        font-size: 15px;
    }

    &__search-btn {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            opacity: 0.7;
        }
    }

    &__filters {
        display: flex;
        flex-direction: column;
    }

    &__link {
        background-color: var(--sidebarLinkColor);
        color: var(--textColor);
        padding: 15.5px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 10px;

        &:hover {
            opacity: 0.7;
        }
    }
}

.filter {
    width: 100%;

    &__btn {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 15px;
        padding: 12.5px 0;
        font-size: 15px;

        &:hover {
            opacity: 0.7;
        }
    }

    &__arrow {
        margin-left: auto;
    }
}

.dropdown {
    display: none;
    position: absolute;
    left: #{$safety + 315}px;
    background-color: var(--sidebarLinkColor);
    padding: 10px;
    border-radius: 10px;
    width: calc(100% - 315px - 335px - #{$safety*2}px);
    max-height: 500px;
    overflow: auto;
    z-index: 3;

    @media (max-width:1200px) {
        left: #{$safety + 260}px;
        width: calc(100% - 260px - 335px - #{$safety*2}px);
    }

    @media (max-width:1280px) {
        width: 300px;
    }

    @media (max-width:992px) {
        width: 100%;
        position: static;
        max-height: 400px;
    }

    &__inner {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    &__column {
        background-color: var(--blockColor);
        padding: 10px;
        border-radius: 10px;
        width: calc(100% / 2 - 10px / 2);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;

        @media (max-width:1280px) {
            width: 100%;
        }

        &.big {
            width: 100%;
        }
    }

    &__items {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
        width: 100%;
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        gap: 20px;

        &:hover {
            opacity: 0.7;
        }
    }

    &__title {
        font-weight: 700;
        font-size: 20px;
    }

    &.small {
        width: 300px;

        @media (max-width:992px) {
            width: 100%;
        }
    }
}

.filter.active {
    .dropdown {
        display: block;
    }

    .filter__arrow {
        transform: rotate(-90deg);

        @media (max-width:992px) {
            transform: rotate(-180deg);
        }
    }
}

.header {
    display: none;
    background-color: var(--mainBgColor);

    @media (max-width:992px) {
        display: block;
    }

    &__inner {
        display: flex;
        align-items: center;
        min-height: 50px;
    }

    &__logo {}

    &__theme-switcher {
        margin-left: auto;
        margin-right: 20px;
    }
}

.footer {
    background-color: var(--secondaryBgColor);
    border-top: 1px solid var(--textColor);
    position: relative;
    z-index: 2;

    @media (max-width:992px) {
        padding: 12.5px;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 60px;

        @media (max-width:992px) {
            min-height: unset;
        }

        @media (max-width:640px) {
            flex-direction: column;
            justify-content: center;
            gap: 30px;
        }
    }

    &__link {
        display: flex;
        align-items: center;
        gap: 15px;

        &:hover {
            opacity: 0.7;
        }
    }
}

.burger-btn {
    flex: 0 0 20px;
    height: 17px;
    position: relative;
    display: none;

    @media (max-width:992px) {
        display: flex;
    }

    &::before,
    &::after {
        content: '';
    }

    &::before,
    &::after,
    span {
        position: absolute;
        width: 100%;
        background-color: var(--textColor);
        height: 2px;
        transition: 0.3s;
        border-radius: 1px;
    }

    &::before {
        left: 0;
        top: 0;
    }

    &::after {
        left: 0;
        bottom: 0;
    }

    span {
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    &.active::before {
        transform: rotate(-45deg) translateY(-50%);
        top: 50%;
    }

    &.active::after {
        transform: rotate(45deg) translateY(50%);
        bottom: 50%;
    }

    &.active span {
        opacity: 0;
    }
}

.profile {

    @media (max-width:576px) {
        background-color: transparent;
        padding: 0 0 30px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 40px;

        @media (max-width:576px) {
            position: relative;
            padding-top: 140%;
        }
    }

    &__top-block {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__info {
        padding: 10px 10px 20px;
        border-radius: 10px;
        background-color: var(--blockColor);
        display: flex;
        flex-direction: column;
        gap: 20px;
        position: relative;
    }

    &__btns {
        width: 100%;
        gap: 20px;
        bottom: 40px;
        display: none;

        @media (max-width:576px) {
            display: flex;
        }
    }

    &__btn {
        @include adaptive-width(2, 20);
        background-color: rgba($color: #000000, $alpha: 0.6);
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 10px;
        color: var(--textColor);
    }

    &__short-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    &__big-row {
        display: flex;
        align-items: center;
        gap: 10px;
        flex-wrap: wrap;
    }

    &__options {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        column-gap: 10px;
        row-gap: 20px;

        @media (max-width:400px) {
            // justify-content: space-between;
        }
    }

    &__option {
        display: flex;
        flex-direction: column;
        align-items: center;

        &:hover {
            opacity: 0.7;
        }
    }

    &__warning {
        padding: 10px;
        border-radius: 10px;
        background-color: var(--blockColor);
        line-height: 1.375;

        p {
            opacity: 0.7;
        }
    }

    &__slider-block {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;

        @media (max-width:576px) {
            display: none;
        }
    }

    &__columns {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;

        @media (max-width:#{$container+2*$safety}px) {
            gap: 40px;
        }

        @media (max-width:992px) {
            gap: 20px;
        }

        @media (max-width:768px) {
            gap: 40px;
        }
    }

    &__block {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        flex-grow: 1;

        &.price {
            max-width: 340px;

            @media (max-width:#{$container+2*$safety}px) {
                max-width: unset;
            }

            @media (max-width:992px) {
                max-width: 340px;
            }

            @media (max-width:768px) {
                max-width: unset;
            }
        }

        @media (max-width:#{$container+2*$safety}px) {
            width: 100%;
        }

        @media (max-width:992px) {
            width: auto;
        }

        @media (max-width:768px) {
            width: 100%;
        }
    }

    &__title {
        font-weight: 700;
        font-size: 20px;
    }

    &__sub-columns {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        width: 100%;
    }

    &__sub-column {
        display: flex;
        flex-direction: column;
        gap: 2px;
        width: 100%;

        &.price {
            width: calc(50% - 10px);

            @media (max-width:1080px) {
                width: 100%;
            }

            @media (max-width:992px) {
                width: calc(50% - 10px);
            }

            @media (max-width:400px) {
                width: 100%;
            }
        }
    }

    &__small-block {
        background-color: var(--blockColor);
        border-radius: 10px;
        min-height: 40px;
        padding: 6px 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &.me {
            font-weight: 700;
            font-size: 12px;
            text-transform: uppercase;
        }

        &.visit {
            font-family: SF, sans-serif;
            font-size: 12px;
            display: inline;

            span {
                font-size: 14px;
                text-transform: uppercase;
            }
        }
    }

    &__parameter {
        display: flex;
        align-items: center;
        gap: 10px;
        opacity: 0.5;

        &.small-gap {
            gap: 4px;
        }
    }

    &__characteristics {
        width: 100%;
        border-radius: 10px;
        background-color: var(--blockColor);
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 10px;
        padding: 10px;
    }

    &__characteristic {
        font-weight: 700;
        font-size: 13px;
        border-radius: 10px;
        border: 1px solid var(--textColor);
        padding: 5.5px 10px;
    }

    &__desc {
        padding: 10px;
        line-height: 1.375;
        background-color: var(--blockColor);
        border-radius: 10px;
    }
}

.big-slider {
    width: 100%;

    &__image {
        padding-bottom: 135.7%;
        border-radius: 10px;
        overflow: hidden;
    }
}

.small-slider {
    width: 100%;

    &__slide {
        margin: 0 4px;
        border-radius: 10px;
        overflow: hidden;
    }

    &__image {
        padding-bottom: 152.68%;
    }
}

.header-profile {
    display: flex;
    align-items: center;
    column-gap: 40px;
    row-gap: 20px;
    flex-wrap: wrap;
    width: 100%;
    background-color: var(--headerProfileColor);
    padding: 10px;

    @media (max-width:576px) {
        display: none;
    }

    &__item {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__parameter {
        display: flex;
        align-items: center;
        gap: 10px;
        opacity: 0.5;
    }
}

.image-block {
    display: none;
    padding-bottom: 146%;
    width: calc(100% + #{$safety*2}px);
    transform: translateX(-20px);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--darkColor);
        opacity: 0;
        transition: .3s;
        z-index: 1;
    }

    &.hide {
        position: fixed;

        &:before {
            opacity: 0.5;
        }
    }

    @media (max-width:576px) {
        display: block;
    }
}

.services {
    width: 100%;
    background-color: var(--blockColor);
    border-radius: 10px;
    padding: 10px;

    &__rows {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;

        @media (max-width:#{$container+2*$safety}px) {
            gap: unset;
        }

        @media (max-width:992px) {
            gap: 10px;
        }

        @media (max-width:768px) {
            gap: unset;
        }
    }

    &__row {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        position: relative;

        @media (max-width:#{$container+2*$safety}px) {
            gap: unset;
        }

        @media (max-width:992px) {
            gap: 20px;
        }

        @media (max-width:768px) {
            gap: unset;
        }
    }

    &__row:not(:last-child) {
        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            bottom: 0;
            left: 0;
            background-color: var(--textColor);
            opacity: 0.5;
        }
    }

    &__column {
        @include adaptive-width(2, 20);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        padding: 20px 10px;
        position: relative;

        &:not(:last-child)::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            bottom: 0;
            left: 0;
            background-color: var(--textColor);
            opacity: 0.5;
            display: none;
        }

        @media (max-width:#{$container+2*$safety}px) {
            width: 100%;

            &:not(:last-child)::after {
                display: block;
            }
        }

        @media (max-width:992px) {
            @include adaptive-width(2, 20);

            &:not(:last-child)::after {
                display: none;
            }
        }

        @media (max-width:768px) {
            width: 100%;

            &:not(:last-child)::after {
                display: block;
            }
        }
    }

    &__title {
        font-weight: 700;
    }

    &__items {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    &__item {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__link {
        &:hover {
            opacity: 0.7;
        }
    }

    &__opt {
        padding: 4px 10px;
        color: var(--darkColor);
        background-color: var(--textColor);
        font-weight: 700;
        font-family: SF, sans-serif;
    }
}

.map {

    &__inner {
        width: 100%;
        height: 350px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        background-color: var(--blockColor);
        border-radius: 10px;
        overflow: hidden;

        iframe {
            position: absolute;
            top: 10px;
            left: 10px;
            width: calc(100% - 20px);
            height: calc(100% - 20px);
            display: none;
            border-radius: 10px;
        }

        &.active {
            iframe {
                display: block;
            }

            .map__btn {
                display: none;
            }
        }
    }

    &__bg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 90%;
    }

    &__btn {
        background-color: var(--mapBtnColor);
        border-radius: 10px;
        width: 100%;
        max-width: 280px;
        padding: 13px;
        position: relative;
        font-weight: 700;

        @media (max-width:400px) {
            max-width: 200px;
        }
    }
}

.reviews {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    @media (max-width:#{$container+2*$safety}px) {
        gap: 40px;
    }

    @media (max-width:992px) {
        gap: 20px;
    }

    @media (max-width:768px) {
        gap: 40px;
    }

    &__block {
        @include adaptive-width(2, 20);
        flex-grow: 1;

        @media (max-width:#{$container+2*$safety}px) {
            width: 100%;
        }

        @media (max-width:992px) {
            @include adaptive-width(2, 20);
        }

        @media (max-width:768px) {
            width: 100%;
        }
    }

    &__spoiler-btn {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;

        &.active {
            svg {
                transform: rotate(-180deg);
            }
        }
    }

    &__items {
        display: none;
        flex-direction: column;
        gap: 20px;
        max-height: 360px;
        overflow: auto;

        &::-webkit-scrollbar {
            display: none;
        }

        &.active {
            display: flex;
        }
    }

    &__item {
        padding: 10px;
        border-radius: 10px;
        background-color: var(--blockColor);
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__title {
        font-weight: 700;
    }

    &__text {
        line-height: 1.375;
    }

    &__form {
        width: 100%;
        padding: 10px 12.5px;
        border-radius: 10px;
        background-color: var(--blockColor);
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        &.active {
            display: flex;
        }
    }

    &__input,
    &__textarea {
        background-color: var(--reviewsInputColor);
        border-radius: 8px;
        width: 100%;
        font-size: 16px;

        &::placeholder {
            opacity: 0.5;
        }
    }

    &__input {
        min-height: 44px;
        padding: 0 14px;
    }

    &__textarea {
        padding: 14px;
        min-height: 120px;
        resize: none;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__captcha {
        opacity: 0.3;
    }

    &__btn {
        font-weight: 700;
        font-size: 13px;
        border-radius: 10px;
        background-color: var(--mapBtnColor);
        width: 100%;
        padding: 13px;

        &:hover {
            opacity: 0.7;
        }
    }
}

.nearby {

    &__cards {
        row-gap: 20px;
    }
}

.notfound {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @include adaptive-value('gap', 30, 20);
    text-align: center;

    &__image {
        max-width: 90%;
    }

    &__title {
        font-weight: 700;
        @include adaptive-value('font-size', 36, 20);
    }

    &__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 1.35;
    }

    &__link {
        color: #3797EF;

        &:hover {
            opacity: 0.7;
        }
    }
}

.city-popup {

    &__container {
        max-width: 1200px;
    }

    &__inner {
        background-color: var(--sidebarLinkColor);
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        max-height: 75vh;
        min-height: 340px;
        overflow: hidden;

        @media (max-width:768px) {
            padding: 10px;
        }
    }

    &__header {
        background-color: var(--blockColor);
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
        width: 100%;

        @media (max-width:768px) {
            padding: 10px 20px;
        }
    }

    &__title {
        font-weight: 700;
        @include adaptive-value('font-size', 24, 20);
    }

    &__close-btn {
        display: flex;
        width: 40px;
        height: 40px;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--darkColor);
    }

    &__row {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        width: 100%;
    }

    &__label {
        font-weight: 700;
        @include adaptive-value('font-size', 20, 18);
    }

    &__columns {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        width: 100%;
        background-color: var(--blockColor);
        padding: 20px;
        border-radius: 10px;
        overflow: auto;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__column {
        @include adaptive-width(4, 30);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;

        @media (max-width:992px) {
            @include adaptive-width(3, 30);
        }

        @media (max-width:768px) {
            @include adaptive-width(2, 30);
        }

        @media (max-width:480px) {
            width: 100%;
        }
    }

    &__links {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        width: 100%;
    }

    &__link {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        width: 100%;

        &:hover {
            opacity: 0.7;
        }
    }
}

.slider-popup {

    &__close-btn {
        position: absolute;
        top: 0;
        right: 0;
        width: 48px;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__container {
        max-width: 600px;
    }

    &__inner {
        background-color: transparent;
    }

    &__slide {
        margin: 0 8px;
        border-radius: 10px;
        overflow: hidden;
    }

    &__image {
        padding-bottom: 135.7%;
    }
}

