@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;700&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

body {
    font-family: Raleway, sans-serif;

    &.lock {
        overflow: hidden;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    min-height: 100vh;
}

.main {
    flex-grow: 1;
}

.container {
    max-width: 1140px;
    padding: 0 20px;
    box-sizing: content-box;
    margin: 0 auto;
}

.ibg {
    position: relative;

    >img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
    }
}

button {
    cursor: pointer;
}


.title {
    font-weight: 300;
    font-size: 36px;
    color: #252525;

    @media (max-width:992px) {
        font-size: 30px;
    }

    @media (max-width:767px) {
        font-size: 26px;
    }
}

path,
rect {
    transition: .3s;
}

// ---------------------------------------- header ----------------------------------------
.header {
    position: absolute;
    padding: 32px 0;
    left: 0;
    width: 100%;
    z-index: 50;

    &.opt {
        background-color: #fff;
    }

    &.active {
        background-color: #252525;

        .header__drop a {
            color: #fff;
            background-color: #E0BEA2;
            justify-content: center;
        }
    }

    @media (max-width:767px) {
        padding: 20px 0;
    }

    &__inner {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        z-index: 1000;
    }

    &__logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: .3s;
        display: flex;
        justify-content: center;
        align-items: center;

        &.hide {
            display: none;
        }

        @media (max-width:767px) {
            svg {
                scale: 0.5;
            }
        }

        &:hover path {
            fill: #E0BEA2;
        }
    }

    &__burger-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);

        svg:nth-child(2) {
            display: none;

            @media (max-width:992px) {
                rect {
                    fill: #fff;
                }
            }
        }

        &.active {
            svg:nth-child(1) {
                display: none;
            }

            svg:nth-child(2) {
                display: block;
            }
        }

        &:hover rect {
            fill: #E0BEA2;
        }
    }

    &__menu {
        margin: 0 auto 0 120px;

        @media (max-width:992px) {
            display: none;
        }

        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 24px;
        }

        li.hide {
            display: none;
        }

        &.opt {
            li {
                display: none;
            }

            li.hide {
                display: block;
            }

            a {
                color: #252525;
            }
        }

        a {
            font-weight: 300;
            font-size: 18px;
            color: #fff;
            transition: .3s;

            &:hover {
                color: #E0BEA2;
            }
        }
    }

    &__langs {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 75px;
        gap: 20px;

        &.hide {
            display: none;
        }

        @media (max-width:1080px) {
            margin-right: 50px;
        }

        @media (max-width:992px) {
            margin-left: 60px;
            margin-right: auto;
        }

        @media (max-width:400px) {
            margin-left: 45px;
        }
    }

    &__lang {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;

        @media (max-width:992px) {
            &:nth-child(2) {
                display: none;
            }
        }

        svg {
            margin-left: 5px;
            transition: .3s;
            transform: rotate(-90deg);
        }

        path {
            transition: .3s;
        }

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 300;
            font-size: 18px;
            color: #fff;
            transition: .3s;

            &:hover {
                color: #E0BEA2;
            }
        }


        @media (any-hover: hover) {
            &:hover {
                .header__drop {
                    opacity: 1;
                    visibility: visible;
                    pointer-events: all;
                }

                svg {
                    transform: rotate(0);
                }

                path {
                    fill: #E0BEA2;
                }
            }
        }

        &.active {
            .header__drop {
                opacity: 1;
                visibility: visible;
                pointer-events: all;
            }

            svg {
                transform: rotate(0);
            }

            path {
                fill: #E0BEA2;
            }

            >a {
                color: #E0BEA2;
            }
        }
    }

    &__drop {
        flex-direction: column;
        opacity: 0;
        visibility: hidden;
        transition: .3s;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        pointer-events: none;
        padding: 2px 0;

        a {
            width: 100%;
            font-weight: 300;
            font-size: 18px;
            color: #fff;
            border-top: 1px solid #E0BEA2;
            text-align: right;
            padding: 3px 0;
            justify-content: flex-end;
        }
    }

    &__btns {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;

        &.hide {
            display: none;
        }

        @media (max-width:400px) {
            gap: 15px;
        }
    }

    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        transition: .3s;
        background-color: transparent;
        border: 0;
        outline: 0;

        @media (max-width:992px) {

            &:nth-child(1),
            &:nth-child(2) {
                display: none;
            }
        }

        &:hover path {
            fill: #E0BEA2;
        }
    }
}

// ---------------------------------------- main-screen ----------------------------------------
.main-screen {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;

    &__content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    &__title {
        font-weight: 300;
        font-size: 46px;
        color: #fff;
        margin-bottom: 40px;
        position: relative;

        @media (max-width:600px) {
            font-size: 32px;
            margin-bottom: 32px;
        }

        &::before {
            content: '';
            width: 120px;
            height: 1px;
            background-color: #fff;
            position: absolute;
            top: 72px;
            left: 50%;
            transform: translateX(-50%);

            @media (max-width:600px) {
                top: 51px;
            }
        }
    }

    &__link {
        font-weight: 300;
        font-size: 16px;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        transition: .3s;

        @media (max-width:600px) {
            font-size: 14px;
        }

        &:hover {
            opacity: 0.7;
        }

        img {
            margin-left: 6px;
        }
    }

    .swiper {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
    }
}

// ---------------------------------------- categories ----------------------------------------
.categories {
    padding: 100px 0;

    @media (max-width:992px) {
        padding: 80px 0;
    }

    @media (max-width:767px) {
        padding: 60px 0;
    }

    &__inner {}

    &__title {
        margin-bottom: 50px;

        @media (max-width:992px) {
            margin-bottom: 40px;
        }

        @media (max-width:767px) {
            margin-bottom: 30px;
        }
    }

    &__slider {}

    &__caption {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 40px;
        background: rgba(224, 190, 162, 0.75);
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-weight: 30;
        font-size: 20px;

        @media (max-width:576px) {
            height: 35px;
            font-size: 18px;
        }
    }

    .swiper {}

    .swiper-wrapper {}

    .swiper-slide {
        position: relative;
        height: 450px;

        @media (max-width:576px) {
            height: 350px;
        }
    }

    .swiper-button-prev,
    .swiper-button-next {
        position: absolute;
        top: 50%;
        left: 20px;
        transform: translateY(-50%);
        width: 40px;
        height: 40px;
        background: #E0BEA2;
        display: flex;
        justify-content: center;
        align-items: center;

        @media (max-width:992px) {
            width: 35px;
            height: 35px;
            left: 15px;

            img {
                scale: 0.8;
            }
        }

        @media (max-width:700px) {
            width: 30px;
            height: 30px;
            left: 10px;

            img {
                scale: 0.6;
            }
        }

        &::after {
            font-size: 0;
        }
    }

    .swiper-button-next {
        right: 20px;
        left: unset;

        @media (max-width:992px) {
            right: 15px;
        }

        @media (max-width:700px) {
            right: 10px;
        }
    }

    .swiper-button-disabled {
        display: none;
    }
}

// ---------------------------------------- sub ----------------------------------------
.sub {
    padding-bottom: 100px;

    @media (max-width:992px) {
        padding-bottom: 80px;
    }

    @media (max-width:767px) {
        padding-bottom: 60px;
    }

    &__container {
        max-width: 600px;
    }

    &__inner {}

    &__title {
        margin-bottom: 50px;
        text-align: center;

        @media (max-width:992px) {
            margin-bottom: 40px;
        }

        @media (max-width:767px) {
            margin-bottom: 30px;
        }
    }

    &__form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 20px;

        @media (max-width:767px) {
            gap: 15px;
            margin-bottom: 15px;
        }
    }

    &__input {
        width: 100%;
        padding: 15px 20px;
        border: 0;
        outline: 0;
        border: 1px solid #252525;
        font-weight: 200;
        font-size: 16px;
        color: #252525;

        @media (max-width:767px) {
            padding: 12px 20px;
        }

        &::placeholder {
            font-weight: 200;
            font-size: 16px;
            color: rgba(37, 37, 37, 0.5);
            text-align: center;

            @media (max-width:767px) {
                font-size: 14px;
            }
        }
    }

    &__btn {
        width: 100%;
        padding: 16px 20px;
        border: 0;
        outline: 0;
        font-weight: 300;
        font-size: 16px;
        color: #fff;
        background: #E0BEA2;
        transition: .3s;

        @media (max-width:767px) {
            font-size: 14px;
            padding: 12px 20px;
        }

        &:hover {
            filter: drop-shadow(0px 5px 7px rgba(37, 37, 37, 0.15));
        }

        &:focus {
            box-shadow: inset 0px 3px 7px rgba(37, 37, 37, 0.15);
        }
    }

    &__text {
        font-weight: 200;
        font-size: 16px;
        color: #252525;
        text-align: center;

        @media (max-width:767px) {
            font-size: 14px;
        }
    }
}

@mixin width($columns, $gap) {
    width: calc(100% / $columns - ($columns - 1) * $gap / $columns);
}

// ---------------------------------------- footer ----------------------------------------
.footer {
    padding-bottom: 75px;

    @media (max-width:992px) {
        padding-bottom: 50px;
    }

    @media (max-width:440px) {
        padding-bottom: 40px;
    }

    &__container {
        @media (max-width:767px) {
            max-width: 600px;
        }
    }

    &__inner {
        display: flex;
        justify-self: flex-start;
        align-items: flex-start;
        gap: 47px;

        @media (max-width:992px) {
            gap: unset;
            justify-content: space-between;
        }

        @media (max-width:767px) {
            flex-wrap: wrap;
            gap: 30px 60px;
        }

        @media (max-width:440px) {
            gap: 30px 0;
        }
    }

    &__column {
        width: 100%;
        max-width: 250px;

        @media (max-width:992px) {
            width: unset;
            max-width: unset;
        }

        @media (max-width:767px) {
            @include width(2, 60px);
        }

        @media (max-width:440px) {
            border-bottom: 1px solid #252525;
            @include width(1, 0px);
        }
    }

    &__label {
        font-weight: 300;
        font-size: 20px;
        color: #252525;
        margin-bottom: 20px;
        position: relative;

        @media (max-width:440px) {
            cursor: pointer;
            margin-bottom: 4px;
            text-align: center;
            font-size: 24px;
        }

        img {
            position: absolute;
            right: 15px;
            top: 50%;
            transform: translateY(-50%);
            transition: .3s;
            display: none;

            @media (max-width:440px) {
                display: block;
            }
        }

        &.active {
            img {
                transform: rotate(180deg);
            }
        }
    }

    &__drop {
        @media (max-width:440px) {
            display: none;
            margin: 10px 0;
        }
    }

    &__links {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 10px;

        @media (max-width:440px) {
            align-items: center;
        }
    }

    &__link {
        font-weight: 200;
        font-size: 16px;
        color: #252525;
        transition: .3s;

        &:hover {
            color: #E0BEA2;
        }

        @media (max-width:440px) {
            font-size: 20px;
            text-align: center;
        }
    }

    &__socials {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 13px;
    }

    &__social {
        display: flex;
        justify-content: center;
        align-items: center;
        transition: .3s;

        &:hover {
            opacity: 0.7;
        }

        @media (max-width:440px) {
            transform: scale(1.5);
        }
    }
}

// ---------------------------------------- menu-popup ----------------------------------------
.menu-popup {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 109px 0 20px;
    overflow: auto;

    @media (max-width:767px) {
        padding: 85px 0 20px;
    }

    &.active {
        top: 0;
    }

    &__inner {}

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        margin-bottom: 20px;

        .header__lang {
            display: flex;

            a {
                color: #252525;
            }

            path {
                fill: #252525;
            }
        }   
    }

    .header__btn {
        display: flex;

        path {
            fill: #252525;
        }

        &:hover {
            path {
                fill: #E0BEA2;
            }
        }
    }

    .header__drop {
        background-color: #E0BEA2;

        a {
            justify-content: center;
            color: #fff;
        }
    }

    &__input {
        width: 100%;
        max-width: 600px;
        position: relative;

        input {
            width: 100%;
            border: 1px solid #252525;
            border-radius: 20px;
            font-weight: 300;
            font-size: 16px;
            color: #252525;
            padding: 10px 20px;
            outline: 0;

            &::placeholder {
                color: rgba(37, 37, 37, 0.5);
            }
        }

        .header__btn {
            position: absolute;
            right: 15px;
            top: 50%;
            transform: translateY(-50%);
            width: 20px;
            height: 20px;
        }
    }

    .header__menu {
        display: block;
        margin: unset;
        margin-bottom: 80px;

        ul {
            flex-direction: column;
            gap: unset;
        }

        li {
            border-top: 1px solid #252525;
            padding: 20px 0;
            width: 100%;
            text-align: center;

            &:last-child {
                border-bottom: 1px solid #252525;
            }

            a {
                position: relative;
                transition: .3s;

                &:hover {
                    color: #E0BEA2;
                }
            }
        }

        .header__btn {
            position: absolute;
            top: 50%;
            left: -30px;
            transform: translateY(-50%);
        }

        li.hide {
            display: block;
        }

        a {
            color: #252525;
        }
    }

    .footer__drop {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer__links {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}