@font-face {
    font-family: Ageo;
    src: url(../fonts/Ageo-Bold.eot);
    src: url(../fonts/Ageo-Bold.ttf);
    src: url(../fonts/Ageo-Bold.woff);
    src: url(../fonts/Ageo-Bold.woff2);
    font-weight: 700;
}

@font-face {
    font-family: Ageo;
    src: url(../fonts/Ageo-ExtraBold.eot);
    src: url(../fonts/Ageo-ExtraBold.ttf);
    src: url(../fonts/Ageo-ExtraBold.woff);
    src: url(../fonts/Ageo-ExtraBold.woff2);
    font-weight: 800;
}

@font-face {
    font-family: Ageo;
    src: url(../fonts/Ageo-Medium.eot);
    src: url(../fonts/Ageo-Medium.ttf);
    src: url(../fonts/Ageo-Medium.woff);
    src: url(../fonts/Ageo-Medium.woff2);
    font-weight: 500;
}

@font-face {
    font-family: Ageo;
    src: url(../fonts/Ageo-Regular.eot);
    src: url(../fonts/Ageo-Regular.ttf);
    src: url(../fonts/Ageo-Regular.woff);
    src: url(../fonts/Ageo-Regular.woff2);
    font-weight: 400;
}

@font-face {
    font-family: Ageo;
    src: url(../fonts/Ageo-SemiBold.eot);
    src: url(../fonts/Ageo-SemiBold.ttf);
    src: url(../fonts/Ageo-SemiBold.woff);
    src: url(../fonts/Ageo-SemiBold.woff2);
    font-weight: 600;
}

@font-face {
    font-family: Porpora;
    src: url(../fonts/Porpora-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Gilroy;
    src: url(../fonts/Gilroy-Medium.eot);
    src: url(../fonts/Gilroy-Medium.ttf);
    src: url(../fonts/Gilroy-Medium.woff);
    font-weight: 500;
}

@font-face {
    font-family: Gilroy;
    src: url(../fonts/Gilroy-SemiBold.eot);
    src: url(../fonts/Gilroy-SemiBold.ttf);
    src: url(../fonts/Gilroy-SemiBold.woff);    
    font-weight: 600;
}