body.lock {
    overflow: hidden;
}

.mob-swiper__nav {
    position: absolute;
    width: 100%;
    top: 33%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    z-index: 1;
}

.mob-swiper__btn {
    width: 20px;
    height: 40px;
}

.mob-swiper__btn_prev {
    background: url("../mob-slider-left.png") no-repeat center center;
    background-size: 100%
}

.mob-swiper__btn_next {
    background: url("../mob-slider-right.png") no-repeat center center;
    background-size: 100%
}

.w100p {
    width: 100%;
}

.sidebar-swiper__nav {}

.sidebar-swiper__btn {
    position: absolute;
    width: 100%;
    top: 25%;
    width: 20px;
    height: 20px;
    z-index: 1;
}

.sidebar-swiper__btn_half {
    top: 50%;
    transform: translateY(-50%);
}

.sidebar-swiper__btn_prev {
    left: 0;
    background: url(../arrow-left.png) no-repeat center center;
    background-size: 100%;
}

.sidebar-swiper__btn_next {
    right: 0;
    background: url(../arrow-right.png) no-repeat center center;
    background-size: 100%;
}

.double-ul-menu.opened {
    display: block;
}

.flip-swiper {
    position: absolute;
    inset: 15px;
}

@media (max-width: 576px) {
    .flip-swiper {
        inset: 5px;
    }
}

.flip-swiper__slide {
    position: relative;
    border-radius: 104px;
    overflow: hidden;
}

.flip-swiper__slide img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info-swiper {
    right: 0;
    top: 120px;
}

@media (max-width:1180px) {
    .info-swiper {
        top: 70px;
    }
}

@media (max-width: 992px) {
    .info-swiper {
        display: none;
    }
}

.info-swiper__slide {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
}

.info-swiper__title {
    font-family: "Tahoma Bold", sans-serif;
    font-size: 39px;
    font-weight: 600;
    line-height: 1.12;
    color: #e7c28b;
}

.info-swiper__subtitle {
    font-family: "Tahoma Regular", sans-serif;
    font-size: 23px;
    line-height: 1.3;
    color: #FFF;
}

.info-swiper__link {
    font-family: "Tahoma Bold", sans-serif;
    background-color: #C0AE92;
    color: #000;
    font-weight: 700;
    padding: 4px 21px;
    border-radius: 14px;
    text-transform: uppercase;
}

.main-slider-nav {
    position: absolute;
    left: 0 !important;
    top: 300px !important;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
}

@media (max-width:1180px) {
    .main-slider-nav {
        top: 240px !important;
    }
}

.main-slider-nav .swiper-pagination-bullet {
    height: 20px;
    width: 20px;
    margin: 0 6px 0 0;
    background: url(../star-slider.png) no-repeat center;
    background-size: 100%;
    opacity: 1;
    cursor: pointer;
}

@media (max-width:800px) {
    .main-slider-nav {
        top: unset !important;
        right: unset !important;
        left: 50% !important;
        transform: translateX(-50%)!important;
        bottom: 23px;
    }

    .main-slider-nav .swiper-pagination-bullet {
        width: 12px;
    }
}

.main-slider-nav .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: url(../star-slider-hover.png) no-repeat center;
    background-size: 100%;
}