body.lock {
    overflow: hidden;
}

.mob-swiper__nav {
    position: absolute;
    width: 100%;
    top: 33%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    z-index: 1;
}

.mob-swiper__btn {
    width: 20px;
    height: 40px;
}

.mob-swiper__btn_prev {
    background: url("../mob-slider-left.png") no-repeat center center;
    background-size: 100%
}

.mob-swiper__btn_next {
    background: url("../mob-slider-right.png") no-repeat center center;
    background-size: 100%
}

.w100p {
    width: 100%;
}

.sidebar-swiper__nav {
}

.sidebar-swiper__btn {
    position: absolute;
    width: 100%;
    top: 25%;
    width: 20px;
    height: 20px;
    z-index: 1;
}

.sidebar-swiper__btn_half {
    top: 50%;
    transform: translateY(-50%);
}

.sidebar-swiper__btn_prev {
    left: 0;
    background: url(../arrow-left.png) no-repeat center center;
    background-size: 100%;
}

.sidebar-swiper__btn_next {
    right: 0;
    background: url(../arrow-right.png) no-repeat center center;
    background-size: 100%;
}

.double-ul-menu.opened {
    display: block;
}